Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

chore(cli): delete image files from package
  packages/cli/uploads/2ea17385c8039d78b15652d9f027b613.txt
  packages/cli/uploads/bd1272aa6b2a12a68687b832e11c418f.jpg
Due: none

feat(client): automatically remove __typename from mutation inputs
  packages/client/package.json
  packages/client/src/components/Root.js
Due: prettier --write, eslint --fix

docs: add question about tricky undefined in knex
  docs/config/upload-validations.js
  docs/content/faq.md
  docs/package.json
Due: prettier --write, eslint --fix

feat(db-manager): log individual migrations as they run
  packages/db-manager/package.json
  packages/db-manager/src/helpers/umzugStorage.js
  packages/db-manager/src/validations.js
Due: prettier --write, eslint --fix

refactor: separate pubsweet/ui and custom elements
  components/client/component-xpub-submit/src/components/FormTemplate.js
Due: prettier --write, eslint --fix

fix(jobxsweet): add node-wait-for-it dependency
  components/server/job-xsweet/Dockerfile
  components/server/job-xsweet/package.json
  components/server/job-xsweet/src/service_run.sh
  components/server/job-xsweet/src/wait-for-it.sh
Due: prettier --write

fix(jobxsweet): add node-wait-for-it dependency
  components/server/job-xsweet/Dockerfile
Due: none

chore: bump wax-prosemirror
  components/client/component-xpub-manuscript/package.json
  components/client/component-xpub-review-client/package.json
Due: prettier --write

feat(ui): use SSR-friendly UID generation in TextArea
  packages/ui/package.json
  packages/ui/src/atoms/TextArea.js
Due: prettier --write, eslint --fix

feat(ui): use SSR-friendly UID generation in TextField
  packages/ui/src/atoms/TextField.js
Due: prettier --write, eslint --fix

feat(ui): set a key for Menu items
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

feat(password-reset): use PubSweet's send-email component
  components/server/component-password-reset-server/package.json
  components/server/component-password-reset-server/src/resolvers.js
  components/server/component-password-reset-server/src/transport.js
  components/server/component-password-reset-server/test/password_reset_graphql_test.js
Due: prettier --write, eslint --fix

ci: fix CI after recent docker TLS changes
  .gitlab-ci.yml
Due: none

test: fix use of context in EditorItem's tests
  components/client/component-xpub-dashboard/src/components/sections/EditorItem.test.js
Due: prettier --write, eslint --fix

test: mock the correct Authorize component
  components/client/component-xpub-formbuilder/src/test/FormBuilderPage.integration.test.js
Due: prettier --write, eslint --fix

ci: attempt to fix CI TLS issues again
  .gitlab-ci.yml
Due: none

ci: specify docker dind according to GitLab docs
  .gitlab-ci.yml
Due: none

test(xpub-dashboard): slightly adjust testing approach
  components/client/component-xpub-dashboard/src/components/Dashboard.integration.test.js
  components/client/component-xpub-dashboard/src/components/Dashboard.test.js
  components/client/component-xpub-dashboard/src/components/DashboardPage.integration.test.js
Due: prettier --write, eslint --fix

feat(send-email): add support for test email URLs
  components/server/component-send-email/src/SendEmail.js
Due: prettier --write, eslint --fix

fix(ui): make the deprecated Title work again
  packages/ui/src/atoms/Title.js
Due: prettier --write, eslint --fix

docs: temporarily disable xpub-review component in the styleguide
  babel.config.js
  components/client/component-xpub-dashboard/package.json
  components/client/component-xpub-review-client/package.json
  components/client/component-xpub-review-client/src/components/assignEditors/AssignEditorsReviewers.js
  components/client/component-xpub-review-client/src/components/decision/Decision.js
  components/client/component-xpub-review-client/src/components/decision/DecisionForm.md
  components/client/component-xpub-review-client/src/components/decision/DecisionLayout.js
  components/client/component-xpub-review-client/src/components/decision/DecisionLayout.md
  components/client/component-xpub-review-client/src/components/review/ReviewForm.md
  docs/src/webpack-config.js
  docs/styleguide.config.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: bump dependencies
  yarn.lock
Due: none

style: adjust according to latest lint rules
  packages/client/src/index.js
  packages/server/src/graphql/definitions/upload.js
  packages/ui/src/atoms/Colorize.js
  packages/ui/test/Menu.test.js
Due: prettier --write, eslint --fix

test(client): wait for a promise to complete before asserting
  packages/client/.eslintrc
  packages/client/src/components/index.js
  packages/client/test/components/Root.test.jsx
  packages/client/test/helpers/Authorize.test.jsx
  packages/client/test/helpers/BaseAuthorize.test.jsx
Due: prettier --write, eslint --fix

feat: add placeholder package for create-pubsweet-app
  packages/create-pubsweet-app/package.json
Due: prettier --write

chore: remove unused dependencies using depcheck
  packages/base-model/package.json
  packages/cli/.nsprc
  packages/cli/package.json
  packages/cli/src/run-prompt.js
  packages/cli/src/startup/build.js
  packages/client/package.json
  packages/db-manager/.nsprc
  packages/db-manager/package.json
  packages/db-manager/src/commands/create-tables.js
  packages/default-theme/package.json
  packages/logger/package.json
  packages/models/package.json
  packages/server/.nsprc
  packages/server/package.json
  packages/server/src/setup.js
  packages/server/src/start-server.js
  packages/sse/package.json
  packages/sse/src/SSE.js
  packages/sse/test/pulsing_test.js
  packages/ui/package.json
Due: prettier --write, eslint --fix

chore(ui): migrate to @testing-libary/jest-dom
  package.json
  packages/ui/package.json
  packages/ui/test/Modal.test.js
  packages/ui/test/Pagination.test.js
  yarn.lock
Due: prettier --write, eslint --fix

build: use --delete-dir-on-start instead of rimraf
  package.json
  packages/client/package.json
  packages/ui/package.json
Due: prettier --write

build: simplify docker container and build packages
  Dockerfile
Due: none

chore(model-user): use latest compatible bcrypt
  components/server/model-user/package.json
  yarn.lock
Due: prettier --write

build: don't lint before building
  package.json
Due: prettier --write

ci: set HOME env
  Dockerfile
Due: none

test: fix integration test by pointing to new js path
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix

test(client): use act and wait for promises
  packages/client/test/helpers/Authorize.test.jsx
Due: prettier --write, eslint --fix

chore: migrate to @testing-library/react
  components/client/component-xpub-formbuilder/package.json
  components/client/component-xpub-review-client/package.json
  docs/package.json
  package.json
  packages/client/package.json
  packages/ui/test/Modal.test.js
  packages/ui/test/Pagination.test.js
  packages/ui/test/setup/enzyme.js
  yarn.lock
Due: prettier --write, eslint --fix

test(cli): adjust build path
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix
