Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

test: allow audit step to fail
  .gitlab-ci.yml
Due: none

docs: fix deployment of styleguide
  .gitlab-ci.yml
Due: none

docs: add new maintainers and MAINTAINERS.md
  MAINTAINERS.md
Due: prettier --write

test(signup): add initial docs and tests
  docs/assets/pubsweet-logo.svg
  docs/styleguide.config.js
  packages/components/Signup/Signup.md
  packages/components/Signup/src/Signup.jsx
  packages/components/Signup/test/Signup.test.jsx
Due: prettier --write, eslint --fix

test(signup): add snapshot
  packages/components/Signup/test/__snapshots__/Signup.test.jsx.snap
Due: none

chore: add MR and issue templates
  .gitlab/issue_templates/Bug.md
  .gitlab/merge_request_templates/Default.md
Due: prettier --write

feat(login): move login code into src folder
  packages/components/Login/index.js
  packages/components/Login/src/Login.jsx
  packages/components/Login/src/LoginContainer.js
  packages/components/Login/src/graphql/mutations/index.js
  packages/components/Login/test/Login.test.jsx
  packages/components/Login/test/LoginContainer.test.jsx
Due: prettier --write, eslint --fix

chore(sortable-list): move code according to standard
  packages/components/SortableList/index.js
  packages/components/SortableList/src/SortableList.js
  packages/components/SortableList/test/SortableList.test.js
Due: prettier --write, eslint --fix

fix(xpub): fix components in styleguide
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-manuscript/src/components/Manuscript.js
Due: prettier --write, eslint --fix

test(login): add snapshot
  packages/components/Login/test/__snapshots__/Login.test.jsx.snap
Due: none

fix(sortable-list): fix import/export/requires
  packages/components/SortableList/index.js
  packages/components/SortableList/src/index.js
  packages/components/SortableList/test/SortableList.test.js
Due: prettier --write, eslint --fix

fix(signup): use older version of recompose
  packages/components/Signup/package.json
  yarn.lock
Due: prettier --write

docs: add FAQ
  docs/content/faq.md
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

docs: add setup docs, fix theming and faq
  docs/content/advanced_theming.md
  docs/content/faq.md
  docs/content/setup.md
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

chore: move files in components to match standard
  packages/components/Login/index.js
  packages/components/Login/package.json
  packages/components/Login/src/Login.md
  packages/components/Login/src/index.js
  packages/components/Signup/index.js
  packages/components/Signup/package.json
  packages/components/Signup/src/Signup.md
  packages/components/Signup/src/index.js
  packages/components/SortableList/package.json
  packages/components/SortableList/src/SortableList.md
Due: prettier --write, eslint --fix

docs: add docs contributing docs
  docs/content/contributing.md
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

docs: add data model docs
  docs/content/what_are_components.md
Due: prettier --write

chore: update dependencies
  yarn.lock
Due: none

docs: clarify maintainer role and add release docs
  MAINTAINERS.md
  docs/content/contributing.md
Due: prettier --write

fix: safeguard require
  packages/models/package.json
  packages/models/src/index.js
  packages/server/src/graphql/schema.js
Due: prettier --write, eslint --fix

fix: remove some circular dependencies
  packages/base-model/package.json
  packages/db-manager/package.json
  packages/models/package.json
  packages/server/package.json
Due: prettier --write

fix(email-tamplating): use triple-stash in order not to escape HTML
  packages/components/EmailTemplating-server/src/templates/partials/invButtons.hbs
  packages/components/EmailTemplating-server/src/templates/partials/invManuscriptData.hbs
Due: none

feat(server): add tryRequireRelative helper
  packages/server/src/connectors/index.js
  packages/server/src/graphql/schema.js
  packages/server/src/helpers/tryRequireRelative.js
  packages/server/src/register-components.js
Due: prettier --write, eslint --fix

fix(model-collection): move models into peer dependencies
  packages/components/model-collection/package.json
Due: prettier --write

fix(db-manager): safeguard require
  packages/db-manager/src/helpers/migrationPaths.js
Due: prettier --write, eslint --fix

feat(ui): improve Link to accept external URLs
  packages/ui/src/atoms/Link.js
  packages/ui/src/atoms/Link.md
Due: prettier --write, eslint --fix

fix(ui): remove text-decoration none from Link
  packages/ui/src/atoms/Link.js
Due: prettier --write, eslint --fix

test(login): update snapshot with new SmartStyledLink
  packages/components/Login/test/__snapshots__/Login.test.jsx.snap
Due: none

chore: upgrade dependencies
  docs/package.json
  packages/client/package.json
  packages/client/src/components/AuthenticatedComponent.jsx
  packages/components/Login/package.json
  packages/components/Login/src/Login.jsx
  packages/components/Navigation/package.json
  packages/components/Signup/package.json
  packages/components/SortableList/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-journal/package.json
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-submit/package.json
  packages/components/xpub-teams-manager/package.json
  packages/components/xpub-upload/package.json
  packages/components/xpub-with-context/package.json
  packages/server/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: update yarn.lock
  yarn.lock
Due: none

chore: bump more deps
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/components/AWSS3-server/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-review-server/package.json
  packages/db-manager/package.json
  packages/logger/package.json
  packages/server/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write

test(signup): update snapshot
  packages/components/Signup/test/__snapshots__/Signup.test.jsx.snap
Due: none

chore: also update styleguide component locations
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

feat: migrate password reset's server component to GraphQL
  components/server/component-password-reset-server/CHANGELOG.md
  components/server/component-password-reset-server/config/test.js
  components/server/component-password-reset-server/package.json
  components/server/component-password-reset-server/src/index.js
  components/server/component-password-reset-server/src/resolvers.js
  components/server/component-password-reset-server/src/transport.js
  components/server/component-password-reset-server/src/typeDefs.js
  components/server/component-password-reset-server/test/jest-setup.js
  components/server/component-password-reset-server/test/password_reset_graphql_test.js
Due: prettier --write, eslint --fix

feat: client-side password reset component using graphql
  components/client/component-password-reset-client/CHANGELOG.md
  components/client/component-password-reset-client/package.json
  components/client/component-password-reset-client/src/PasswordReset.jsx
  components/client/component-password-reset-client/src/index.js
  components/client/component-password-reset-frontend/.babelrc
  components/client/component-password-reset-frontend/package.json
  components/server/component-password-reset-server/src/resolvers.js
Due: prettier --write, eslint --fix

chore: bump react-router
  components/client/component-xpub-dashboard/package.json
  components/client/component-xpub-manuscript/package.json
  components/client/component-xpub-submit/package.json
  components/client/xpub-upload/package.json
  docs/config/validations.js
  packages/client/package.json
  packages/ui/package.json
Due: prettier --write, eslint --fix
