Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

test(date-parser): add tests for this component
  packages/ui/src/atoms/DateParser.js
  packages/ui/src/atoms/DateParser.md
  packages/ui/test/DateParser.test.js
  packages/ui/test/__snapshots__/DateParser.test.js.snap
Due: prettier --write, eslint --fix

feat(ui): add darken-lighten functions to toolkit
  packages/coko-theme/src/elements/Button.js
  packages/ui-toolkit/index.js
  packages/ui-toolkit/package.json
  packages/ui-toolkit/src/darkenLighten.js
  packages/ui/src/atoms/Button.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(ui): add override shorthand for styled components
  packages/ui-toolkit/index.js
  packages/ui-toolkit/package.json
  packages/ui-toolkit/src/override.js
  packages/ui/src/atoms/Button.js
  packages/ui/src/molecules/Action.js
  packages/ui/src/molecules/ActionGroup.js
  packages/ui/src/molecules/AppBar.js
Due: prettier --write, eslint --fix

test(ui): update appbar snapshot
  packages/ui/test/__snapshots__/AppBar.test.js.snap
Due: none

fix(ui): make margin around headings equal on both sides for coko theme
  packages/coko-theme/src/elements/Heading.js
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
  packages/ui-toolkit/src/override.js
  packages/ui/src/atoms/Heading.js
Due: prettier --write, eslint --fix

fix(ui): remove max-width from TextField
  packages/ui/src/atoms/TextField.js
Due: prettier --write, eslint --fix

feat(components): add authsome to dashboard
  packages/components/xpub-dashboard/src/components/Dashboard.js
  packages/components/xpub-dashboard/src/components/DashboardPage.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
Due: prettier --write, eslint --fix

fix(components): change assigning editors to fragments
  packages/components/xpub-review-server/src/reviewBackend.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditorContainer.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditorsReviewers.js
  packages/components/xpub-review/src/redux/teams.js
Due: prettier --write, eslint --fix

fix(components): dasboard fixing multiple submissions
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-review-server/src/reviewBackend.js
Due: prettier --write, eslint --fix

fix(test): dashboard - reviewer test
  packages/components/xpub-dashboard/src/components/Dashboard.test.js
  packages/components/xpub-dashboard/src/components/DashboardPage.integration.test.js
  packages/components/xpub-review-server/src/reviewBackend.js
  packages/components/xpub-review-server/src/reviewBackend.test.js
Due: prettier --write, eslint --fix

fix(test): debug test on gitalb
  packages/components/xpub-review-server/src/reviewBackend.test.js
Due: prettier --write, eslint --fix

fix(test): gitlab error
  packages/components/xpub-review-server/src/reviewBackend.js
  packages/components/xpub-review-server/src/reviewBackend.test.js
Due: prettier --write, eslint --fix

fix(test): review backend test
  packages/components/xpub-review-server/src/reviewBackend.js
  packages/components/xpub-review-server/src/reviewBackend.test.js
Due: prettier --write, eslint --fix

fix(dashboard): empty dashboard collections
  packages/components/xpub-dashboard/src/components/Dashboard.js
  packages/components/xpub-dashboard/src/components/DashboardPage.js
Due: prettier --write, eslint --fix

fix(test): debugging on gitlab
  packages/components/xpub-review-server/src/reviewBackend.js
Due: prettier --write, eslint --fix

fix(components): revert assigning editors to version
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditorContainer.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditorsReviewers.js
  packages/components/xpub-review/src/redux/teams.js
Due: prettier --write, eslint --fix

fix(dashboard): section hide on empty
  packages/components/xpub-dashboard/src/components/Dashboard.js
Due: prettier --write, eslint --fix

fix(styleguide): compile authsome
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/styleguide/src/webpack-config.js
Due: prettier --write, eslint --fix

fix(dashboard): test change object dashboard
  packages/components/xpub-dashboard/src/components/Dashboard.test.js
Due: prettier --write, eslint --fix

fix(styleguide): add client to babel-loader path
  packages/styleguide/src/webpack-config.js
Due: prettier --write, eslint --fix

fix(styleguide): add and use simple authsome mode in styleguide
  packages/server/test/helpers/simple_authsome_mode.js
  packages/styleguide/config/default.js
Due: prettier --write, eslint --fix

fix(test): reviewer backend server
  packages/components/xpub-review-server/src/reviewBackend.test.js
Due: prettier --write, eslint --fix

fix(ui-toolkit): add babelrc file to ui toolkit
  packages/ui-toolkit/.babelrc
Due: none

fix(dashboard): remove regenerate import and add it to styleguide
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/styleguide/src/components/StyleGuideRenderer.js
Due: prettier --write, eslint --fix

fix(review-server): remove debug logs
  packages/components/xpub-review-server/src/reviewBackend.js
Due: prettier --write, eslint --fix

fix(toolkit-ui): add babelrc file for compile
  packages/ui-toolkit/.babelrc
Due: none

test(ui): update RadioGroup snapshot
  packages/ui/test/__snapshots__/RadioGroup.test.js.snap
Due: none

chore: use server instead of backend
  packages/client/test/components/actions.test.js
  packages/client/test/components/reducers.test.js
  packages/components/AWSS3-server/index.js
  packages/components/Epub/index.js
  packages/components/Ink-server/index.js
  packages/components/PasswordReset-server/index.js
  packages/components/xpub-review-server/src/index.js
  packages/server/test/mocks/mock_component.js
Due: prettier --write, eslint --fix

test(components): use server instead of backend
  packages/components/Epub/EpubBackend.test.js
  packages/components/PasswordReset-server/PasswordResetBackend.test.js
Due: prettier --write, eslint --fix

chore(server): use server instead of backend
  packages/server/src/register-components.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/components/AWSS3-server/CHANGELOG.md
  packages/components/AWSS3-server/package.json
  packages/components/Epub/CHANGELOG.md
  packages/components/Epub/package.json
  packages/components/Ink-server/CHANGELOG.md
  packages/components/Ink-server/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix(ui-toolkit): make package public
  packages/ui-toolkit/package.json
Due: prettier --write

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/coko-theme/CHANGELOG.md
  packages/coko-theme/package.json
  packages/components/CHANGELOG.md
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/package.json
  packages/components/xpub-connect/CHANGELOG.md
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/CHANGELOG.md
  packages/components/xpub-edit/package.json
  packages/components/xpub-find-reviewers/CHANGELOG.md
  packages/components/xpub-find-reviewers/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-styleguide/CHANGELOG.md
  packages/components/xpub-styleguide/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui-toolkit/CHANGELOG.md
  packages/ui-toolkit/package.json
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

fix(pubsweet-ui): tests are failing
  packages/client/package.json
  packages/components/Login/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-submit/package.json
Due: prettier --write

fix(pubsweet-ui): add yarn.lock
  yarn.lock
Due: none

fix(pubsweet): yarn lock update
  yarn.lock
Due: none

fix(linter): error
  packages/components/xpub-find-reviewers/src/components/AuthorLayout.js
  packages/components/xpub-find-reviewers/src/components/PaperLayout.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(dashboard): empty declaration object
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
Due: prettier --write, eslint --fix

fix(metadata): empty values
  packages/components/xpub-dashboard/src/components/metadata/Meta.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataOwners.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataSections.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataStreamLined.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataSubmittedDate.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataType.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.test.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
