Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

fix(components): load all users to control panel
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditorContainer.js
Due: prettier --write, eslint --fix

fix(components): load all users to control panel
  packages/components/xpub-review/src/components/assignEditors/AssignEditorContainer.js
Due: prettier --write, eslint --fix

fix(components): fix lint errors
  packages/components/xpub-review/src/components/assignEditors/AssignEditorContainer.js
Due: prettier --write, eslint --fix

feat(components): add assign editors to cp
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/decision/DecisionLayout.js
Due: prettier --write, eslint --fix

fix(components): align dropdown horizontally
  packages/components/xpub-review/src/components/molecules/Roles.js
Due: prettier --write, eslint --fix

fix(cli): change secret location
  packages/cli/cli/new.js
Due: prettier --write, eslint --fix

feat(server): remove owners as core concept
  packages/server/config/validations.js
  packages/server/src/models/Model.js
  packages/server/src/models/validations.js
  packages/server/src/routes/api_collections.js
  packages/server/src/routes/api_fragments.js
Due: prettier --write, eslint --fix

fix lint errors
  packages/components/xpub-submit/src/components/AuthorsInput.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(theme): update lockfile with new fonts
  yarn.lock
Due: none

fix(xpub-dashboard): correct styles for author manuscripts
  packages/coko-theme/src/index.js
  packages/components/xpub-dashboard/src/components/molecules/Actions.js
  packages/components/xpub-dashboard/src/components/molecules/Item.js
  packages/components/xpub-dashboard/src/components/molecules/Page.js
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-dashboard/src/components/sections/VersionTitle.js
Due: prettier --write, eslint --fix

style(ui): implement buttons according to default design
  packages/coko-theme/src/index.js
  packages/default-theme/src/index.js
  packages/styleguide/src/components/StyleGuideRenderer.js
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/Button.md
Due: prettier --write, eslint --fix

feat(theme): coko theme is in place
  packages/coko-theme/package.json
  packages/coko-theme/src/index.js
  packages/styleguide/src/components/StyleGuideRenderer.js
  packages/ui/src/atoms/TextField.js
Due: prettier --write, eslint --fix

fix(theme): simplify transitions
  packages/default-theme/src/index.js
  packages/ui/src/atoms/Radio.js
  packages/ui/src/atoms/StateItem.js
  packages/ui/src/atoms/UploadingFile.js
Due: prettier --write, eslint --fix

fix(theme): disable unused theme variable
  packages/default-theme/src/index.js
Due: prettier --write, eslint --fix

fix(theme): update theme colors
  packages/coko-theme/src/index.js
Due: prettier --write, eslint --fix

fix(theme): remove warning color
  packages/coko-theme/README.md
  packages/coko-theme/src/index.js
  packages/components/xpub-submit/src/components/Validot.js
  packages/components/xpub-submit/src/components/Validot.md
  packages/default-theme/src/index.js
  packages/elife-theme/src/index.js
  packages/theme/src/variables.css
  packages/ui/src/atoms/Colorize.js
  packages/ui/src/atoms/TextField.js
  packages/ui/src/atoms/ValidatedField.js
  packages/ui/src/atoms/ValidatedField.md
  packages/ui/src/molecules/YesOrNo.md
  packages/ui/test/setup/theme.js
Due: prettier --write, eslint --fix, stylelint

fix(ui): align logo with links in appbar
  packages/ui/src/molecules/AppBar.js
  packages/ui/src/molecules/AppBar.md
Due: prettier --write, eslint --fix

chore(ui): add error and success states for textfield
  packages/ui/src/atoms/TextField.md
Due: prettier --write

feat(ui): add action element
  packages/coko-theme/src/index.js
  packages/ui/src/molecules/Action.js
  packages/ui/src/molecules/Action.md
Due: prettier --write, eslint --fix

refactor(ui): apply action element on appbar
  packages/coko-theme/src/elements/Action.js
  packages/coko-theme/src/elements/AppBar.js
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
  packages/ui/src/molecules/Action.js
  packages/ui/src/molecules/Action.md
  packages/ui/src/molecules/AppBar.js
  packages/ui/src/molecules/AppBar.md
Due: prettier --write, eslint --fix

fix(ui): export action element
  packages/ui/src/molecules/index.js
Due: prettier --write, eslint --fix

fix(ui): revert to default theme as default for styleguide
  packages/styleguide/src/components/StyleGuideRenderer.js
Due: prettier --write, eslint --fix

test(ui): update snapshots
  packages/ui/test/__snapshots__/AppBar.test.js.snap
  packages/ui/test/__snapshots__/Radio.test.js.snap
  packages/ui/test/__snapshots__/RadioGroup.test.js.snap
  packages/ui/test/__snapshots__/StateItem.test.js.snap
  packages/ui/test/__snapshots__/StateList.test.js.snap
  packages/ui/test/__snapshots__/YesOrNo.test.js.snap
Due: none

feat(ui): add action group
  packages/coko-theme/src/elements/ActionGroup.js
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
  packages/ui/src/molecules/Action.js
  packages/ui/src/molecules/Action.md
  packages/ui/src/molecules/ActionGroup.js
  packages/ui/src/molecules/ActionGroup.md
Due: prettier --write, eslint --fix

refactor(ui): apply actiongroup to owner item in xpub dashboard
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/ui/src/molecules/ActionGroup.js
  packages/ui/src/molecules/index.js
Due: prettier --write, eslint --fix

test(ui): update snapshots
  packages/ui/test/__snapshots__/AppBar.test.js.snap
Due: none

refactor(theme): move each override in the coko theme to its own file
  packages/coko-theme/src/elements/Button.js
  packages/coko-theme/src/elements/TextField.js
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
Due: prettier --write, eslint --fix

refactor(ui): rewrite button in a less repetitive way
  packages/ui/src/atoms/Button.js
Due: prettier --write, eslint --fix

fix(xpub-edit): prevent editors from submitting form
  packages/components/xpub-edit/src/components/MenuButton.js
Due: prettier --write, eslint --fix

fix(ci): don't run CI for tags
  .gitlab-ci.yml
Due: none

chore(server): update bcrypt
  packages/server/package.json
  yarn.lock
Due: prettier --write

feat(server): add current and update state to update authorization
  packages/server/src/connectors/creators.js
  packages/server/src/routes/api_collections.js
  packages/server/src/routes/api_fragments.js
  packages/server/src/routes/api_teams.js
  packages/server/src/routes/api_users.js
  packages/server/test/helpers/authsome_mode.js
Due: prettier --write, eslint --fix

fix(theme): remove hardcoded color
  packages/coko-theme/src/elements/ActionGroup.js
Due: prettier --write, eslint --fix

fix(theme): enable boxShadow, even if it is not currently used anywhere
  packages/coko-theme/src/index.js
Due: prettier --write, eslint --fix

refactor(ui): abstract use of lodash get into th function
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/TextField.js
  packages/ui/src/helpers/themeHelper.js
  packages/ui/src/molecules/Action.js
  packages/ui/src/molecules/ActionGroup.js
  packages/ui/src/molecules/AppBar.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/CHANGELOG.md
  packages/components/xpub-edit/package.json
  packages/components/xpub-review-server/CHANGELOG.md
  packages/components/xpub-review-server/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write
