Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

fix(components): change back teams model to previous model
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/ReviewPage.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/decision/DecisionReviews.js
  packages/components/xpub-review/src/components/review/Review.js
  packages/components/xpub-review/src/components/review/ReviewForm.js
  packages/components/xpub-review/src/components/review/ReviewLayout.js
  packages/components/xpub-review/src/components/review/util.js
Due: prettier --write, eslint --fix

test: update snapshots
  packages/components/Login/__snapshots__/Login.test.jsx.snap
  packages/ui/src/atoms/TextField.js
  packages/ui/test/__snapshots__/AppBar.test.js.snap
  packages/ui/test/__snapshots__/List.test.js.snap
  packages/ui/test/__snapshots__/Menu.test.js.snap
Due: prettier --write, eslint --fix

fix: test fixes
  packages/client/src/components/Root.js
  packages/styleguide/package.json
  packages/styleguide/src/components/StyleGuideRenderer.js
Due: prettier --write, eslint --fix

chore: upgrade dependencies
  .gitlab-ci.yml
  packages/db-manager/package.json
  packages/logger/package.json
  packages/server/package.json
  packages/styleguide/config/default.js
  packages/styleguide/package.json
  packages/styleguide/src/webpack-config.js
  packages/styleguide/styleguide.config.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(migration): change temp dir to pubsweet migrate cwd
  packages/db-manager/src/helpers/umzug.js
Due: prettier --write, eslint --fix

fix: upgrade styled-normalize
  packages/client/package.json
  packages/styleguide/package.json
  yarn.lock
Due: prettier --write

chore: update react, react-dom and related dependencies
  yarn.lock
Due: none

test: update snapshots and tests
  packages/client/src/components/Root.js
  packages/client/test/components/Root.test.jsx
  packages/ui/test/__snapshots__/Accordion.test.js.snap
  packages/ui/test/__snapshots__/AlignmentBox.test.js.snap
  packages/ui/test/__snapshots__/AlignmentBoxWithLabel.test.js.snap
  packages/ui/test/__snapshots__/AlignmentTool.test.js.snap
  packages/ui/test/__snapshots__/AppBar.test.js.snap
  packages/ui/test/__snapshots__/CheckboxGroup.test.js.snap
  packages/ui/test/__snapshots__/DateParser.test.js.snap
  packages/ui/test/__snapshots__/FilePicker.test.js.snap
  packages/ui/test/__snapshots__/Files.test.js.snap
  packages/ui/test/__snapshots__/List.test.js.snap
  packages/ui/test/__snapshots__/Menu.test.js.snap
  packages/ui/test/__snapshots__/Radio.test.js.snap
  packages/ui/test/__snapshots__/RadioGroup.test.js.snap
  packages/ui/test/__snapshots__/StateItem.test.js.snap
  packages/ui/test/__snapshots__/StateList.test.js.snap
Due: prettier --write, eslint --fix

test: replace shallow with mount for YesOrNo
  packages/ui/package.json
  packages/ui/test/YesOrNo.test.js
  packages/ui/test/__snapshots__/YesOrNo.test.js.snap
  yarn.lock
Due: prettier --write, eslint --fix

test: update snapshots
  packages/ui/test/__snapshots__/AlignmentBox.test.js.snap
  packages/ui/test/__snapshots__/AlignmentBoxWithLabel.test.js.snap
  packages/ui/test/__snapshots__/AlignmentTool.test.js.snap
  packages/ui/test/__snapshots__/AppBar.test.js.snap
  packages/ui/test/__snapshots__/CheckboxGroup.test.js.snap
  packages/ui/test/__snapshots__/Files.test.js.snap
  packages/ui/test/__snapshots__/Menu.test.js.snap
  packages/ui/test/__snapshots__/Radio.test.js.snap
  packages/ui/test/__snapshots__/RadioGroup.test.js.snap
  packages/ui/test/__snapshots__/StateItem.test.js.snap
  packages/ui/test/__snapshots__/StateList.test.js.snap
Due: none

refactor(menu): updated optionLabel and added rest params as a prop
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

fix: add waait dependency
  packages/server/package.json
Due: prettier --write

fix(ui): add missing override for GlobalStyle
  packages/ui/src/atoms/GlobalStyle.js
Due: prettier --write, eslint --fix

style: fix linting errors
  packages/base-model/test/extended-data-model-component/src/graphql/index.js
  packages/cli/cli/server.js
  packages/client/src/components/AuthenticatedComponent.jsx
  packages/client/src/helpers/Authorize.jsx
  packages/components/Blog/BlogContainer.js
  packages/components/Blog/Summary.jsx
  packages/components/Epub/EpubBackend.test.js
  packages/components/HTML/HTMLContainer.js
  packages/components/Navigation/NavbarUser.jsx
  packages/components/Navigation/Navigation.jsx
  packages/components/PasswordReset-server/PasswordResetBackend.test.js
  packages/components/PostsManager/PostsManagerContainer.js
  packages/components/TeamsManager/src/TeamsManagerContainer.js
  packages/components/UsersManager/src/UsersManagerContainer.js
  packages/components/xpub-find-reviewers/src/components/Author.js
  packages/components/xpub-find-reviewers/src/components/PaperLayout.js
  packages/components/xpub-find-reviewers/src/lib/score.js
  packages/components/xpub-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderPage.js
  packages/components/xpub-formbuilder/src/components/builderComponents/Menu.js
  packages/components/xpub-formbuilder/src/server/formRequestBackend.js
  packages/components/xpub-review/src/components/reviewers/ReviewerContainer.js
  packages/components/xpub-submit/src/components/CurrentVersion.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-submit/src/components/Submit.js
  packages/components/xpub-submit/src/components/SubmitPage.js
  packages/server/src/graphql/definitions/upload.js
  packages/server/test/jobs/jobs_integration_test.js
  packages/sse/test/pulsing_test.js
  packages/ui/src/atoms/Colorize.js
  packages/ui/src/atoms/ValidatedField.js
  packages/ui/src/atoms/ValidatedFieldFormik.js
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

fix(xpub-manuscript): ensure file is present before accessing properties
  packages/components/xpub-manuscript/src/components/Manuscript.js
Due: prettier --write, eslint --fix

style: fix anonymous async function
  packages/server/test/helpers/simple_authsome_mode.js
Due: prettier --write, eslint --fix

feat(client): remove export of validations.js
  packages/client/src/index.js
  packages/client/src/validations.js
Due: prettier --write, eslint --fix

chore: remove validations from config
  packages/styleguide/config/default.js
Due: prettier --write, eslint --fix

chore: remove some unneeded
  packages/components/SortableList/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/package.json
  packages/components/xpub-find-reviewers/package.json
  packages/components/xpub-formbuilder/package.json
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/package.json
  packages/components/xpub-teams-manager/package.json
  packages/styleguide/package.json
  packages/styleguide/src/webpack-config.js
  packages/styleguide/styleguide.config.js
  packages/ui/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(xpub-edit): spaces are being eaten on firefox
  packages/components/xpub-edit/src/components/withStyles.js
Due: prettier --write, eslint --fix

test: update snapshots
  packages/ui/test/__snapshots__/Accordion.test.js.snap
  packages/ui/test/__snapshots__/DateParser.test.js.snap
  packages/ui/test/__snapshots__/FilePicker.test.js.snap
  packages/ui/test/__snapshots__/List.test.js.snap
Due: none

test: make migrations return a promise
  packages/db-manager/test/migrations/0002-app.js
  packages/db-manager/test/mocks/component/migrations/0001-component.js
Due: prettier --write, eslint --fix

test: update expected value
  packages/server/test/api_sse_disabled_test.js
Due: prettier --write, eslint --fix

test: stop pg-boss when database disappears
  packages/server/src/jobs/index.js
Due: prettier --write, eslint --fix

refactor(logger): simplify logger configuration
  packages/logger/src/index.js
Due: prettier --write, eslint --fix

feat(base-model): remove proxy for setting model properties
  packages/base-model/src/index.js
  packages/base-model/test/data-model-component/src/manuscript.js
  packages/base-model/test/extended_manuscript_test.js
  packages/base-model/test/manuscript_test.js
  packages/components/model-user/src/user.js
Due: prettier --write, eslint --fix

feat(server): recursively register extending components
  packages/server/src/register-components.js
Due: prettier --write, eslint --fix

feat: migrate Fragment to use BaseModel
  packages/components/model-fragment/.babelrc
  packages/components/model-fragment/README.md
  packages/components/model-fragment/package.json
  packages/components/model-fragment/src/api_fragments.js
  packages/components/model-fragment/src/fragment.js
  packages/components/model-fragment/src/graphql.js
  packages/components/model-fragment/src/index.js
  packages/components/model-fragment/src/migrations/1543163068-initial-fragment-migration.sql
  packages/db-manager/config/test.js
  packages/db-manager/src/commands/add-fragment.js
  packages/db-manager/test/commands/add-fragment.test.js
  packages/server/config/test.js
  packages/server/config/validations.js
  packages/server/src/index.js
  packages/server/src/models/Collection.js
  packages/server/src/models/Fragment.js
  packages/server/src/models/index.js
  packages/server/src/models/validations.js
  packages/server/src/routes/api.js
  packages/server/src/routes/api_fragments.js
  packages/server/test/model-extended-fragment/package.json
  packages/server/test/model-extended-fragment/src/extended_fragment.js
  packages/server/test/model-extended-fragment/src/graphql/index.js
  packages/server/test/model-extended-fragment/src/index.js
  packages/server/test/model-extended-fragment/src/migrations/1543166818-add-columns-to-fragment.sql
  yarn.lock
Due: prettier --write, eslint --fix

fix: return originalClose result
  packages/server/src/start-server.js
Due: prettier --write, eslint --fix

feat(email-template): decouple EmailTemplate class from where it is used
  packages/components/EmailTemplating-server/README.md
  packages/components/EmailTemplating-server/package.json
  packages/components/EmailTemplating-server/src/EmailTemplate.js
  packages/components/EmailTemplating-server/src/HTMLTemplateService.js
  packages/components/EmailTemplating-server/src/templates/partials/footer.hbs
  packages/components/EmailTemplating-server/src/templates/partials/invButtons.hbs
  packages/components/EmailTemplating-server/src/templates/partials/invHeader.hbs
  packages/components/EmailTemplating-server/src/templates/partials/invLowerContent.hbs
  packages/components/EmailTemplating-server/src/templates/partials/invManuscriptData.hbs
  packages/components/EmailTemplating-server/src/templates/partials/invUpperContent.hbs
  packages/components/EmailTemplating-server/src/templates/partials/signature.hbs
  packages/components/EmailTemplating-server/tests/HTMLTemplateService.test.js
Due: prettier --write, eslint --fix

chore(email-templating): update yarn.lock
  yarn.lock
Due: none

feat(server): migrate Collection to a model component
  packages/components/model-collection/.babelrc
  packages/components/model-collection/README.md
  packages/components/model-collection/package.json
  packages/components/model-collection/src/api_collections.js
  packages/components/model-collection/src/collection.js
  packages/components/model-collection/src/graphql.js
  packages/components/model-collection/src/index.js
  packages/components/model-collection/src/migrations/1543621173-initial-collection-migration.sql
  packages/server/config/test.js
  packages/server/config/validations.js
  packages/server/src/graphql/definitions/fragment.js
  packages/server/src/graphql/schema.js
  packages/server/src/helpers/authsome.js
  packages/server/src/index.js
  packages/server/src/models/Model.js
  packages/server/src/models/index.js
  packages/server/src/models/validations.js
  packages/server/src/routes/api.js
  packages/server/src/routes/api_collections.js
  packages/server/src/routes/util.js
  packages/server/src/setup-base.js
  packages/server/test/model-extended-collection/package.json
  packages/server/test/model-extended-collection/src/extended_collection.js
  packages/server/test/model-extended-collection/src/graphql/index.js
  packages/server/test/model-extended-collection/src/index.js
  packages/server/test/model-extended-collection/src/migrations/1543621635-add-columns-to-collections.sql
Due: prettier --write, eslint --fix

fix: various migration related fixes
  packages/base-model/src/index.js
  packages/base-model/test/extended_manuscript_graphql_test.js
  packages/base-model/test/extended_manuscript_test.js
  packages/base-model/test/manuscript_graphql_test.js
  packages/components/model-fragment/src/api_fragments.js
  packages/components/model-fragment/src/fragment.js
  packages/db-manager/config/test.js
  packages/db-manager/src/commands/add-collection.js
  packages/db-manager/src/validations.js
  packages/db-manager/test/commands/add-collection.test.js
  packages/server/test/helpers/authsome_mode.js
  packages/server/test/model-extended-fragment/src/extended_fragment.js
  packages/server/test/model-extended-fragment/src/migrations/1543166818-add-columns-to-fragment.sql
  packages/server/test/model_test.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): publish
  packages/base-model/CHANGELOG.md
  packages/base-model/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/Login/CHANGELOG.md
  packages/components/Login/package.json
  packages/components/model-collection/CHANGELOG.md
  packages/components/model-collection/package.json
  packages/components/model-fragment/CHANGELOG.md
  packages/components/model-fragment/package.json
  packages/components/model-team/CHANGELOG.md
  packages/components/model-team/package.json
  packages/components/model-user/CHANGELOG.md
  packages/components/model-user/package.json
  packages/components/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write

docs(email-templating): update description of the EmailTemplate Class
  packages/components/EmailTemplating-server/README.md
Due: prettier --write

fix(components): generals fixes on the components
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-dashboard/src/graphql/mutations/index.js
  packages/components/xpub-dashboard/src/graphql/queries/index.js
  packages/components/xpub-dashboard/src/lib/upload.js
  packages/components/xpub-formbuilder/src/components/ComponentProperties.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderLayout.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderPage.js
  packages/components/xpub-formbuilder/src/components/FormProperties.jsx
  packages/components/xpub-formbuilder/src/components/builderComponents/OptionsField.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
