Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

fix(coko theme): improve appbar ui for coko theme
  packages/coko-theme/src/elements/Action.js
  packages/coko-theme/src/elements/AppBar.js
Due: prettier --write, eslint --fix

feat(ui-toolkit): reuse animations
  packages/coko-theme/src/index.js
  packages/ui-toolkit/index.js
  packages/ui-toolkit/src/styles/fadeInOut.js
  packages/ui-toolkit/src/styles/rotate360.js
Due: prettier --write, eslint --fix

fix(send-email-server): use config package according to documentation
  packages/components/SendEmail-server/src/SendEmail.js
Due: prettier --write, eslint --fix

feat: add addFragment to dbmanager
  packages/db-manager/src/commands/add-collection.js
  packages/db-manager/src/commands/add-fragment.js
  packages/db-manager/src/index.js
  packages/server/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(dashboard): add actions to dashboard editorItem
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
Due: prettier --write, eslint --fix

fix(logger): fix typo in README
  packages/logger/README.md
Due: prettier --write

fix: add content-type to delete file middleware
  packages/components/AWSS3-server/src/routeHandlers/deleteFile.js
Due: prettier --write, eslint --fix

feat: upgrade to babel 7
  package.json
  packages/client/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-dashboard/src/components/Dashboard.js
  packages/components/xpub-edit/package.json
  packages/components/xpub-find-reviewers/package.json
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/package.json
  packages/components/xpub-styleguide/package.json
  packages/components/xpub-submit/package.json
  packages/styleguide/package.json
  packages/styleguide/src/webpack-config.js
  packages/ui/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: undid change to page text
  packages/components/xpub-dashboard/src/components/Dashboard.js
Due: prettier --write, eslint --fix

feat: remove extraneous brackets
  packages/db-manager/src/commands/add-collection.js
Due: prettier --write, eslint --fix

feat: unit tests for add fragment
  packages/db-manager/test/commands/add-collection.test.js
  packages/db-manager/test/commands/add-fragment.test.js
Due: prettier --write, eslint --fix

chore(client): update apollo client
  packages/client/package.json
  yarn.lock
Due: prettier --write

feat: removed unused babel plugin
  packages/server/package.json
  yarn.lock
Due: prettier --write

refactor(elife-theme): remove elife-theme from this repository
  packages/elife-theme/CHANGELOG.md
  packages/elife-theme/README.md
  packages/elife-theme/package.json
  packages/elife-theme/src/fonts/249228f0-61ac-40cc-a5a5-5609c9816e3f.woff2
  packages/elife-theme/src/fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2
  packages/elife-theme/src/fonts/efba18ed-80cc-49c4-997a-fbb140739d19.woff
  packages/elife-theme/src/fonts/f26faddb-86cc-4477-a253-1e1287684336.woff
  packages/elife-theme/src/fonts/index.css
  packages/elife-theme/src/index.js
Due: prettier --write, eslint --fix, stylelint

chore(client): export Authorize
  packages/client/src/index.js
Due: prettier --write, eslint --fix

fix(styleguide): include babel-polyfill for styleguide
  packages/styleguide/styleguide.config.js
Due: prettier --write, eslint --fix

fix(polling server): locking and unlocking handled in server now
  packages/components/Polling-server/PollingServer.js
  packages/components/Polling-server/package.json
Due: prettier --write, eslint --fix

feat: add figure and figcaption on export
  packages/components/Epub/converters/wax.js
Due: prettier --write, eslint --fix

fix(elife-theme): use elifesciences org instead of pubsweet for theme
  packages/styleguide/package.json
  packages/styleguide/src/components/StyleGuideRenderer.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(theme-plugin): remove theme-plugin from jest coverage
  package.json
Due: prettier --write

fix(epub): add code snippets to epub export
  packages/components/Epub/converters/wax.js
  packages/components/Epub/themes/default.css
Due: prettier --write, eslint --fix, stylelint

feat: add highlight js to export
  packages/components/Epub/converters/wax.js
  packages/components/Epub/package.json
  packages/components/Epub/themes/default.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat: update to code block style
  packages/components/Epub/themes/default.css
Due: prettier --write, stylelint

feat: styles for the figcaption
  packages/components/Epub/themes/default.css
Due: prettier --write, stylelint

chore(server): update README
  packages/server/README.md
Due: prettier --write

fix: linting errors
  packages/components/Epub/converters/wax.js
  packages/components/Epub/themes/default.css
Due: prettier --write, eslint --fix, stylelint

fix(submit): add text SubNotes to submit
  packages/components/xpub-submit/package.json
  packages/components/xpub-submit/src/components/Declarations.js
  packages/components/xpub-submit/src/components/Notes.js
  packages/components/xpub-submit/src/components/SupplementaryFiles.js
  packages/components/xpub-submit/src/styles/index.js
Due: prettier --write, eslint --fix

fix(submit): change texts get from config
  packages/components/xpub-submit/src/components/Notes.js
Due: prettier --write, eslint --fix

chore(wax): use latest version of wax
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/package.json
  yarn.lock
Due: prettier --write

fix(components): prevent Delete when paper is submitted status
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
Due: prettier --write, eslint --fix

fix(ui): fix bad value in darken
  packages/ui/src/atoms/Button.js
Due: prettier --write, eslint --fix

fix(dashboard): make use of authorize
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
Due: prettier --write, eslint --fix

fix(authorize): add authorize to hide delete
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
Due: prettier --write, eslint --fix

feat: remove line that adds first fragment to collection
  packages/db-manager/src/commands/add-collection.js
  packages/db-manager/test/commands/add-collection.test.js
Due: prettier --write, eslint --fix

feat(xpub-edit): allow menu icons to be configured
  packages/components/xpub-edit/src/components/configurable/ConfigurableEditor.js
  packages/components/xpub-edit/src/components/configurable/ConfigurableEditor.md
  packages/components/xpub-edit/src/components/configurable/EditorOptions.js
  packages/components/xpub-edit/src/components/configurable/config/config.test.js
  packages/components/xpub-edit/src/components/configurable/config/index.js
Due: prettier --write, eslint --fix

feat: make headings more reusable
  packages/ui/src/atoms/Heading.js
Due: prettier --write, eslint --fix

feat(xpub-edit): add CSS override hooks
  packages/components/xpub-edit/src/components/MenuBar.js
  packages/components/xpub-edit/src/components/MenuButton.js
  packages/components/xpub-edit/src/components/withStyles.js
Due: prettier --write, eslint --fix

feat(ui): add css overrides to TextField.Root and TextField.Label
  packages/ui/src/atoms/TextField.js
Due: prettier --write, eslint --fix
