Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

fix(ui): changed the colors for checkbox for coko-theme
  packages/coko-theme/src/elements/Checkbox.js
Due: prettier --write, eslint --fix, stylelint

fix(ui): updated style for the checkbox for coko-theme
  packages/coko-theme/src/elements/Checkbox.js
Due: prettier --write, eslint --fix, stylelint

docs: fixed broken links and markdown syntax
  docs/content/how_do_you_create_a_component.md
  docs/content/using_themes.md
  docs/content/what_are_components.md
  docs/content/why_authsome.md
Due: prettier --write

feat(base-model): accept existing transaction in save()
  packages/base-model/src/index.js
  packages/base-model/test/manuscript_test.js
Due: prettier --write, eslint --fix, stylelint

fix(client): improve stripTypenames for null variables
  packages/client/src/components/Root.js
Due: prettier --write, eslint --fix, stylelint

test(client): add test for stripTypenames
  packages/client/src/components/Root.js
  packages/client/test/components/Root.test.jsx
Due: prettier --write, eslint --fix, stylelint

feat(model-user): use defaultIdentityId on user for default identity
  components/server/model-user/src/migrations/1580908536-add-identities.sql
  components/server/model-user/src/migrations/1581371297-migrate-users-to-identities.js
  components/server/model-user/src/user.js
Due: prettier --write, eslint --fix, stylelint

refactor(model-user): make migrations easer by keeping email/password
  components/server/model-user/src/graphql.js
  components/server/model-user/src/identity.js
  components/server/model-user/src/migrations/1580908536-add-identities.sql
  components/server/model-user/src/migrations/1581371297-migrate-users-to-identities.js
  components/server/model-user/src/user.js
  components/server/model-user/test/1581371297-migrate-users-to-identities_test.js
Due: prettier --write, eslint --fix, stylelint

refactor(model-user): drops the framents & collections columns on user
  components/server/model-user/src/migrations/1582930582-drop-fragments-and-collections.js
Due: prettier --write, eslint --fix, stylelint

fix(model-user): expose email on the user type too
  components/server/model-user/src/graphql.js
Due: prettier --write, eslint --fix, stylelint

test(model-user): get User from @pubsweet/models
  components/server/component-password-reset-server/test/password_reset_graphql_test.js
  components/server/model-fragment/test/fragment_graphql_test.js
  components/server/model-team/test/1548205275-move-members_test.js
  components/server/model-team/test/team_graphql_test.js
  components/server/model-team/test/team_test.js
  packages/base-model/test/extended_manuscript_graphql_test.js
  packages/base-model/test/manuscript_graphql_test.js
  packages/server/test/api_file_upload_test.js
  packages/server/test/api_locals_test.js
  packages/server/test/graphql/authentication_test.js
  packages/server/test/graphql/errors_test.js
  packages/server/test/graphql/mutations_test.js
  packages/server/test/graphql/subscriptions_test.js
  packages/server/test/graphql/upload_test.js
  packages/server/test/model_test.js
Due: prettier --write, eslint --fix, stylelint

update dependencies
  components/server/job-xsweet/package.json
Due: prettier --write

version correction
  components/server/job-xsweet/package.json
Due: prettier --write

fix(coko-theme): do not show checbox background/state on hover
  packages/coko-theme/src/elements/Checkbox.js
Due: prettier --write, eslint --fix, stylelint

feat(client): use dist as main
  packages/client/package.json
Due: prettier --write

fix(ui): only use main, not module
  packages/ui/package.json
Due: prettier --write

test(model-user): add model test for local & external identities
  components/server/model-user/test/identity_test.js
Due: prettier --write, eslint --fix, stylelint

feat(model-user): allow multiple identities with isDefault false
  components/server/model-user/src/migrations/1580908536-add-identities.sql
  components/server/model-user/test/fixtures.js
  components/server/model-user/test/identity_test.js
Due: prettier --write, eslint --fix, stylelint

feat(model-user): handle password check if password hash does not exist
  components/server/model-user/src/user.js
  components/server/model-user/test/user_test.js
  packages/server/test/model_test.js
Due: prettier --write, eslint --fix, stylelint

fix(server): fix loaders for multiple models per package
  packages/server/src/graphql/loaders.js
Due: prettier --write, eslint --fix, stylelint

feat(ui): added Select component using react-select
  packages/ui/package.json
  packages/ui/src/molecules/Select.js
  packages/ui/src/molecules/index.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat(ui): added SelectDropdown component build with Select
  packages/ui/src/molecules/SelectDropdown.js
  packages/ui/src/molecules/SelectDropdown.md
  packages/ui/src/molecules/index.js
Due: prettier --write, eslint --fix, stylelint

fix(ui): styled dropdownIndicator for Select
  packages/ui/src/molecules/Select.js
Due: prettier --write, eslint --fix, stylelint

fix(ui): added more styles and fixed a typo
  packages/ui/src/molecules/Select.js
  packages/ui/src/molecules/SelectDropdown.js
  packages/ui/src/molecules/SelectDropdown.md
Due: prettier --write, eslint --fix, stylelint

fix(model-user): re-add admin property in schema
  components/server/model-user/src/graphql.js
Due: prettier --write, eslint --fix, stylelint

docs(base-model): simplify BaseModel documentation
  packages/base-model/README.md
Due: prettier --write

docs(model-user): add initial README
  components/server/model-user/README.md
Due: prettier --write

docs: simplify styleguide
  components/server/component-aws-s3/README.md
  components/server/component-email-templating/README.md
  components/server/component-send-email/README.md
  components/server/job-xsweet/README.md
  docs/styleguide.config.js
Due: prettier --write, eslint --fix, stylelint

chore: bump dependencies
  yarn.lock
Due: none

chore: update objection.js dependency
  components/server/component-aws-s3/package.json
  packages/base-model/package.json
  packages/db-manager/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

fix(ui): added styling to Select component and custom dropdownIndicator
  packages/ui/src/molecules/Select.js
  packages/ui/src/molecules/SelectDropdown.js
  packages/ui/src/molecules/SelectDropdown.md
Due: prettier --write, eslint --fix, stylelint

fix(ui): added styling and more options to Select componet
  packages/ui/src/molecules/Select.js
  packages/ui/src/molecules/SelectDropdown.md
Due: prettier --write, eslint --fix, stylelint

fix(ui): export Paragraph in ui's atoms
  packages/ui/src/atoms/index.js
Due: prettier --write, eslint --fix, stylelint

feat(component-email-template): add cc and bcc email receivers
  components/server/component-email-templating/config/mailer-mock.js
  components/server/component-email-templating/config/test.js
  components/server/component-email-templating/src/EmailTemplate.js
  components/server/component-email-templating/test/jest-setup.js
Due: prettier --write, eslint --fix, stylelint

docs(component-email-template): add docs on cc and bcc recipients
  components/server/component-email-templating/README.md
Due: prettier --write

test(component-email-template): configure tests
  components/server/component-email-templating/config/mailer-mock.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{js, jsx})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{js, jsx}
