Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

fix(components): html parse, styled components
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/ReviewPage.js
  packages/components/xpub-submit/src/components/SubmittedVersion.js
  packages/components/xpub-submit/src/components/molecules/Accordion.js
Due: prettier --write, eslint --fix

fix(components): dashboard if statment reject
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
Due: prettier --write, eslint --fix

fix(components): linter
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-submit/src/components/CurrentVersionPage.js
Due: prettier --write, eslint --fix

fix(components): fix linting issues
  packages/components/xpub-submit/src/components/DecisionReviewColumn.js
Due: prettier --write, eslint --fix

fix(components): merge two commponets two one
  packages/components/xpub-submit/src/components/CurrentVersion.js
  packages/components/xpub-submit/src/components/CurrentVersionPage.js
  packages/components/xpub-submit/src/components/DecisionReviewColumn.js
  packages/components/xpub-submit/src/components/Declarations.js
  packages/components/xpub-submit/src/components/MetadataFields.js
  packages/components/xpub-submit/src/components/Notes.js
  packages/components/xpub-submit/src/components/Submit.js
  packages/components/xpub-submit/src/components/SubmitPage.js
  packages/components/xpub-submit/src/components/SubmittedVersion.js
  packages/components/xpub-submit/src/components/Suggestions.js
  packages/components/xpub-submit/src/components/SupplementaryFiles.js
  packages/components/xpub-submit/src/components/atoms/AdminSection.js
  packages/components/xpub-submit/src/components/atoms/Tab.js
  packages/components/xpub-submit/src/components/atoms/Tab.md
  packages/components/xpub-submit/src/components/atoms/Tabs.js
  packages/components/xpub-submit/src/components/atoms/Tabs.md
Due: prettier --write, eslint --fix

fix(components): review page layout
  packages/components/xpub-review/src/components/ReviewPage.js
  packages/components/xpub-review/src/components/review/ReviewLayout.js
  packages/components/xpub-selectors/src/index.js
  packages/components/xpub-submit/src/components/Submit.js
Due: prettier --write, eslint --fix

fix(components): lint issues
  packages/components/xpub-review/src/components/review/ReviewLayout.js
Due: prettier --write, eslint --fix

fix(components): redux form
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/decision/DecisionLayout.js
Due: prettier --write, eslint --fix

fix(xpub-edit): ensure config is not regenerated on each render
  packages/components/package.json
  packages/components/xpub-edit/package.json
  packages/components/xpub-edit/src/components/Editor.js
  packages/components/xpub-edit/src/components/HtmlEditor.js
  packages/components/xpub-edit/src/components/HtmlViewer.js
  packages/components/xpub-edit/src/components/configurable/ConfigurableEditor.js
  packages/components/xpub-edit/src/components/configurable/ConfigurableEditor.md
  packages/components/xpub-edit/src/components/configurable/ConfigurableViewer.js
  packages/components/xpub-edit/src/components/configurable/ConfigurableViewer.md
  packages/components/xpub-edit/src/components/configurable/EditorOptions.js
  packages/components/xpub-edit/src/components/configurable/EditorOptions.test.js
  packages/components/xpub-edit/src/components/configurable/config/config.test.js
  packages/components/xpub-edit/src/components/configurable/config/index.js
  packages/components/xpub-edit/src/components/configurable/config/keys.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/coko-theme/CHANGELOG.md
  packages/coko-theme/package.json
  packages/components/CHANGELOG.md
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-connect/CHANGELOG.md
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/CHANGELOG.md
  packages/components/xpub-edit/package.json
  packages/components/xpub-find-reviewers/CHANGELOG.md
  packages/components/xpub-find-reviewers/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-styleguide/CHANGELOG.md
  packages/components/xpub-styleguide/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

build(styleguide): update review metadata
  packages/components/xpub-review/src/components/decision/DecisionLayout.md
  packages/components/xpub-review/src/components/metadata/ReviewMetadata.md
  packages/components/xpub-review/src/components/review/ReviewLayout.md
Due: prettier --write

build(styleguide): update styleguide paths to new component location
  packages/components/xpub-dashboard/src/components/sections/EditorItem.md
  packages/styleguide/package.json
  packages/styleguide/src/webpack-config.js
  packages/styleguide/styleguide.config.js
Due: prettier --write, eslint --fix

chore(ui): write clearer docs for actions
  packages/ui/src/molecules/Action.md
Due: prettier --write

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-connect/CHANGELOG.md
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/CHANGELOG.md
  packages/components/xpub-edit/package.json
  packages/components/xpub-find-reviewers/CHANGELOG.md
  packages/components/xpub-find-reviewers/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-selectors/CHANGELOG.md
  packages/components/xpub-selectors/package.json
  packages/components/xpub-styleguide/CHANGELOG.md
  packages/components/xpub-styleguide/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

feat(aws-s3): file download and select zip file types
  packages/components/AWSS3-server/src/routeHandlers/getSignedUrl.js
  packages/components/AWSS3-server/src/routeHandlers/zipFiles.js
Due: prettier --write, eslint --fix

chore(aws-s3): update readme
  packages/components/AWSS3-server/README.md
Due: prettier --write

fix: use MIT on all package.json files
  packages/components/package.json
  packages/components/xpub-edit/package.json
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-styleguide/package.json
  packages/jest-environment-db/package.json
  packages/styleguide/package.json
  packages/ui/package.json
Due: prettier --write

fix: use one file at monorepo root
  LICENSE
  packages/db-manager/LICENSE
  packages/logger/LICENSE
  packages/server/LICENSE
Due: none

fix(aws-s3): add end when sending 204
  packages/components/AWSS3-server/src/routeHandlers/deleteFile.js
  packages/components/AWSS3-server/src/routeHandlers/zipFiles.js
Due: prettier --write, eslint --fix

fix(components): upload diasble during converting
  packages/components/xpub-dashboard/src/components/UploadManuscript.js
Due: prettier --write, eslint --fix

fix(components): authors assigning problem
  packages/components/xpub-review/src/components/assignEditors/AssignEditorContainer.js
  packages/components/xpub-review/src/redux/teams.js
Due: prettier --write, eslint --fix

fix(components): cases with empty editors suggestions
  packages/components/xpub-review/src/components/metadata/ReviewMetadata.js
Due: prettier --write, eslint --fix

fix(components): submit submitted versions
  packages/components/xpub-submit/src/components/Suggestions.js
Due: prettier --write, eslint --fix

fix(components): rewrite conditional checks to more clean
  packages/components/xpub-submit/src/components/Suggestions.js
Due: prettier --write, eslint --fix

fix(components): delete unneeded line
  packages/components/xpub-review/src/components/metadata/ReviewMetadata.js
Due: prettier --write, eslint --fix

fix(components): add tests to suggestions component
  packages/components/xpub-submit/src/components/Suggestions.test.js
Due: prettier --write, eslint --fix

test(team reducer): tests added and refactoring of reducer
  packages/client/src/reducers/teams.js
  packages/client/test/reducers/teams.test.js
Due: prettier --write, eslint --fix

refactor(teams reducer): revert logic of delete
  packages/client/src/reducers/teams.js
Due: prettier --write, eslint --fix

feat(elife-theme): add more (missing) colors to elife-theme
  packages/elife-theme/src/index.js
Due: prettier --write, eslint --fix

fix(components): use Tabs from pubsweet ui
  packages/components/xpub-review/src/components/atoms/Tab.js
  packages/components/xpub-review/src/components/atoms/Tab.md
  packages/components/xpub-review/src/components/atoms/Tabs.js
  packages/components/xpub-review/src/components/atoms/Tabs.md
  packages/components/xpub-review/src/components/decision/DecisionLayout.js
  packages/components/xpub-review/src/components/review/ReviewLayout.js
Due: prettier --write, eslint --fix

style(elife-theme): update colorFurniture value to #e0e0e0
  packages/elife-theme/src/index.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-connect/CHANGELOG.md
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/CHANGELOG.md
  packages/components/xpub-edit/package.json
  packages/components/xpub-find-reviewers/CHANGELOG.md
  packages/components/xpub-find-reviewers/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-styleguide/CHANGELOG.md
  packages/components/xpub-styleguide/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/elife-theme/CHANGELOG.md
  packages/elife-theme/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix(aws-s3): handle case when no files were found
  packages/components/AWSS3-server/src/FileBackend.test.js
  packages/components/AWSS3-server/src/routeHandlers/zipFiles.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): publish
  packages/components/AWSS3-server/CHANGELOG.md
  packages/components/AWSS3-server/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: prettier --write

fix(components): submit button show
  packages/components/xpub-submit/src/components/CurrentVersion.js
Due: prettier --write, eslint --fix

feat(date-parser): add new ui component that parses timestamps
  packages/ui/package.json
  packages/ui/src/atoms/DateParser.js
  packages/ui/src/atoms/DateParser.md
  packages/ui/src/atoms/index.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(ui): fix stacking of Radio components
  packages/ui/src/molecules/RadioGroup.js
Due: prettier --write, eslint --fix

feat(ui): add scaling function to ui-toolkit
  packages/coko-theme/src/index.js
  packages/ui-toolkit/index.js
  packages/ui-toolkit/src/headingScale.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
