Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

fix(password-reset-server): align mailer config with send email
  packages/components/PasswordReset-server/transport.js
Due: prettier --write, eslint --fix

chore: remove why-node-is-running
  package.json
Due: prettier --write

docs: add minimal docs to @pubsweet/models
  packages/models/README.md
Due: prettier --write

fix(login): redirect to the dashboard
  packages/components/Login/Login.jsx
  packages/components/Login/graphql/LoginContainer.js
  packages/components/Login/graphql/LoginContainer.test.jsx
Due: prettier --write, eslint --fix

fix(login): error on integration test failed login
  packages/components/Login/graphql/LoginContainer.js
Due: prettier --write, eslint --fix

chore: update webpack-dev-server with resolution
  package.json
  yarn.lock
Due: prettier --write

fix(submit): intro template
  packages/components/xpub-submit/src/components/FormTemplate.js
Due: prettier --write, eslint --fix

fix(submit): intro template fix eslint
  packages/components/xpub-submit/src/components/FormTemplate.js
Due: prettier --write, eslint --fix

fix(submit): intro template fix eslint
  packages/server/test/api_users_test.js
Due: prettier --write, eslint --fix

chore: upgrade dependencies
  packages/components/AWSS3-server/package.json
  packages/server/package.json
  packages/styleguide/package.json
  yarn.lock
Due: prettier --write

fix: get just the db
  packages/base-model/src/index.js
Due: prettier --write, eslint --fix

chore: update test snapshots
  packages/components/Login/__snapshots__/Login.test.jsx.snap
  packages/ui/test/__snapshots__/List.test.js.snap
Due: none

chore: harmonize dependency updates
  packages/components/Login/package.json
  packages/components/Signup/package.json
  packages/components/xpub-formbuilder/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

chore: update Login test snapshots
  packages/components/Login/__snapshots__/Login.test.jsx.snap
  yarn.lock
Due: none

chore: remove runtime dependency on server
  packages/base-model/package.json
  packages/base-model/src/NotFoundError.js
  packages/base-model/src/index.js
  packages/components/FormGroup/package.json
Due: prettier --write, eslint --fix

feat: add @pubsweet/errors
  packages/base-model/package.json
  packages/base-model/src/index.js
  packages/components/model-collection/package.json
  packages/components/model-fragment/package.json
  packages/components/model-fragment/src/api_fragments.js
  packages/components/model-user/package.json
  packages/components/model-user/src/api_users.js
  packages/components/model-user/src/user.js
  packages/components/xpub-review-server/package.json
  packages/components/xpub-review-server/src/reviewBackend.js
  packages/errors/CHANGELOG.md
  packages/errors/README.md
  packages/errors/package.json
  packages/errors/src/AuthorizationError.js
  packages/errors/src/ConflictError.js
  packages/errors/src/NotFoundError.js
  packages/errors/src/ValidationError.js
  packages/errors/src/index.js
  packages/server/package.json
  packages/server/src/errors/NotFoundError.js
  packages/server/src/helpers/authorization.js
  packages/server/src/routes/util.js
Due: prettier --write, eslint --fix

chore: downgrade bcrypt
  packages/components/model-user/package.json
  packages/server/package.json
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

test(cli): reenable integration tests
  packages/cli/cli/setupdb.js
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix

chore: remove HTML component
  packages/components/HTML/CHANGELOG.md
  packages/components/HTML/HTML.jsx
  packages/components/HTML/HTML.md
  packages/components/HTML/HTML.test.jsx
  packages/components/HTML/HTMLContainer.js
  packages/components/HTML/HTMLContainer.test.jsx
  packages/components/HTML/index.js
  packages/components/HTML/package.json
Due: prettier --write, eslint --fix

chore: remove update subscriber
  packages/components/Navigation/NavbarUser.jsx
Due: prettier --write, eslint --fix

chore: add missing dependencies
  packages/components/Login/package.json
  packages/components/xpub-formbuilder/package.json
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/package.json
  packages/components/xpub-teams-manager/package.json
  yarn.lock
Due: prettier --write

feat(component): new component simple form
  packages/components/xpub-simple-formbuilder/CHANGELOG.md
  packages/components/xpub-simple-formbuilder/README.md
  packages/components/xpub-simple-formbuilder/package.json
  packages/components/xpub-simple-formbuilder/src/components/ComponentProperties.jsx
  packages/components/xpub-simple-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-simple-formbuilder/src/components/FormBuilderLayout.jsx
  packages/components/xpub-simple-formbuilder/src/components/FormBuilderLayout.md
  packages/components/xpub-simple-formbuilder/src/components/FormBuilderPage.js
  packages/components/xpub-simple-formbuilder/src/components/FormProperties.jsx
  packages/components/xpub-simple-formbuilder/src/components/atoms/Columns.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/AbstractField.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/CheckBox.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/Menu.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/OptionsField.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/RadioBox.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/TextArea.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/TextField.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/index.js
  packages/components/xpub-simple-formbuilder/src/components/config/Elements.js
  packages/components/xpub-simple-formbuilder/src/components/index.js
  packages/components/xpub-simple-formbuilder/src/components/molecules/Page.js
  packages/components/xpub-simple-formbuilder/src/components/styles/index.js
  packages/components/xpub-simple-formbuilder/src/index.js
  packages/components/xpub-simple-formbuilder/src/server/formRequestBackend.js
  packages/components/xpub-simple-formbuilder/src/server/util.js
  packages/components/xpub-simple-formbuilder/src/test/FormBuilder.test.js
  packages/components/xpub-simple-formbuilder/src/test/FormBuilderLayout.test.js
  packages/components/xpub-simple-formbuilder/src/test/FormBuilderPage.integration.test.js
  packages/components/xpub-simple-formbuilder/src/test/config/noforms.json
  packages/components/xpub-simple-formbuilder/src/test/config/test.json
  packages/components/xpub-simple-formbuilder/src/test/config/testnoelements.json
  packages/components/xpub-simple-formbuilder/src/test/util.js
Due: prettier --write, eslint --fix

feat(simpleformbuilder): base structure of the formbuilder
  packages/components/xpub-simple-formbuilder/src/Form.js
  packages/components/xpub-simple-formbuilder/src/Layout.js
  packages/components/xpub-simple-formbuilder/src/core/Adapter.js
  packages/components/xpub-simple-formbuilder/src/core/FactoryLibrary.js
  packages/components/xpub-simple-formbuilder/src/core/LayoutAbstract.js
  packages/components/xpub-simple-formbuilder/src/index.js
  packages/components/xpub-simple-formbuilder/src/ui/Ui.js
  packages/components/xpub-simple-formbuilder/src/ui/UiAdapter.js
Due: prettier --write, eslint --fix

feat(simpleform): add graphql and easy way to integrate to page
  packages/components/xpub-simple-formbuilder/package.json
  packages/components/xpub-simple-formbuilder/src/Form.js
  packages/components/xpub-simple-formbuilder/src/Layout.js
  packages/components/xpub-simple-formbuilder/src/core/LayoutAbstract.js
  packages/components/xpub-simple-formbuilder/src/ui/UiAdapter.js
Due: prettier --write, eslint --fix

feat(simpleform): add server typeDefs and resolvers
  packages/components/xpub-simple-formbuilder/src/index.js
  packages/components/xpub-simple-formbuilder/src/query.js
  packages/components/xpub-simple-formbuilder/src/server/formRequestBackend.js
  packages/components/xpub-simple-formbuilder/src/server/migrations/1537450834-manuscript.sql
  packages/components/xpub-simple-formbuilder/src/server/resolvers.js
  packages/components/xpub-simple-formbuilder/src/server/typeDefs.js
  packages/components/xpub-simple-formbuilder/src/storage/forms/submit.json
Due: prettier --write, eslint --fix

feat(users-manager): migrate to GraphQL
  packages/components/UsersManager/package.json
  packages/components/UsersManager/src/User.jsx
  packages/components/UsersManager/src/UsersManager.jsx
  packages/components/UsersManager/src/index.js
Due: prettier --write, eslint --fix

feat(model-team): introduce TeamMember model
  package.json
  packages/components/model-team-member/.babelrc
  packages/components/model-team-member/README.md
  packages/components/model-team-member/package.json
  packages/components/model-team-member/src/index.js
  packages/components/model-team-member/src/migrations/1547596236-initial-team-member-migration.js
  packages/components/model-team-member/src/team_member.js
  packages/components/model-team/config/test.js
  packages/components/model-team/src/migrations/1542801241-initial-team-migration.sql
  packages/components/model-team/src/team.js
  packages/components/model-team/test/helpers/authsome_mode.js
  packages/components/model-team/test/jest-setup.js
  packages/components/model-team/test/team_test.js
Due: prettier --write, eslint --fix

feat: add team relationship to user and test it
  packages/components/model-team/test/team_test.js
  packages/components/model-user/src/user.js
Due: prettier --write, eslint --fix

fix(submit): fixing submit confirm button
  packages/components/xpub-submit/src/components/Confirm.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-submit/src/components/SubmitPage.js
Due: prettier --write, eslint --fix

fix(simpleformbuilder): remove uneeded files
  packages/components/xpub-simple-formbuilder/CHANGELOG.md
  packages/components/xpub-simple-formbuilder/README.md
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/AbstractField.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/CheckBox.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/Menu.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/OptionsField.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/RadioBox.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/TextArea.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/TextField.js
  packages/components/xpub-simple-formbuilder/src/components/builderComponents/index.js
  packages/components/xpub-simple-formbuilder/src/components/config/Elements.js
Due: prettier --write, eslint --fix

feat(simpleform): loading side View elements
  packages/components/xpub-simple-formbuilder/src/components/SimpleFormBuilderPage.js
  packages/components/xpub-simple-formbuilder/src/components/index.js
  packages/components/xpub-simple-formbuilder/src/core/LayoutAbstract.js
Due: prettier --write, eslint --fix

feat(simpleform): layout of the admin page
  packages/components/xpub-simple-formbuilder/src/AdminLayout.js
  packages/components/xpub-simple-formbuilder/src/components/ComponentProperties.jsx
  packages/components/xpub-simple-formbuilder/src/components/FormBuilderLayout.jsx
  packages/components/xpub-simple-formbuilder/src/components/FormBuilderPage.js
  packages/components/xpub-simple-formbuilder/src/core/FactoryLibrary.js
  packages/components/xpub-simple-formbuilder/src/core/LayoutAbstract.js
  packages/components/xpub-simple-formbuilder/src/storage/forms/submit.json
  packages/components/xpub-simple-formbuilder/src/withSimpleForm.js
Due: prettier --write, eslint --fix

feat(model-team): add addMember, removeMember, improve fetching
  packages/components/model-team/src/api_teams.js
  packages/components/model-team/src/graphql.js
  packages/components/model-team/src/index.js
  packages/components/model-team/test/team_graphql_test.js
  packages/server/test/api_teams_test.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
