Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

docs(job-xsweet): add usage docs
  packages/components/job-xsweet/README.md
Due: prettier --write

fix(test): fix export of the Login component
  packages/components/Login/LoginContainer.js
  packages/components/Login/LoginContainer.test.jsx
  packages/components/Login/graphql/LoginContainer.js
Due: prettier --write, eslint --fix

test(server): test GraphQLErrors should pass to the client
  packages/server/test/graphql/errors_test.js
  yarn.lock
Due: prettier --write, eslint --fix

test(server): test AuthorizationErrors pass to clients
  packages/server/test/graphql/errors_test.js
Due: prettier --write, eslint --fix

refactor(xpub-selector): dont need it since that was for the redux
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-dashboard/src/components/Reviews.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-selectors/CHANGELOG.md
  packages/components/xpub-selectors/README.md
  packages/components/xpub-selectors/package.json
  packages/components/xpub-selectors/src/index.js
  packages/components/xpub-submit/package.json
Due: prettier --write, eslint --fix

test(model-user): use pubsweet errors when loginUser fails
  packages/components/model-user/src/graphql.js
  packages/server/test/graphql/authentication_test.js
Due: prettier --write, eslint --fix

test(server): non-pubsweet errors are replaced by a generic error
  packages/server/test/graphql/errors_test.js
Due: prettier --write, eslint --fix

feat(login): add optional logo at the login screen
  packages/components/Login/Login.jsx
Due: prettier --write, eslint --fix

test(login): change how select elements in Login
  yarn.lock
Due: none

feat(signup): formik enable for signup
  packages/components/Signup/Signup.jsx
  packages/components/Signup/SignupContainer.js
Due: prettier --write, eslint --fix

feat(signup): add logo to signup form
  packages/components/Signup/Signup.jsx
  packages/components/Signup/package.json
Due: prettier --write, eslint --fix

fix(signup): fix merge
  packages/components/Login/Login.jsx
Due: prettier --write, eslint --fix

refactor(signup): migrate sign up to graphql
  packages/components/Signup/SignupContainer.js
  packages/components/Signup/index.js
  packages/components/Signup/package.json
  packages/components/Signup/src/Signup.jsx
  packages/components/Signup/src/SignupContainer.js
  packages/components/Signup/src/graphql/mutations/index.js
Due: prettier --write, eslint --fix

refactor(signup): change how exporting is done
  packages/components/Signup/index.js
Due: prettier --write, eslint --fix

feat(docs): styled styleguide/docs website
  docs/content/introduction.md
  docs/src/components/ComponentsListRenderer.js
  docs/src/components/LinkRenderer.js
  docs/src/components/LogoRenderer.js
  docs/src/components/StyleGuideRenderer.js
  docs/src/components/pubsweet.svg
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

feat(docs): update GitLab CI for styleguide deployment
  .gitlab-ci.yml
Due: none

fix(ci): re-add staging stage for docker image push
  .gitlab-ci.yml
Due: none

fix(ci): reorder stages so that audit is more effective
  .gitlab-ci.yml
Due: none

fix(ci): move audit into its own stage
  .gitlab-ci.yml
Due: none

fix(ci): use correct docker image for pages
  .gitlab-ci.yml
Due: none

fix(ci): use styleguide:build instead
  .gitlab-ci.yml
  package.json
Due: prettier --write

fix(ci): go into the docs folder directly
  .gitlab-ci.yml
Due: none

fix(ci): copy the docs folder into the container
  .gitlab-ci.yml
  Dockerfile
Due: none

fix(ci): use correct path for review artifact
  .gitlab-ci.yml
Due: none

fix(ci): copy the output to builds directory
  .gitlab-ci.yml
Due: none

fix(authorize): change teamType to role
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
Due: prettier --write, eslint --fix

fix(docs): disable failing optimization
  docs/src/webpack-config.js
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

fix(authorize): fix test for role
  packages/client/test/helpers/Authorize.test.jsx
Due: prettier --write, eslint --fix

feat(authorize): add more team fields on GetUser
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
Due: prettier --write, eslint --fix

fix(job-xsweet): use Saxon 9.8
  packages/components/job-xsweet/Dockerfile
Due: none

fix(job-xsweet): use exact Saxon 9-8-0-1J
  packages/components/job-xsweet/Dockerfile
Due: none

fix(job-xsweet): improve/fix parallel processing of documents
  packages/components/job-xsweet/src/endpoint.js
  packages/components/job-xsweet/src/xsweet.js
Due: prettier --write, eslint --fix

docs: add introduction and assets
  docs/assets/pubsweet-components.svg
  docs/assets/pubsweet-logo.svg
  docs/content/about_this_book.md
  docs/content/introduction.md
  docs/styleguide.config.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(server): add context and helpers to subscription context
  packages/server/src/graphql/subscriptions.js
Due: prettier --write, eslint --fix

docs: fix image paths for review deployment
  docs/content/before_you_start.md
  docs/content/contributing.md
  docs/content/designing_workflow.md
  docs/content/examples_of_platforms_built_with_pubsweet.md
  docs/content/introduction.md
  docs/content/technical_architecture.md
  docs/content/using_themes.md
  docs/content/where_can_i_ask_questions.md
  docs/content/workflow_case_studies.md
Due: prettier --write
