Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

chore: update yarn.lock
  yarn.lock
Due: none

fix(styleguide): formik error
  packages/components/Login/Login.md
Due: prettier --write

fix(test): formik error
  packages/components/Login/Login.jsx
  packages/components/Login/actions.js
  packages/components/Login/actions.test.js
  packages/components/Login/graphql/LoginContainer.js
Due: prettier --write, eslint --fix

fix(dashboard): remove uneeded files
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
Due: prettier --write, eslint --fix

feat(login): formik error handling
  packages/components/Login/Login.jsx
  packages/components/Login/Login.md
  packages/components/Login/Login.test.jsx
  packages/components/Login/LoginContainer.js
  packages/components/Login/actions.js
  packages/components/Login/graphql/LoginContainer.js
Due: prettier --write, eslint --fix

feat(graphql): add graphql and formik
  packages/components/Login/Login.jsx
  packages/components/Login/LoginContainer.js
  packages/components/Login/graphql/LoginContainer.js
  packages/components/Login/graphql/mutations/index.js
  packages/components/Login/package.json
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
Due: prettier --write, eslint --fix

fix(test): errors
  packages/components/Login/Login.jsx
Due: prettier --write, eslint --fix

fix(styleguide): formik error
  packages/components/Login/Login.test.jsx
Due: prettier --write, eslint --fix

fix(test): change error message
  packages/components/Login/actions.test.js
Due: prettier --write, eslint --fix

feat(graphql): add graphql and formik
  packages/components/Signup/Signup.jsx
  packages/components/Signup/Signup.md
  packages/components/Signup/SignupContainer.js
  packages/components/Signup/actions.js
  packages/components/Signup/graphql/SignupContainer.js
  packages/components/Signup/graphql/mutations/index.js
  packages/server/src/graphql/definitions/user.js
Due: prettier --write, eslint --fix

feat(signup): graphql migration styleguide
  packages/components/Signup/Signup.md
Due: prettier --write

chore(release): publish
  packages/base-model/CHANGELOG.md
  packages/base-model/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/jest-environment-db/CHANGELOG.md
  packages/jest-environment-db/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write

fix(server): specify db-manager dev dependency for server
  packages/server/package.json
  yarn.lock
Due: prettier --write

docs: add security policy
  Security.md
Due: prettier --write

docs: fix typo
  Security.md
Due: prettier --write

test: test fix and comments clean up
  packages/components/Epub/converters/wax-ucp.js
  packages/components/Epub/process.test.js
Due: prettier --write, eslint --fix

feat(server): add configurable token expiration
  packages/server/src/authentication.js
  packages/server/test/token_test.js
Due: prettier --write, eslint --fix

test(server): remove Date.now sanity check
  packages/server/test/token_test.js
Due: prettier --write, eslint --fix

fix(server): add missing objection dependency
  packages/server/package.json
  yarn.lock
Due: prettier --write

fix: use dependency resolution
  yarn.lock
Due: none

chore: update node-config
  packages/client/package.json
  packages/components/Ink-server/package.json
  packages/components/PasswordReset-server/package.json
  packages/components/Polling-server/package.json
  packages/components/xpub-review-server/package.json
  packages/logger/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

test(components): add test for URL in password reset email
  packages/components/PasswordReset-server/PasswordResetBackend.test.js
  packages/components/config/default.js
Due: prettier --write, eslint --fix

fix(components): make team manager resitant to undefined objects
  packages/components/TeamsManager/src/Team.jsx
Due: prettier --write, eslint --fix

chore: more dependency updates
  package.json
  packages/components/AWSS3-server/package.json
  packages/components/Epub/package.json
  packages/components/FormGroup/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-formbuilder/src/test/FormBuilder.test.js
  packages/components/xpub-review-server/package.json
  packages/db-manager/package.json
  packages/logger/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write, eslint --fix

test: temporarily disable pubsweet-starter in tests
  packages/cli/package.json
  packages/cli/test/cli/add.test.js
  packages/cli/test/cli/remove.test.js
  packages/components/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): publish
  packages/base-model/CHANGELOG.md
  packages/base-model/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/AWSS3-server/CHANGELOG.md
  packages/components/AWSS3-server/package.json
  packages/components/CHANGELOG.md
  packages/components/Epub/CHANGELOG.md
  packages/components/Epub/package.json
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/Ink-server/CHANGELOG.md
  packages/components/Ink-server/package.json
  packages/components/PasswordReset-server/CHANGELOG.md
  packages/components/PasswordReset-server/package.json
  packages/components/Polling-server/CHANGELOG.md
  packages/components/Polling-server/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-formbuilder/CHANGELOG.md
  packages/components/xpub-formbuilder/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review-server/CHANGELOG.md
  packages/components/xpub-review-server/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write

feat(email-templating): add email props and readme
  packages/components/EmailTemplating-server/README.md
  packages/components/EmailTemplating-server/config/default.js
  packages/components/EmailTemplating-server/config/test.js
  packages/components/EmailTemplating-server/src/EmailTemplate.js
  packages/components/EmailTemplating-server/src/helpers.js
  packages/components/EmailTemplating-server/src/templates/partials/body.hbs
  packages/components/EmailTemplating-server/src/templates/partials/button.hbs
  packages/components/EmailTemplating-server/src/templates/partials/footer.hbs
  packages/components/EmailTemplating-server/src/templates/partials/header.hbs
  packages/components/EmailTemplating-server/src/templates/partials/intro.hbs
  packages/components/EmailTemplating-server/src/templates/partials/signature.hbs
  packages/components/EmailTemplating-server/tests/helpers.test.js
Due: prettier --write, eslint --fix

feat(ui): can now disable a single radio in a group
  packages/ui/src/atoms/Radio.js
  packages/ui/src/molecules/RadioGroup.js
Due: prettier --write, eslint --fix

fix(server): require components relatively
  packages/server/src/connectors/index.js
  packages/server/src/models/index.js
Due: prettier --write, eslint --fix

fix(server): get model from the component
  packages/server/src/connectors/index.js
Due: prettier --write, eslint --fix

fix(cli): the db pool is now destroyed, not ended
  packages/cli/cli/setupdb.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/base-model/CHANGELOG.md
  packages/base-model/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write

feat(email-templating): add docs about getInvitationBody
  packages/components/EmailTemplating-server/README.md
  packages/components/EmailTemplating-server/src/EmailTemplate.js
Due: prettier --write, eslint --fix

fix: fixing a release with unstaged changes
  packages/db-manager/src/helpers/migrationPaths.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/base-model/CHANGELOG.md
  packages/base-model/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/Login/CHANGELOG.md
  packages/components/Login/package.json
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-formbuilder/CHANGELOG.md
  packages/components/xpub-formbuilder/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/components/xpub-teams-manager/CHANGELOG.md
  packages/components/xpub-teams-manager/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

feat: add destroy method to graphql pubsub
  packages/server/src/graphql/pubsub.js
Due: prettier --write, eslint --fix

feat: use @pubsweet/logger for graphql errors
  packages/server/src/graphql/routes.js
Due: prettier --write, eslint --fix
