Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

feat(ui): reintroduce warning color
  packages/coko-theme/src/elements/TextField.js
  packages/coko-theme/src/index.js
  packages/default-theme/src/index.js
  packages/ui/docs/colors.md
  packages/ui/src/atoms/Colorize.js
  packages/ui/src/atoms/TextField.js
  packages/ui/src/atoms/TextField.md
Due: prettier --write, eslint --fix

fix(ui): use override instead of th for styling TextField
  packages/ui/src/atoms/TextField.js
Due: prettier --write, eslint --fix

chore(styleguide): update xpub-styleguide dependency
  packages/styleguide/package.json
  yarn.lock
Due: prettier --write

feat(ui): scope Button overrides with ui package
  packages/ui/src/atoms/Button.js
Due: prettier --write, eslint --fix

feat(ui): add css overrides to ui components
  packages/ui/src/atoms/Checkbox.js
  packages/ui/src/atoms/ErrorText.js
  packages/ui/src/atoms/Icon.js
  packages/ui/src/atoms/Link.js
  packages/ui/src/atoms/Radio.js
  packages/ui/src/atoms/Section.js
  packages/ui/src/atoms/Tab.js
  packages/ui/src/atoms/TextField.js
  packages/ui/src/atoms/Title.js
Due: prettier --write, eslint --fix

feat(ui): add css overrides to ui molecules
  packages/ui/src/molecules/AlignmentBoxWithLabel.js
  packages/ui/src/molecules/EditableValue.js
  packages/ui/src/molecules/Steps.js
Due: prettier --write, eslint --fix

feat(ui): scope TextField css overrides to ui package
  packages/ui/src/atoms/TextField.js
Due: prettier --write, eslint --fix

fix(ui): update cssOverrides to override
  packages/ui/src/molecules/Action.js
Due: prettier --write, eslint --fix

refactor(ui): add package namespacing to css overrides
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/Checkbox.js
  packages/ui/src/atoms/ErrorText.js
  packages/ui/src/atoms/Heading.js
  packages/ui/src/atoms/Icon.js
  packages/ui/src/atoms/Link.js
  packages/ui/src/atoms/Radio.js
  packages/ui/src/atoms/Section.js
  packages/ui/src/atoms/Tab.js
  packages/ui/src/atoms/TextField.js
  packages/ui/src/atoms/Title.js
  packages/ui/src/molecules/Action.js
  packages/ui/src/molecules/ActionGroup.js
  packages/ui/src/molecules/AlignmentBoxWithLabel.js
  packages/ui/src/molecules/AppBar.js
  packages/ui/src/molecules/EditableValue.js
  packages/ui/src/molecules/Steps.js
Due: prettier --write, eslint --fix

refactor(coko-theme): implement package namespacing
  packages/coko-theme/src/index.js
Due: prettier --write, eslint --fix

fix(ui): change override to exported component
  packages/ui/src/atoms/Checkbox.js
  packages/ui/src/atoms/Radio.js
Due: prettier --write, eslint --fix

chore: remove elements of the xpub-styleguide
  packages/components/xpub-dashboard/styleguide.config.js
  packages/components/xpub-dashboard/webpack.config.js
  packages/components/xpub-edit/package.json
  packages/components/xpub-edit/styleguide.config.js
  packages/components/xpub-edit/webpack.config.js
  packages/components/xpub-find-reviewers/package.json
  packages/components/xpub-find-reviewers/styleguide.config.js
  packages/components/xpub-find-reviewers/webpack.config.js
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-manuscript/styleguide.config.js
  packages/components/xpub-manuscript/webpack.config.js
  packages/components/xpub-review/package.json
  packages/components/xpub-review/styleguide.config.js
  packages/components/xpub-review/webpack.config.js
  packages/components/xpub-styleguide/package.json
  packages/components/xpub-submit/package.json
  packages/components/xpub-submit/styleguide.config.js
  packages/components/xpub-submit/webpack.config.js
Due: prettier --write, eslint --fix

chore(styleguide): add currentUser state from redux
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.md
  packages/styleguide/src/components/Wrapper.js
Due: prettier --write, eslint --fix

feat: add CSS override hook to Checkbox
  packages/ui/src/atoms/Checkbox.js
Due: prettier --write, eslint --fix

fix(dashboard): mock authorize component
  packages/components/xpub-dashboard/src/components/DashboardPage.integration.test.js
Due: prettier --write, eslint --fix

feat(connectpage): add authsome mode to ConnectPage
  packages/components/xpub-connect/src/components/ConnectPage.js
Due: prettier --write, eslint --fix

fix(connectpage): add redirect on anothorized
  packages/components/xpub-connect/src/components/ConnectPage.js
Due: prettier --write, eslint --fix

fix(authsome): change names to tests and function
  packages/client/src/helpers/Authorize.jsx
  packages/client/test/helpers/Authorize.test.jsx
Due: prettier --write, eslint --fix

test(authsome): add tests Authorize Component
  packages/client/src/helpers/Authorize.jsx
  packages/client/test/helpers/Authorize.test.jsx
Due: prettier --write, eslint --fix

fix(authorize): render function component
  packages/client/src/helpers/Authorize.jsx
Due: prettier --write, eslint --fix

fix(authsome): update stucture of currentUpdate
  packages/components/xpub-dashboard/src/redux/conversion.js
  packages/components/xpub-review-server/src/reviewBackend.js
Due: prettier --write, eslint --fix

fix(component): erase comment setOwners
  packages/components/xpub-review-server/src/reviewBackend.js
Due: prettier --write, eslint --fix

fix(monorepo): fix versions of ui across repo
  packages/cli/uploads/1fdee1d6d8b253d6b1bb75d9eb111862.txt
  packages/cli/uploads/6c273b33afdc7fe2b55a88fa4d7f701f.jpg
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/package.json
  packages/components/Signup/package.json
  packages/components/TeamsManager/package.json
  packages/components/xpub-review/package.json
  packages/styleguide/package.json
Due: prettier --write

fix(cli): remove files added by test
  packages/cli/uploads/1fdee1d6d8b253d6b1bb75d9eb111862.txt
  packages/cli/uploads/6c273b33afdc7fe2b55a88fa4d7f701f.jpg
Due: none

refactor(ui): replace current gridunit variables with one small value
  packages/coko-theme/src/elements/Button.js
  packages/coko-theme/src/elements/TextField.js
  packages/coko-theme/src/index.js
  packages/components/xpub-dashboard/src/components/molecules/Item.js
  packages/components/xpub-dashboard/src/components/molecules/Page.js
  packages/components/xpub-edit/src/components/StyledEditor.js
  packages/components/xpub-edit/src/components/withStyles.js
  packages/components/xpub-review/src/components/atoms/AdminSection.js
  packages/components/xpub-review/src/components/decision/DecisionReview.js
  packages/components/xpub-review/src/components/reviewers/Reviewer.js
  packages/components/xpub-review/src/components/reviewers/Reviewers.js
  packages/components/xpub-submit/src/components/Confirm.js
  packages/components/xpub-submit/src/components/Declarations.js
  packages/components/xpub-submit/src/components/Suggestions.js
  packages/components/xpub-submit/src/components/molecules/Accordion.js
  packages/components/xpub-submit/src/styles/index.js
  packages/default-theme/src/index.js
  packages/styleguide/src/components/StyleGuideRenderer.js
  packages/ui/src/atoms/Attachment.js
  packages/ui/src/atoms/Avatar.js
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/Icon.js
  packages/ui/src/atoms/Radio.js
  packages/ui/src/atoms/Section.js
  packages/ui/src/atoms/Tab.js
  packages/ui/src/atoms/Tags.js
  packages/ui/src/atoms/TextField.js
  packages/ui/src/atoms/Title.js
  packages/ui/src/atoms/UploadButton.js
  packages/ui/src/atoms/UploadingFile.js
  packages/ui/src/atoms/ValidatedField.js
  packages/ui/src/molecules/ActionGroup.js
  packages/ui/src/molecules/AppBar.js
  packages/ui/src/molecules/EditableValue.js
  packages/ui/src/molecules/Menu.js
  packages/ui/src/molecules/Tabs.js
  packages/ui/test/setup/theme.js
Due: prettier --write, eslint --fix

test(ui): update snapshots
  packages/ui/test/__snapshots__/AppBar.test.js.snap
  packages/ui/test/__snapshots__/Files.test.js.snap
  packages/ui/test/__snapshots__/Menu.test.js.snap
  packages/ui/test/__snapshots__/Radio.test.js.snap
  packages/ui/test/__snapshots__/RadioGroup.test.js.snap
  packages/ui/test/__snapshots__/YesOrNo.test.js.snap
Due: none

chore(styleguide): move journal config into PubSweet styleguide
  packages/components/xpub-dashboard/src/components/sections/EditorItem.md
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.md
  packages/components/xpub-styleguide/CHANGELOG.md
  packages/components/xpub-styleguide/package.json
  packages/components/xpub-styleguide/src/components/StyleGuideRenderer.js
  packages/components/xpub-styleguide/src/components/Wrapper.js
  packages/components/xpub-styleguide/src/components/index.js
  packages/components/xpub-styleguide/src/index.js
  packages/components/xpub-styleguide/src/webpack-config.js
  packages/styleguide/config/journal/article-sections.js
  packages/styleguide/config/journal/article-types.js
  packages/styleguide/config/journal/decisions.js
  packages/styleguide/config/journal/declarations.js
  packages/styleguide/config/journal/editors.js
  packages/styleguide/config/journal/index.js
  packages/styleguide/config/journal/metadata.js
  packages/styleguide/config/journal/recommendations.js
  packages/styleguide/config/journal/review-status.js
  packages/styleguide/config/journal/roles.js
  packages/styleguide/config/journal/sections.js
  packages/styleguide/package.json
  packages/styleguide/src/components/Wrapper.js
Due: prettier --write, eslint --fix

fix(styleguide): correct require path
  packages/components/xpub-dashboard/src/components/sections/EditorItem.md
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.md
Due: prettier --write

feat: add CSS override hooks to Menu
  packages/ui/src/molecules/Menu.js
  packages/ui/test/__snapshots__/Menu.test.js.snap
Due: prettier --write, eslint --fix

fix(ui-toolkit): fix override so root does not have all styles
  packages/ui-toolkit/src/override.js
Due: prettier --write, eslint --fix

chore: remove leftover xpub-styleguide
  packages/components/xpub-dashboard/package.json
Due: prettier --write

refactor(ui): remove coko theme styles from vanilla ui
  packages/ui/src/atoms/Checkbox.js
  packages/ui/src/atoms/Radio.js
Due: prettier --write, eslint --fix

refactor(coko-theme): move coko theme styles into coko-theme
  packages/coko-theme/src/elements/Checkbox.js
  packages/coko-theme/src/elements/Radio.js
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
Due: prettier --write, eslint --fix

test(ui): update snapshots
  packages/ui/test/__snapshots__/CheckboxGroup.test.js.snap
  packages/ui/test/__snapshots__/Radio.test.js.snap
  packages/ui/test/__snapshots__/RadioGroup.test.js.snap
  packages/ui/test/__snapshots__/YesOrNo.test.js.snap
Due: none

chore: move test uploads into a single folder
  .gitignore
  packages/cli/config/test.js
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix

fix(ui): allow css overrides for ui.TextField.Input again
  packages/ui/src/atoms/TextField.js
Due: prettier --write, eslint --fix

feat(ui): introduce more line height variables
  packages/client/src/helpers/StyleRoot.js
  packages/coko-theme/src/elements/TextField.js
  packages/coko-theme/src/index.js
  packages/components/xpub-dashboard/src/components/metadata/Meta.js
  packages/components/xpub-dashboard/src/components/molecules/Links.js
  packages/components/xpub-dashboard/src/components/molecules/Page.js
  packages/components/xpub-dashboard/src/components/sections/VersionTitle.js
  packages/components/xpub-review/src/components/review/Review.js
  packages/components/xpub-review/src/components/reviewers/Reviewer.js
  packages/components/xpub-submit/src/components/Confirm.js
  packages/components/xpub-submit/src/components/molecules/Accordion.js
  packages/components/xpub-submit/src/styles/index.js
  packages/default-theme/src/index.js
  packages/ui/src/atoms/Heading.js
  packages/ui/src/atoms/StateItem.js
  packages/ui/src/atoms/Tab.js
  packages/ui/src/atoms/Tags.js
  packages/ui/src/atoms/TextField.js
  packages/ui/src/atoms/Title.js
  packages/ui/src/atoms/UploadingFile.js
  packages/ui/src/atoms/ValidatedField.js
  packages/ui/src/molecules/Menu.js
  packages/ui/test/setup/theme.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/coko-theme/CHANGELOG.md
  packages/coko-theme/package.json
  packages/components/CHANGELOG.md
  packages/components/Login/CHANGELOG.md
  packages/components/Login/package.json
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-connect/CHANGELOG.md
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/CHANGELOG.md
  packages/components/xpub-edit/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui-toolkit/CHANGELOG.md
  packages/ui-toolkit/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix(coko-theme): update font size and line height values
  packages/coko-theme/src/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
