Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

fix(job-xsweet): move xslts into their required place again
  components/server/job-xsweet/Dockerfile
Due: none

test(ui): use a test path ignore option to ignore /dist
  package.json
Due: prettier --write

docs: add file-loader to docs dependencies
  docs/package.json
  yarn.lock
Due: prettier --write

test: ignore dist files when calculating coverage
  package.json
Due: prettier --write

chore: remove unused components Manage and Navigation
  components/client/component-manage/CHANGELOG.md
  components/client/component-manage/Manage.jsx
  components/client/component-manage/Manage.scss
  components/client/component-manage/index.js
  components/client/component-manage/package.json
  components/client/component-navigation/CHANGELOG.md
  components/client/component-navigation/NavbarUser.jsx
  components/client/component-navigation/Navigation.jsx
  components/client/component-navigation/Navigation.scss
  components/client/component-navigation/Navigation.test.jsx
  components/client/component-navigation/index.js
  components/client/component-navigation/package.json
Due: prettier --write, eslint --fix, stylelint

test(cli): theme config is no longer needed
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix

chore: remove old and unused xpub-find-reviewers component
  components/client/component-xpub-find-reviewers/CHANGELOG.md
  components/client/component-xpub-find-reviewers/package.json
  components/client/component-xpub-find-reviewers/src/components/Author.js
  components/client/component-xpub-find-reviewers/src/components/Author.local.scss
  components/client/component-xpub-find-reviewers/src/components/Author.md
  components/client/component-xpub-find-reviewers/src/components/AuthorLayout.js
  components/client/component-xpub-find-reviewers/src/components/AuthorLayout.local.scss
  components/client/component-xpub-find-reviewers/src/components/AuthorPage.js
  components/client/component-xpub-find-reviewers/src/components/FindReviewersLayout.js
  components/client/component-xpub-find-reviewers/src/components/FindReviewersLayout.local.scss
  components/client/component-xpub-find-reviewers/src/components/FindReviewersLayout.md
  components/client/component-xpub-find-reviewers/src/components/FindReviewersPage.js
  components/client/component-xpub-find-reviewers/src/components/Metadata.js
  components/client/component-xpub-find-reviewers/src/components/Metadata.local.scss
  components/client/component-xpub-find-reviewers/src/components/Metadata.md
  components/client/component-xpub-find-reviewers/src/components/Paper.js
  components/client/component-xpub-find-reviewers/src/components/Paper.local.scss
  components/client/component-xpub-find-reviewers/src/components/Paper.md
  components/client/component-xpub-find-reviewers/src/components/PaperLayout.js
  components/client/component-xpub-find-reviewers/src/components/PaperLayout.local.scss
  components/client/component-xpub-find-reviewers/src/components/PaperPage.js
  components/client/component-xpub-find-reviewers/src/components/ProjectLink.js
  components/client/component-xpub-find-reviewers/src/components/index.js
  components/client/component-xpub-find-reviewers/src/index.js
  components/client/component-xpub-find-reviewers/src/shared/author.js
  components/client/component-xpub-find-reviewers/src/shared/scholar.js
  components/client/component-xpub-find-reviewers/src/shared/score.js
  components/client/component-xpub-find-reviewers/src/shared/sort.js
Due: prettier --write, eslint --fix, stylelint

chore: remove sass and lint styled components
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  components/README.md
  docs/package.json
  docs/src/webpack-config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

style: fix styled components linting issues
  components/client/component-people-picker/src/PeoplePickerLayout.js
  components/client/component-people-picker/src/PersonPod.js
  components/client/component-people-picker/src/PodContainer.js
  components/client/component-people-picker/src/SelectedItem.js
  components/client/component-xpub-teams-manager/src/components/molecules/Table.js
  components/client/xpub-edit/src/components/DropDownTable.js
  components/client/xpub-edit/src/components/MenuButton.js
  package.json
  packages/client/test/components/Root.test.jsx
  packages/ui-toolkit/src/styles/fadeInOut.js
  packages/ui/src/atoms/Spinner.js
  packages/ui/src/atoms/Tags.js
  packages/ui/src/atoms/UploadingFile.js
  packages/ui/src/molecules/InputWithAddons.js
  packages/ui/src/molecules/Menu.js
  packages/ui/src/molecules/TwoColumnLayout.js
  yarn.lock
Due: prettier --write, eslint --fix

style: fix style issues in js components
  components/client/component-people-picker/src/SearchBox.test.js
  components/server/component-epub/converters/wax-paged-default.js
  components/server/component-epub/converters/wax-paged-ucp.js
  components/server/component-epub/converters/wax-vivliostyle-default.js
  components/server/component-epub/converters/wax-vivliostyle-ucp.js
  components/server/component-epub/pagednation.js
  components/server/job-xsweet/src/graphql.js
  docs/src/components/SectionRenderer.js
Due: prettier --write, eslint --fix

test(ui): update snapshots
  packages/ui/test/__snapshots__/Menu.test.js.snap
Due: none

docs: initial attempt at storybook
  package.json
  yarn.lock
Due: prettier --write

fix: small styling fixes
  components/client/component-login/src/Login.jsx
  components/client/component-password-reset-client/src/PasswordReset.jsx
  components/client/component-signup/src/Signup.jsx
Due: prettier --write, eslint --fix

fix: use fragment instead of rendering array
  components/client/component-xpub-review-client/src/components/decision/DecisionForm.js
Due: prettier --write, eslint --fix

fix: onBlur and onChange are not required
  components/client/xpub-edit/src/components/configurable/ConfigurableEditor.js
Due: prettier --write, eslint --fix

fix: database reset should include pgboss features
  packages/db-manager/src/commands/create-tables.js
Due: prettier --write, eslint --fix

chore: bump dependencies
  yarn.lock
Due: none

chore: update snapshots for Login and Signup
  components/client/component-login/test/__snapshots__/Login.test.jsx.snap
  components/client/component-signup/test/__snapshots__/Signup.test.jsx.snap
Due: none

docs: trying storybook
  .storybook/addons.js
  .storybook/config.js
  .storybook/presets.js
  docs/content/introduction.stories.mdx
  package.json
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/Button.stories.mdx
  packages/ui/src/atoms/Demo.stories.jsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: migrate to new preset form
  .storybook/presets.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: upgrade react-styleguidist
  docs/package.json
  yarn.lock
Due: prettier --write

chore: add apollo-link-http
  package.json
  yarn.lock
Due: prettier --write

fix(model-team): make team_id not nullable
  components/server/model-team/src/migrations/1576153330-team-member-teamid-non-nullable.js
  components/server/model-team/test/team_test.js
Due: prettier --write, eslint --fix

feat(server): add gql middleware to server (poc)
  packages/server/src/graphql/schema.js
Due: prettier --write, eslint --fix

fix(xpub-edit): fix to allow tables in text editor
  components/client/xpub-edit/src/components/configurable/config/menu.js
  components/client/xpub-edit/src/components/configurable/config/plugins.js
Due: prettier --write, eslint --fix

chore: update dependencies
  yarn.lock
Due: none

docs(ui): docs for icon override
  packages/ui/src/atoms/Icon.md
Due: prettier --write

chore: bump styled-components to v5
  components/client/component-login/package.json
  docs/package.json
  packages/client/package.json
  packages/coko-theme/package.json
  packages/ui-toolkit/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write

chore: bump jest-styled-components
  package.json
  yarn.lock
Due: prettier --write

test(ui): refactor to render AlignmentBoxWithLabel within each test
  packages/ui/test/AlignmentBoxWithLabel.test.js
Due: prettier --write, eslint --fix

refactor(server): remove unused global.versions
  packages/server/src/app.js
Due: prettier --write, eslint --fix

chore: update yarn.lock
  yarn.lock
Due: none

feat(server): enable completely custom entrypoint
  packages/server/src/app.js
  packages/server/src/start-server.js
Due: prettier --write, eslint --fix

test(server): add tests for custom entrypoints
  packages/server/test/helpers/customApp.js
  packages/server/test/helpers/server/app.js
  packages/server/test/register_components_test.js
  packages/server/test/start_server_test.js
Due: prettier --write, eslint --fix

test(server): reset chdir back to default
  packages/server/test/start_server_test.js
Due: prettier --write, eslint --fix

chore: optimize what files we publish
  components/client/component-login/.npmignore
  components/client/component-sortable-list/.npmignore
  components/server/component-epub/.npmignore
  components/server/component-password-reset-server/.npmignore
  components/server/job-xsweet/.npmignore
  components/server/model-fragment/.npmignore
  components/server/model-user/.npmignore
  packages/base-model/.npmignore
  packages/cli/.gitlab/merge_request_templates/mr.md
  packages/cli/.npmignore
  packages/cli/.nvmrc
  packages/client/.npmignore
  packages/db-manager/.npmignore
  packages/logger/.envrc
  packages/logger/.npmignore
  packages/logger/.nvmrc
  packages/models/config/test.js
  packages/server/.npmignore
  packages/ui/.npmignore
  packages/ui/package.json
Due: prettier --write, eslint --fix
