Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

refactor(ui): change divs to React.Fragment
  packages/ui/src/molecules/FileUploadList.js
  packages/ui/src/molecules/InputWithAddons.js
  packages/ui/src/molecules/Tabs.js
Due: prettier --write, eslint --fix

refactor(ui): deprecate Title
  packages/ui/src/atoms/Title.js
  packages/ui/src/atoms/Title.md
Due: prettier --write, eslint --fix

test(ui): update snapshots
  packages/ui/test/__snapshots__/FilePicker.test.js.snap
  packages/ui/test/__snapshots__/Files.test.js.snap
Due: none

use a pubsweet working directory
  Dockerfile
Due: none

change directory to root
  Dockerfile
Due: none

feat(base-model): allow transaction on graph save
  packages/base-model/src/index.js
Due: prettier --write, eslint --fix

fix(authorization): update the error thrown by can function
  packages/server/src/helpers/authorization.js
Due: prettier --write, eslint --fix

revert(model-user): revert replacing fetchOne with find
  components/server/model-user/src/graphql.js
Due: prettier --write, eslint --fix

test(authorization): handle the unauthenticated users error messages
  packages/server/src/helpers/authorization.js
  packages/server/test/graphql/authentication_test.js
Due: prettier --write, eslint --fix

feat(base-model): execute save inside a transaction
  packages/base-model/src/index.js
Due: prettier --write, eslint --fix

test(base-model): added unit tests for transaction usage
  packages/base-model/test/manuscript_test.js
Due: prettier --write, eslint --fix

chore(abstraction): init package
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/tsconfig.build.json
  packages/types/tsconfig.json
  yarn.lock
Due: prettier --write

docs(abstraction): add a readme
  .gitignore
  packages/types/README.md
  packages/types/tsconfig.json
Due: prettier --write

chore(type): move types to keep
  packages/types/src/abstract.ts
  packages/types/src/base-model.ts
Due: none

refactor(base-model): use same transaction instance on save/saveGraph
  packages/base-model/src/index.js
  packages/base-model/test/manuscript_test.js
Due: prettier --write, eslint --fix

chore(abstractions): ignore typescript in prettier for now
  .prettierignore
Due: none

chore(abstractions): add a local gitignore to ignore generated stuff
  packages/types/.gitignore
Due: none

fix(abstractions): make it valid typescript
  packages/types/src/base-model.ts
Due: none

refactor(base-model): back to destructuring
  packages/base-model/src/index.js
  packages/base-model/test/manuscript_test.js
Due: prettier --write, eslint --fix

chore: bump dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: change joi dependency to new package @hapi/joi
  components/client/config/upload-validations.js
  components/server/component-aws-s3/package.json
  components/server/component-aws-s3/src/middeware/upload.js
  docs/config/upload-validations.js
  docs/package.json
  packages/cli/uploads/2ea17385c8039d78b15652d9f027b613.txt
  packages/cli/uploads/bd1272aa6b2a12a68687b832e11c418f.jpg
  packages/db-manager/package.json
  packages/db-manager/src/validations.js
  packages/logger/package.json
  packages/logger/src/validations.js
  packages/server/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(xsweet): add wait for it file for postgres
  components/server/job-xsweet/Dockerfile
  components/server/job-xsweet/src/service_run.sh
  components/server/job-xsweet/src/wait-for-it.sh
Due: none

fix(xsweet): add wait for it as linux package
  components/server/job-xsweet/Dockerfile
  components/server/job-xsweet/src/service_run.sh
Due: none

fix(xsweet): remove wait-for-it file
  components/server/job-xsweet/src/wait-for-it.sh
Due: none

fix(xsweet): replace wait-for-it with npm package version
  components/server/job-xsweet/Dockerfile
  components/server/job-xsweet/package.json
  components/server/job-xsweet/src/service_run.sh
Due: prettier --write

Update Dockerfile
  components/server/job-xsweet/Dockerfile
Due: none

chore: bump deps
  docs/package.json
  packages/db-manager/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

test(ui): update snapshots
  packages/ui/test/__snapshots__/AppBar.test.js.snap
Due: none

docs: add undefined binding(s) error description
  docs/content/faq.md
Due: prettier --write

feat(model-team): allow null for aliasId
  components/server/model-team/src/team_member.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
