Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

fix(styleguide): fix File component
  packages/ui/src/atoms/File.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(linting): ignore built styleguide
  .eslintignore
Due: none

fix(send-email): rename for styleguide
  packages/components/packages/AWSSES-server/README.md
  packages/components/packages/AWSSES-server/config/test.js
  packages/components/packages/AWSSES-server/index.js
  packages/components/packages/AWSSES-server/package.json
  packages/components/packages/AWSSES-server/src/EmailBackend.js
  packages/components/packages/AWSSES-server/src/EmailBackend.test.js
  packages/components/packages/AWSSES-server/src/transporter.js
  packages/components/packages/SendEmail-server/.gitignore
  packages/components/packages/SendEmail-server/README.md
  packages/components/packages/SendEmail-server/index.js
  packages/components/packages/SendEmail-server/package.json
  packages/components/packages/SendEmail-server/src/SendEmail.js
Due: prettier --write, eslint --fix

chore: move xpub-collabra-authsome
  packages/xpub-collabra-authsome/.babelrc
  packages/xpub-collabra-authsome/README.md
  packages/xpub-collabra-authsome/config/test.js
  packages/xpub-collabra-authsome/package.json
  packages/xpub-collabra-authsome/src/index.js
  packages/xpub-collabra-authsome/test/helpers/jest-setup.js
  packages/xpub-collabra-authsome/test/index.test.js
  packages/xpub-collabra-authsome/test/integration.test.js
  packages/xpub-collabra-authsome/test/teams-config.js
Due: prettier --write, eslint --fix

refactor(config): remove unneeded
  packages/styleguide/config/default.js
Due: prettier --write, eslint --fix

fix(server): add create property validation
  packages/server/src/models/validations.js
Due: prettier --write, eslint --fix

chore(server): bump authsome dependency
  packages/server/package.json
  yarn.lock
Due: prettier --write

test(collabra-authsome): add initial integration tests
  packages/xpub-collabra-authsome/config/test.js
  packages/xpub-collabra-authsome/config/validations.js
  packages/xpub-collabra-authsome/src/index.js
  packages/xpub-collabra-authsome/test/integration.test.js
Due: prettier --write, eslint --fix

test: add test for boolean filtering
  packages/server/test/api_collections_test.js
Due: prettier --write, eslint --fix

fix(server): cast booleans to string when filtering
  packages/server/src/routes/util.js
  packages/server/test/api_collections_test.js
Due: prettier --write, eslint --fix

fix(cli): create admin user with setupdb
  packages/cli/cli/setupdb.js
Due: prettier --write, eslint --fix

chore(components): remove unused files and scripts
  packages/components/.babelrc
  packages/components/.eslintrc
  packages/components/README.md
  packages/components/lerna.json
  packages/components/packages/AWSS3-server/package.json
  packages/components/packages/PasswordReset-server/package.json
  packages/components/packages/xpub-dashboard/package.json
  packages/components/packages/xpub-edit/package.json
  packages/components/packages/xpub-find-reviewers/package.json
  packages/components/packages/xpub-manuscript/package.json
  packages/components/packages/xpub-review-server/package.json
  packages/components/packages/xpub-review/package.json
  packages/components/packages/xpub-styleguide/package.json
  packages/components/packages/xpub-submit/package.json
Due: prettier --write

chore(styleguide): remove redundant styleguides
  package.json
  packages/components/package.json
  packages/components/styleguide.config.js
  packages/components/webpack.config.js
  packages/ui/package.json
  packages/ui/styleguide.config.js
  packages/ui/webpack.config.js
Due: prettier --write, eslint --fix

feat(styleguide): add theme picker to styleguide
  packages/styleguide/package.json
  packages/styleguide/src/components/StyleGuideRenderer.js
  packages/styleguide/src/components/Wrapper.js
  packages/ui/src/atoms/Menu.js
Due: prettier --write, eslint --fix

fix(polling-server): remove revs
  packages/components/packages/Polling-server/PollingServer.js
Due: prettier --write, eslint --fix

refactor(theme-plugin): remove theme-plugin package
  packages/components/packages/PepperTheme/Blog/Blog.local.scss
  packages/components/packages/PepperTheme/Blog/Blog.scss
  packages/components/packages/PepperTheme/Login/Login.local.scss
  packages/components/packages/PepperTheme/Manage/Manage.scss
  packages/components/packages/PepperTheme/PostsManager/Post.local.scss
  packages/components/packages/PepperTheme/PostsManager/PostsManager.local.scss
  packages/components/packages/PepperTheme/_variables.scss
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-bold-015-webfont.eot
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-bold-015-webfont.svg
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-bold-015-webfont.ttf
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-bold-015-webfont.woff
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-bold-015-webfont.woff2
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-regular-015-webfont.eot
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-regular-015-webfont.svg
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-regular-015-webfont.ttf
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-regular-015-webfont.woff
  packages/components/packages/PepperTheme/fonts/karmilla-015/karmilla-regular-015-webfont.woff2
  packages/components/packages/PepperTheme/index.js
  packages/components/packages/PepperTheme/main.scss
  packages/components/packages/PepperTheme/package.json
  packages/theme-plugin/index.js
  packages/theme-plugin/package.json
Due: prettier --write, eslint --fix, stylelint

feat(components): convert Blog and HTML components to GraphQL
  packages/components/packages/Blog/Blog.jsx
  packages/components/packages/Blog/Blog.md
  packages/components/packages/Blog/Blog.test.jsx
  packages/components/packages/Blog/BlogContainer.js
  packages/components/packages/Blog/BlogContainer.test.js
  packages/components/packages/Blog/package.json
  packages/components/packages/HTML/HTML.jsx
  packages/components/packages/HTML/HTML.md
  packages/components/packages/HTML/HTML.test.jsx
  packages/components/packages/HTML/HTMLContainer.js
  packages/components/packages/HTML/HTMLContainer.test.jsx
  packages/components/packages/HTML/package.json
Due: prettier --write, eslint --fix

feat(ink-backend): improve error messages for missing config
  packages/components/packages/Ink-server/InkBackend.js
Due: prettier --write, eslint --fix

fix: stop CheckboxGroup attempting to mutate the value given to it
  packages/ui/src/molecules/CheckboxGroup.js
Due: prettier --write, eslint --fix

refactor: convert xpub-submit to graphql
  packages/components/packages/xpub-submit/package.json
  packages/components/packages/xpub-submit/src/components/SubmitPage.js
  packages/server/src/connectors/creators.js
Due: prettier --write, eslint --fix

feat(styleguide): page per section
  packages/components/packages/xpub-dashboard/src/components/sections/EditorItem.md
  packages/components/packages/xpub-review/src/components/atoms/Tabs.md
  packages/styleguide/package.json
  packages/styleguide/styleguide.config.js
  packages/ui/src/atoms/Menu.md
  packages/ui/src/molecules/AppBar.md
  packages/ui/src/molecules/Steps.md
  yarn.lock
Due: prettier --write, eslint --fix

fix(styleguide): styleguidist cannot cope with spaces in names
  packages/styleguide/styleguide.config.js
Due: prettier --write, eslint --fix

fix(ui): improve accessibility of atoms
  packages/ui/package.json
  packages/ui/src/atoms/AlignmentBox.js
  packages/ui/src/atoms/Attachment.js
  packages/ui/src/atoms/Attachment.md
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/Checkbox.js
  packages/ui/src/atoms/FilePicker.js
  packages/ui/src/atoms/FilePicker.md
  packages/ui/src/atoms/Heading.js
  packages/ui/src/atoms/Heading.md
  packages/ui/src/atoms/Icon.js
  packages/ui/src/atoms/Radio.js
  packages/ui/src/atoms/TextField.js
  packages/ui/src/atoms/ValidatedField.js
  packages/ui/test/__snapshots__/AppBar.test.js.snap
  packages/ui/test/__snapshots__/CheckboxGroup.test.js.snap
  packages/ui/test/__snapshots__/FilePicker.test.js.snap
  packages/ui/test/__snapshots__/Radio.test.js.snap
  packages/ui/test/__snapshots__/RadioGroup.test.js.snap
  packages/ui/test/__snapshots__/YesOrNo.test.js.snap
Due: prettier --write, eslint --fix

fix: resolve remaining jsx-a11y lint issues
  .eslintrc
  packages/components/packages/Blog/Blog.jsx
  packages/components/packages/Blog/Summary.jsx
  packages/components/packages/Navigation/Navigation.jsx
  packages/ui/src/molecules/AppBar.js
  packages/ui/test/__snapshots__/AppBar.test.js.snap
Due: prettier --write, eslint --fix

fix(server): set owners relationship
  packages/server/src/connectors/creators.js
Due: prettier --write, eslint --fix

feat(collabra-authsome): support collection creation
  packages/xpub-collabra-authsome/src/index.js
  packages/xpub-collabra-authsome/test/integration.test.js
Due: prettier --write, eslint --fix

fix(collabra-authsome): bring team types in line with xpub
  packages/xpub-collabra-authsome/src/index.js
  packages/xpub-collabra-authsome/test/index.test.js
  packages/xpub-collabra-authsome/test/teams-config.js
Due: prettier --write, eslint --fix

fix(collabra-authsome): remove experimental JS features
  packages/xpub-collabra-authsome/.babelrc
  packages/xpub-collabra-authsome/src/index.js
  packages/xpub-collabra-authsome/test/integration.test.js
Due: prettier --write, eslint --fix

fix(components): global is still needed for tests
  packages/components/package.json
Due: prettier --write

refactor(styleguide): improve styleguide theme picker
  packages/styleguide/package.json
  packages/styleguide/src/components/StyleGuideRenderer.js
  packages/styleguide/src/components/Wrapper.js
Due: prettier --write, eslint --fix

refactor(styleguide): remove humps package (for good this time)
  packages/styleguide/package.json
Due: prettier --write

chore(ui): fix incorrect snapshot
  packages/ui/test/__snapshots__/AppBar.test.js.snap
Due: none

chore(ui): refactor Steps molecule so it works with Styleguidist
  packages/ui/src/molecules/Steps.js
  packages/ui/src/molecules/Steps.md
  packages/ui/test/Steps.test.js
Due: prettier --write, eslint --fix

fix(styleguide): add lodash to styleguide deps
  packages/styleguide/package.json
Due: prettier --write

fix(components): review backend remove revs
  packages/components/packages/xpub-review-server/src/reviewBackend.js
Due: prettier --write, eslint --fix

refactor(ui): remove humps from ui package
  packages/ui/package.json
  packages/ui/src/atoms/Icon.js
Due: prettier --write, eslint --fix
