Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

test: omit tests from CI and add semi-automatic testing
  .gitlab-ci.yml
  components/server/job-xsweet/README.md
  components/server/job-xsweet/config/test.js
  components/server/job-xsweet/src/xsweet.js
  components/server/job-xsweet/test/standaloneXsweetTest.js
Due: prettier --write, eslint --fix

feat(pubsweet-server): add loaders object to gql context
  packages/server/src/app.js
  packages/server/src/graphql/api.js
  packages/server/src/register-loaders.js
Due: prettier --write, eslint --fix

feat: use new pipelined version of XSweet
  components/server/job-xsweet/Dockerfile
  components/server/job-xsweet/src/execute_chain.sh
  components/server/job-xsweet/src/move_xslts.sh
  components/server/job-xsweet/src/xsweet.js
Due: prettier --write, eslint --fix

feat(cli): split running server (express app) and client (webpack)
  packages/cli/bin/pubsweet-start-client.js
  packages/cli/bin/pubsweet-start-server.js
  packages/cli/bin/pubsweet.js
  packages/cli/cli/adduser.js
  packages/cli/cli/setupdb.js
  packages/cli/cli/start-client.js
  packages/cli/cli/start-server.js
  packages/cli/src/package-management/add.js
  packages/cli/src/package-management/helpers/index.js
  packages/cli/src/package-management/index.js
  packages/cli/src/package-management/remove.js
  packages/cli/src/startup/start.js
Due: prettier --write, eslint --fix

feat(loaders): add dataloaders to context by default
  components/server/model-fragment/config/test.js
  components/server/model-fragment/test/__snapshots__/fragment_graphql_test.js.snap
  components/server/model-fragment/test/fragment_graphql_test.js
  components/server/model-fragment/test/helpers/authsome_mode.js
  components/server/model-fragment/test/jest-setup.js
  components/server/model-team/src/graphql.js
  components/server/model-user/src/graphql.js
  package.json
  packages/base-model/test/data-model-component/src/graphql/index.js
  packages/base-model/test/extended-data-model-component/src/graphql/index.js
  packages/server/package.json
  packages/server/src/app.js
  packages/server/src/connectors/connector.js
  packages/server/src/graphql/api.js
  packages/server/src/graphql/loaders.js
  packages/server/src/register-loaders.js
  yarn.lock
Due: prettier --write, eslint --fix

feat: use modelLoaders for model-specific loaders
  packages/server/src/graphql/loaders.js
Due: prettier --write, eslint --fix

fix(server): add default loaders correctly
  packages/server/src/graphql/loaders.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(server): correctly address missing records
  packages/server/src/connectors/connector.js
  packages/server/src/graphql/loaders.js
Due: prettier --write, eslint --fix

chore: bump dependencies
  yarn.lock
Due: none

docs(cli): fix warning about use of static
  packages/cli/README.md
Due: prettier --write

feat(job-xsweet): improve API for GraphQL-based conversion
  components/server/job-xsweet/src/graphql.js
  components/server/job-xsweet/test/standaloneXsweetTest.js
Due: prettier --write, eslint --fix

fix(server): log errors correctly if originalError empty
  packages/server/src/graphql/api.js
  packages/server/test/graphql/errors_test.js
Due: prettier --write, eslint --fix

fix(styleguide): fix status of teams to reviewerItem
  components/client/component-xpub-dashboard/src/components/sections/ReviewerItem.md
Due: prettier --write

fix(job-xsweet): improve error and stream handling
  components/server/job-xsweet/Dockerfile
  components/server/job-xsweet/src/execute_chain.sh
  components/server/job-xsweet/src/graphql.js
  components/server/job-xsweet/src/xsweet.js
  components/server/job-xsweet/test/standaloneXsweetTest.js
Due: prettier --write, eslint --fix

fix(models): make user.teams work with eager
  components/server/model-team/src/graphql.js
  components/server/model-user/src/graphql.js
Due: prettier --write, eslint --fix

feat(password-reset): allow email options customization
  components/server/component-password-reset-server/package.json
  components/server/component-password-reset-server/src/resolvers.js
  yarn.lock
Due: prettier --write, eslint --fix

refactor(apollo): update apollo from 2.x.x to 3.0.1
  components/client/component-login/package.json
  components/client/component-login/src/LoginContainer.js
  components/client/component-login/test/LoginContainer.test.jsx
  components/client/component-manage/package.json
  components/client/component-navigation/package.json
  components/client/component-password-reset-client/package.json
  components/client/component-password-reset-client/src/PasswordReset.jsx
  components/client/component-people-picker/package.json
  components/client/component-signup/package.json
  components/client/component-signup/src/SignupContainer.js
  components/client/component-sortable-list/package.json
  components/client/component-users-manager/package.json
  components/client/component-users-manager/src/User.jsx
  components/client/component-users-manager/src/UsersManager.jsx
  components/client/component-xpub-dashboard/package.json
  components/client/component-xpub-dashboard/src/components/DashboardPage.integration.test.js
  components/client/component-xpub-dashboard/src/components/DashboardPage.js
  components/client/component-xpub-dashboard/src/components/sections/EditorItem.md
  components/client/component-xpub-dashboard/src/lib/upload.js
  components/client/component-xpub-manuscript/package.json
  components/client/component-xpub-manuscript/src/components/ManuscriptPage.js
  components/client/component-xpub-submit/package.json
  components/client/component-xpub-submit/src/components/SubmitPage.js
  components/client/component-xpub-teams-manager/package.json
  components/client/component-xpub-teams-manager/src/components/TeamsManagerPage.integration.test.js
  components/client/component-xpub-teams-manager/src/components/TeamsManagerPage.js
  components/client/xpub-edit/package.json
  components/client/xpub-journal/package.json
  components/client/xpub-upload/package.json
  components/client/xpub-with-context/package.json
  docs/package.json
  docs/src/components/Wrapper.js
  packages/client/package.json
  packages/client/src/components/AuthenticatedComponent.jsx
  packages/client/src/components/Root.js
  packages/client/src/helpers/Authorize.jsx
  packages/client/test/helpers/Authorize.test.jsx
  packages/ui/package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor(apollo): update react-dom version
  components/client/component-sortable-list/package.json
  components/client/component-xpub-manuscript/package.json
  components/client/component-xpub-teams-manager/package.json
  docs/package.json
  packages/client/package.json
  packages/ui/package.json
Due: prettier --write

feat(cli): introduce start:client and start:server
  packages/cli/cli/start-client.js
  packages/cli/cli/start-server.js
  packages/server/src/start.js
Due: prettier --write, eslint --fix

refactor(apollo): upgrade apollo-client to the latest version
  packages/client/package.json
  yarn.lock
Due: prettier --write

test(cli): adjust help output
  packages/cli/test/cli/help.test.js
Due: prettier --write, eslint --fix

fix(models): do not use hardcoded paths in relation mappings
  components/server/model-team/package.json
  components/server/model-team/src/team.js
  components/server/model-team/src/team_member.js
  components/server/model-user/package.json
  components/server/model-user/src/user.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(modal): provided posibility to specify modal position
  packages/ui/src/molecules/modal/ModalOverlay.js
  packages/ui/src/molecules/modal/ModalProvider.jsx
Due: prettier --write, eslint --fix

fix(modal): fixed type error
  packages/ui/src/molecules/modal/ModalProvider.jsx
Due: prettier --write, eslint --fix

docs: update the project name of Hindawi Review system
  README.md
Due: prettier --write

fix(modal): allow usage of hooks inside modal components
  packages/ui/src/molecules/modal/ModalProvider.jsx
Due: prettier --write, eslint --fix

fix(modal): added unit test for modal content using hooks
  packages/ui/test/Modal.test.js
Due: prettier --write, eslint --fix

replace base
  Dockerfile
Due: none

remove trailing whitespace
  Dockerfile
Due: none

separate dependencies from code
  Dockerfile
Due: none

feat(ui): replace div - UploadButton
  packages/ui/src/atoms/UploadButton.js
Due: prettier --write, eslint --fix

chore(ui): added deprecation comment to Title atom
  packages/ui/src/atoms/Title.js
Due: prettier --write, eslint --fix

remove unneeded statement - offline cache is disabled by default
  Dockerfile
Due: none

feat(ui): remove FilePicker div, add aria role
  packages/ui/src/atoms/FilePicker.js
Due: prettier --write, eslint --fix

refactor: more logging for errors in loading components
  packages/db-manager/src/helpers/migrationPaths.js
  packages/models/src/index.js
  packages/server/src/helpers/tryRequireRelative.js
Due: prettier --write, eslint --fix

remove unneeded statement - workspaces are enabled by default since yarn 1.0
  Dockerfile
Due: none

commented out code can live in version control
  Dockerfile
Due: none

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
