Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

feat(components): add Link from review page back to control panel
  packages/components/packages/xpub-review/package-lock.json
  packages/components/packages/xpub-review/src/components/reviewers/Reviewers.js
Due: prettier --write, eslint --fix

chore(components): remove package-lock
  packages/components/packages/xpub-review/package-lock.json
Due: prettier --write

fix(components): use version.id as key
  packages/components/packages/xpub-review/src/components/review/ReviewLayout.js
Due: prettier --write, eslint --fix

feat(ink-backend): allow the app to run even if ink config is missing
  packages/components/packages/Ink-server/InkBackend.js
Due: prettier --write, eslint --fix

feat(users-manager): wip add way to add global teams
  packages/components/packages/UsersManager/src/User.jsx
  packages/components/packages/UsersManager/src/UsersManager.jsx
  packages/components/packages/UsersManager/src/UsersManagerContainer.js
  packages/server/src/models/validations.js
Due: prettier --write, eslint --fix

fix(xpub-submit): add apollo dependencies to package.json
  packages/components/packages/xpub-submit/package.json
Due: prettier --write

fix(styleguide): save selected theme when switching between components
  packages/styleguide/src/components/StyleGuideRenderer.js
  packages/styleguide/src/components/Wrapper.js
Due: prettier --write, eslint --fix

fix: set owners when creating entities via GraphQL API
  packages/server/src/connectors/creators.js
  packages/server/src/models/User.js
  packages/server/test/graphql/mutations_test.js
Due: prettier --write, eslint --fix

feat(server): make team types strings
  packages/server/src/models/validations.js
Due: prettier --write, eslint --fix

fix(ui): update CheckboxGroup rendering if props change
  packages/ui/src/molecules/CheckboxGroup.js
Due: prettier --write, eslint --fix

fix(ui): check that value is an array
  packages/ui/src/molecules/CheckboxGroup.js
Due: prettier --write, eslint --fix

test(ui): check that props are not mutated
  packages/ui/test/CheckboxGroup.test.js
Due: prettier --write, eslint --fix

feat(users-manager): add support for removing members
  packages/components/packages/UsersManager/src/User.jsx
Due: prettier --write, eslint --fix

refactor(ink-backend): perform sanity checks at root of middleware
  packages/components/packages/Ink-server/InkBackend.js
Due: prettier --write, eslint --fix

feat(theme): add a Coko theme
  packages/coko-theme/README.md
  packages/coko-theme/package.json
  packages/coko-theme/src/index.js
Due: prettier --write, eslint --fix

feat(client): add Apollo Client
  packages/client/package.json
  packages/client/src/components/Root.js
  packages/client/src/helpers/withLoader.js
  packages/client/src/helpers/withMutationState.js
  packages/client/src/index.js
  packages/client/test/components/Root.test.jsx
  packages/components/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(client): add tests to graphql HOCs
  packages/client/src/helpers/withAuthsome.js
  packages/client/src/helpers/withMutationState.js
  packages/client/test/helpers/withLoader.test.js
  packages/client/test/helpers/withMutationState.test.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/packages/xpub-manuscript/CHANGELOG.md
  packages/components/packages/xpub-manuscript/package.json
Due: prettier --write

chore(release): publish
  packages/components/CHANGELOG.md
Due: prettier --write

fix(components): make use of email component
  packages/components/packages/xpub-review-server/package.json
  packages/components/packages/xpub-review-server/src/reviewBackend.js
  packages/components/packages/xpub-review-server/src/transport.js
Due: prettier --write, eslint --fix

docs: update contributing guide for conventional commits
  CONTRIBUTING
Due: none

fix(components): check configuration missing
  packages/components/packages/SendEmail-server/src/SendEmail.js
Due: prettier --write, eslint --fix

fix(components): fix test backend
  packages/components/packages/xpub-review-server/src/reviewBackend.test.js
Due: prettier --write, eslint --fix

fix(components): fix rebase conflicts
  packages/components/CHANGELOG.md
Due: prettier --write

feat(collabra-authsome): add support for getting a single collection
  packages/xpub-collabra-authsome/src/index.js
  packages/xpub-collabra-authsome/test/integration.test.js
Due: prettier --write, eslint --fix

feat(collabra-authsome): add support for getting fragments
  packages/xpub-collabra-authsome/src/index.js
  packages/xpub-collabra-authsome/test/integration.test.js
Due: prettier --write, eslint --fix

fix(graphql): reorder authorization checks for creation
  packages/server/src/connectors/creators.js
Due: prettier --write, eslint --fix

feat(server): add permission based filtering to users api
  packages/server/src/routes/api_users.js
  packages/server/test/helpers/api.js
Due: prettier --write, eslint --fix

refactor(collabra-authsome): different way of structuring the mode
  packages/xpub-collabra-authsome/package.json
  packages/xpub-collabra-authsome/src/index.js
  packages/xpub-collabra-authsome/test/integration.test.js
Due: prettier --write, eslint --fix

fix(server): add create property validation
  packages/server/src/models/validations.js
Due: prettier --write, eslint --fix

chore(server): bump authsome dependency
  packages/server/package.json
  yarn.lock
Due: prettier --write

chore: update authsome dependency
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

fix(server): add nesting back to users list endpoint
  packages/server/src/routes/api_users.js
Due: prettier --write, eslint --fix

test(server): fix tests for new features
  packages/server/test/api_collections_test.js
  packages/server/test/api_teams_test.js
  packages/server/test/api_users_test.js
  packages/server/test/fixtures/fixtures.js
  packages/server/test/helpers/authsome_mode.js
Due: prettier --write, eslint --fix

feat(components): remove react-bootstrap
  packages/components/packages/TeamsManager/package.json
  packages/components/packages/TeamsManager/src/Team.jsx
  packages/components/packages/TeamsManager/src/TeamCreator.jsx
  packages/components/packages/TeamsManager/src/TeamsManager.jsx
  packages/components/packages/TeamsManager/src/TeamsManagerContainer.js
  packages/components/packages/TeamsManager/src/index.js
  packages/components/packages/UsersManager/UsersManager.jsx
  packages/components/packages/UsersManager/package.json
  packages/components/packages/UsersManager/src/User.jsx
  packages/components/packages/UsersManager/src/UsersManager.jsx
  packages/components/packages/UsersManager/src/UsersManagerContainer.js
  packages/components/packages/UsersManager/src/index.js
Due: prettier --write, eslint --fix
