Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

chore: simplify coverage collection
  .gitlab-ci.yml
  package.json
Due: prettier --write

fix(graphql): return one pubsub only in getPubsub
  packages/server/src/graphql/pubsub.js
Due: prettier --write, eslint --fix

fix(server): use appropriate inputs for GraphQL mutations
  packages/server/src/connectors/creators.js
  packages/server/src/graphql/definitions/collection.js
  packages/server/src/graphql/definitions/fragment.js
  packages/server/src/graphql/definitions/team.js
  packages/server/src/graphql/definitions/user.js
  packages/server/src/models/validations.js
  packages/server/test/graphql/mutations_test.js
  packages/server/test/graphql/queries_test.js
Due: prettier --write, eslint --fix

chore(ui): export TextArea and add prop types
  packages/ui/src/atoms/TextArea.js
  packages/ui/src/atoms/index.js
Due: prettier --write, eslint --fix

feat: add CLI migrate command
  packages/cli/bin/pubsweet-migrate.js
  packages/cli/bin/pubsweet.js
  packages/cli/cli/migrate.js
  packages/db-manager/src/commands/create-tables.js
  packages/db-manager/src/commands/migrate.js
  packages/db-manager/src/helpers/umzug.js
  packages/db-manager/src/index.js
Due: prettier --write, eslint --fix

chore(ui): use ui-toolkit's validationColor
  packages/ui/src/atoms/TextArea.js
Due: prettier --write, eslint --fix

fix(xpub-edit): hide menu when readonly
  packages/components/xpub-edit/src/components/Editor.js
Due: prettier --write, eslint --fix

fix: drop tables in one query
  packages/db-manager/src/commands/create-tables.js
Due: prettier --write, eslint --fix

chore(jest): use a different way of configuring projects
  package.json
  packages/client/package.json
  packages/db-manager/package.json
  packages/server/package.json
Due: prettier --write

chore: move more jest configurations to root
  package.json
  packages/cli/package.json
  packages/components/package.json
  packages/logger/package.json
  packages/ui/package.json
Due: prettier --write

fix: use custom babel-plugin-istanbul release
  package.json
  yarn.lock
Due: prettier --write

chore: update babel-plugin-istanbul dependency
  yarn.lock
Due: none

fix(server): use TeamInput for updateTeam mutation too
  packages/server/src/graphql/definitions/team.js
  packages/server/test/graphql/mutations_test.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/Epub/CHANGELOG.md
  packages/components/Epub/package.json
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/Ink-server/CHANGELOG.md
  packages/components/Ink-server/package.json
  packages/components/Login/CHANGELOG.md
  packages/components/Login/package.json
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix: fixed websocket protocol over https
  packages/client/src/components/Root.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/xpub-edit/CHANGELOG.md
  packages/components/xpub-edit/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
Due: prettier --write

feat(date-parser): add humanize threshold
  packages/ui/src/atoms/DateParser.js
  packages/ui/src/atoms/DateParser.md
Due: prettier --write, eslint --fix

docs(date-parser): update proptypes
  packages/ui/src/atoms/DateParser.js
Due: prettier --write, eslint --fix

docs(date-parser): change timestamp proptype options
  packages/ui/src/atoms/DateParser.js
Due: prettier --write, eslint --fix

fix: fixed minor mistake
  packages/client/src/components/Root.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
Due: prettier --write

refactor(dateparser): refactor dateparser to cover suggested use-cases
  packages/ui/src/atoms/DateParser.js
  packages/ui/src/atoms/DateParser.md
Due: prettier --write, eslint --fix

test(date-parser): update snapshot and add more tests
  packages/ui/test/DateParser.test.js
  packages/ui/test/__snapshots__/DateParser.test.js.snap
Due: prettier --write, eslint --fix

docs: add wiki to README
  README.md
Due: prettier --write

fix(sse): pulse only if someone is connected
  package.json
  packages/sse/lib/SSE.js
  packages/sse/test/pulsing_test.js
Due: prettier --write, eslint --fix

feat(formbuilder): add forms layout
  packages/components/xpub-formbuilder/CHANGELOG.md
  packages/components/xpub-formbuilder/README.md
  packages/components/xpub-formbuilder/package.json
  packages/components/xpub-formbuilder/src/components/ComponentProperties.jsx
  packages/components/xpub-formbuilder/src/components/CreateForm.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderLayout.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderPage.js
  packages/components/xpub-formbuilder/src/components/TeamCreator.jsx
  packages/components/xpub-formbuilder/src/components/atoms/AdminSection.js
  packages/components/xpub-formbuilder/src/components/atoms/Columns.js
  packages/components/xpub-formbuilder/src/components/index.js
  packages/components/xpub-formbuilder/src/components/molecules/Page.js
  packages/components/xpub-formbuilder/src/components/molecules/Table.js
  packages/components/xpub-formbuilder/src/index.js
  packages/components/xpub-formbuilder/src/redux/FormBuilder.js
  packages/components/xpub-formbuilder/src/server/formRequestBackend.js
  packages/ui/src/molecules/Tabs.js
Due: prettier --write, eslint --fix

feat(formbuilder): add components for the builder
  packages/components/xpub-formbuilder/src/components/builderComponents/AbstractField.js
  packages/components/xpub-formbuilder/src/components/builderComponents/CheckBox.js
  packages/components/xpub-formbuilder/src/components/builderComponents/Menu.js
  packages/components/xpub-formbuilder/src/components/builderComponents/OptionsField.js
  packages/components/xpub-formbuilder/src/components/builderComponents/RadioBox.js
  packages/components/xpub-formbuilder/src/components/builderComponents/TextArea.js
  packages/components/xpub-formbuilder/src/components/builderComponents/TextField.js
  packages/components/xpub-formbuilder/src/components/builderComponents/index.js
Due: prettier --write, eslint --fix

feat(formbuilder): layout of form builder
  packages/components/xpub-formbuilder/src/components/ComponentProperties.jsx
  packages/components/xpub-formbuilder/src/components/CreateForm.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderLayout.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderPage.js
  packages/components/xpub-formbuilder/src/components/FormProperties.jsx
  packages/components/xpub-formbuilder/src/components/TeamCreator.jsx
  packages/components/xpub-formbuilder/src/components/config/Elements.js
  packages/components/xpub-formbuilder/src/components/styles/index.js
Due: prettier --write, eslint --fix

feat(components): form builder backend requests
  packages/components/xpub-formbuilder/src/server/formRequestBackend.js
  packages/components/xpub-formbuilder/src/server/util.js
Due: prettier --write, eslint --fix

feat(formbuilder): add form redux actions formbuilder
  packages/components/xpub-formbuilder/src/index.js
  packages/components/xpub-formbuilder/src/redux/FormBuilder.js
Due: prettier --write, eslint --fix

fix(formbuilder): test addition
  packages/components/xpub-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-formbuilder/src/test/FormBuilder.test.js
  packages/components/xpub-formbuilder/src/test/util.js
Due: prettier --write, eslint --fix

fix(update): update dependencies
  packages/components/xpub-formbuilder/package.json
Due: prettier --write

fix(formbuilder): fixing styling issues to submit
  packages/components/xpub-submit/src/styles/index.js
Due: prettier --write, eslint --fix

fix(xpubformbuilder): integration test and component
  packages/components/xpub-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderPage.js
  packages/components/xpub-formbuilder/src/test/FormBuilder.test.js
  packages/components/xpub-formbuilder/src/test/FormBuilderPage.integration.test.js
  packages/components/xpub-formbuilder/src/test/config/test.json
  packages/components/xpub-formbuilder/src/test/config/testnoelements.json
Due: prettier --write, eslint --fix

fix(menu): add style to menu multiple
  packages/coko-theme/src/elements/Menu.js
Due: prettier --write, eslint --fix

feat(formbuilder): add validation for elements
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
  packages/components/xpub-formbuilder/src/components/builderComponents/Menu.js
  packages/components/xpub-formbuilder/src/components/config/Elements.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

feat(backend): add backend check path floder
  packages/components/xpub-formbuilder/src/server/formRequestBackend.js
Due: prettier --write, eslint --fix

fix(fomrbuilder): fix validation
  packages/components/xpub-formbuilder/src/components/builderComponents/Menu.js
  packages/components/xpub-formbuilder/src/components/config/Elements.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-validators/src/index.js
Due: prettier --write, eslint --fix

fix(formbuilder): erase files uneeded
  packages/components/xpub-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-formbuilder/src/components/atoms/AdminSection.js
  packages/components/xpub-formbuilder/src/components/molecules/Table.js
  packages/components/xpub-formbuilder/src/components/styles/index.js
Due: prettier --write, eslint --fix
