Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

chore: update yarn.lock
  yarn.lock
Due: none

test: fix docker image build
  .dockerignore
  Dockerfile
Due: none

fix(styleguide): adjust paths for new structure
  docs/src/webpack-config.js
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

fix(styleguide): add back xpub components
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

chore: upgrade apollo dependencies
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

feat(server): upgrade integration with apollo server 2.0
  packages/server/src/app.js
  packages/server/src/graphql/api.js
  packages/server/src/graphql/definitions/upload.js
  packages/server/src/graphql/schema.js
  packages/server/test/graphql/errors_test.js
Due: prettier --write, eslint --fix

chore(server): remove apollo-upload-server from dependencies
  packages/server/package.json
  yarn.lock
Due: prettier --write

feat(job-xsweet): include base64 images in html
  components/server/job-xsweet/Dockerfile
  components/server/job-xsweet/src/endpoint.js
  components/server/job-xsweet/src/xsweet.js
Due: prettier --write, eslint --fix

docs: update links to components
  README.md
  components/server/job-xsweet/README.md
  docs/content/how_do_you_create_a_component.md
  docs/content/what_are_components.md
  packages/cli/README.md
Due: prettier --write

fix(cli): initialize new repository after cloning
  packages/cli/cli/new.js
Due: prettier --write, eslint --fix

fix(cli): update to latest version of commander to fix cli subcommands
  packages/cli/package.json
  yarn.lock
Due: prettier --write

docs: update/replace getting started guide
  docs/content/getting_started.md
  docs/content/introduction.md
  docs/styleguide.config.js
Due: prettier --write, eslint --fix

docs: improve getting started
  docs/assets/hello-world.png
  docs/content/getting_started.md
Due: prettier --write

feat(peoplepicker): wip
  components/client/component-people-picker/package.json
  components/client/component-people-picker/src/ButtonAsIconWrapper.js
  components/client/component-people-picker/src/ChooserPod.js
  components/client/component-people-picker/src/ChooserPod.md
  components/client/component-people-picker/src/CrossIconButton.js
  components/client/component-people-picker/src/Icon.js
  components/client/component-people-picker/src/PeoplePickerBody.js
  components/client/component-people-picker/src/PeoplePickerBody.md
  components/client/component-people-picker/src/PeoplePickerButtons.js
  components/client/component-people-picker/src/PeoplePickerButtons.md
  components/client/component-people-picker/src/PeoplePickerLayout.js
  components/client/component-people-picker/src/PeoplePickerLayout.md
  components/client/component-people-picker/src/PeoplePickerLogic.js
  components/client/component-people-picker/src/PeoplePickerLogic.md
  components/client/component-people-picker/src/PeoplePickerLogic.test.js
  components/client/component-people-picker/src/PersonInfoModal.js
  components/client/component-people-picker/src/PersonInfoModal.md
  components/client/component-people-picker/src/PersonPod.js
  components/client/component-people-picker/src/PersonPod.md
  components/client/component-people-picker/src/PersonPod.test.js
  components/client/component-people-picker/src/PersonPodGrid.js
  components/client/component-people-picker/src/PersonPodGrid.md
  components/client/component-people-picker/src/PodContainer.js
  components/client/component-people-picker/src/PodContainer.md
  components/client/component-people-picker/src/SearchBox.js
  components/client/component-people-picker/src/SearchBox.md
  components/client/component-people-picker/src/SearchBox.test.js
  components/client/component-people-picker/src/SelectedItem.js
  components/client/component-people-picker/src/index.js
  components/client/component-people-picker/src/media.js
  components/client/component-people-picker/src/types.js
  packages/ui/package.json
  packages/ui/src/molecules/TwoColumnLayout.js
  packages/ui/src/molecules/TwoColumnLayout.md
  packages/ui/src/molecules/index.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(peoplepicker): fixed icon import
  components/client/component-people-picker/src/PodContainer.js
Due: prettier --write, eslint --fix

feat(peoplepicker): removing tests of unused clickability
  components/client/component-people-picker/src/PersonPod.test.js
Due: prettier --write, eslint --fix

feat: move media query mixin to ui-toolkit
  components/client/component-people-picker/src/PeoplePickerBody.js
  packages/ui-toolkit/index.js
  packages/ui-toolkit/src/media.js
Due: prettier --write, eslint --fix

feat(ui): add modal
  packages/ui/src/molecules/index.js
  packages/ui/src/molecules/modal/Modal.js
  packages/ui/src/molecules/modal/ModalContext.js
  packages/ui/src/molecules/modal/ModalOverlay.js
  packages/ui/src/molecules/modal/ModalProvider.js
  packages/ui/src/molecules/modal/index.js
  packages/ui/src/molecules/modal/useModal.js
  packages/ui/src/molecules/modal/withModal.js
Due: prettier --write, eslint --fix

fix(peoplepicker): remove the icon override
  components/client/component-people-picker/src/PodContainer.js
Due: prettier --write, eslint --fix

feat(peoplepicker): replace autosuggest with textfield for people picker
  components/client/component-people-picker/src/SearchBox.js
Due: prettier --write, eslint --fix

fix(peoplepicker): remove dead icon overriding code
  components/client/component-people-picker/src/Icon.js
Due: prettier --write, eslint --fix

feat(peoplepicker): add onkeydown event handler to the search box
  components/client/component-people-picker/src/SearchBox.js
Due: prettier --write, eslint --fix

feat(peoplepicker): improve the placeholder of the search box
  components/client/component-people-picker/src/SearchBox.js
Due: prettier --write, eslint --fix

feat: further tests of TwoColumnLayout component
  packages/ui/src/molecules/TwoColumnLayout.js
  packages/ui/src/molecules/TwoColumnLayout.test.js
Due: prettier --write, eslint --fix

test(ui): add tests for the modal component
  docs/styleguide.config.js
  packages/ui/package.json
  packages/ui/src/molecules/modal/Modal.md
  packages/ui/src/molecules/modal/Modal.test.js
  packages/ui/src/molecules/modal/ModalOverlay.js
  packages/ui/test/setup/enzyme.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(peoplepicker): user props for the placeholder of the search box
  components/client/component-people-picker/src/PeoplePickerLayout.js
  components/client/component-people-picker/src/PeoplePickerLayout.md
  components/client/component-people-picker/src/SearchBox.js
Due: prettier --write, eslint --fix

fix(peoplepicker): added customisable people prop and filtering function
  components/client/component-people-picker/src/PeoplePickerLayout.js
  components/client/component-people-picker/src/PeoplePickerLayout.md
  components/client/component-people-picker/src/PeoplePickerLogic.js
  components/client/component-people-picker/src/SearchBox.js
Due: prettier --write, eslint --fix

docs(ui): add modal examples to the styleguide
  docs/package.json
  docs/styleguide.config.js
  packages/ui/src/molecules/Modals.js
  packages/ui/src/molecules/Modals.md
  packages/ui/src/molecules/modal/Modal.md
  packages/ui/src/molecules/modal/index.js
  packages/ui/test/Modal.test.js
  yarn.lock
Due: prettier --write, eslint --fix

refactor: replace all local Icons with ui icons
  components/client/component-people-picker/src/ButtonAsIconWrapper.js
  components/client/component-people-picker/src/CrossIconButton.js
  components/client/component-people-picker/src/Icon.js
  components/client/component-people-picker/src/PersonPod.js
  components/client/component-people-picker/src/PodContainer.js
  components/client/component-people-picker/src/SearchBox.js
  components/client/component-people-picker/src/SearchBox.test.js
  components/client/component-people-picker/src/SelectedItem.js
Due: prettier --write, eslint --fix

feat: add new input box with addons
  packages/ui/src/molecules/InputWithAddons.js
  packages/ui/src/molecules/InputWithAddons.md
Due: prettier --write, eslint --fix

fix(peoplepicker): fixed styling of InputWithAddons
  packages/ui/src/molecules/InputWithAddons.js
Due: prettier --write, eslint --fix

fix: input with addons border thinkness, default input height
  packages/ui/src/molecules/InputWithAddons.js
Due: prettier --write, eslint --fix

fix: fix default theme styling of Searchbox
  components/client/component-people-picker/src/SearchBox.js
  packages/ui/src/molecules/InputWithAddons.js
  packages/ui/src/molecules/index.js
Due: prettier --write, eslint --fix

feat: allow override of input component in searchbox (broken)
  components/client/component-people-picker/src/PeoplePickerLayout.js
  components/client/component-people-picker/src/PeoplePickerLayout.md
  components/client/component-people-picker/src/SearchBox.js
Due: prettier --write, eslint --fix

feat: add some docs about the input override and make it work
  components/client/component-people-picker/src/PeoplePickerLayout.md
  components/client/component-people-picker/src/SearchBox.js
Due: prettier --write, eslint --fix

chore: revert yarn.lock and do a more minimal dep bump
  yarn.lock
Due: none

chore: use JSX filenames when JSX is used
  packages/ui/src/molecules/modal/Modal.jsx
  packages/ui/src/molecules/modal/ModalProvider.jsx
  packages/ui/src/molecules/modal/withModal.jsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
