Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

test: re-enable integration and cli tests
  packages/cli/package.json
  packages/cli/test/cli/add.test.js
  packages/cli/test/integration.test.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): publish
  packages/base-model/CHANGELOG.md
  packages/base-model/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write

feat: add global property to team
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
  packages/client/test/helpers/AuthorizeWithGraphQL.test.jsx
  packages/server/src/graphql/definitions/team.js
  packages/server/src/models/validations.js
  packages/server/test/graphql/queries_test.js
  packages/server/test/teams_test.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/base-model/CHANGELOG.md
  packages/base-model/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write

fix: add .babelrc to ui package's files
  packages/ui/package.json
Due: prettier --write

test: remove meaningless validations
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix

fix(cli): update migration teardown to use knex instead of pg
  packages/cli/cli/migrate.js
Due: prettier --write, eslint --fix

fix(test): errors
  packages/components/Login/Login.jsx
Due: prettier --write, eslint --fix

fix(test): change error message
  packages/components/Login/actions.test.js
Due: prettier --write, eslint --fix

refactor(xpub-dashboard): convert to graphql
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-dashboard/src/components/graphql/DashboardPage.js
  packages/components/xpub-dashboard/src/index.js
  packages/components/xpub-dashboard/src/lib/upload.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.md
  packages/components/xpub-review/src/components/assignEditors/AssignEditorContainer.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditorsReviewers.js
Due: prettier --write, eslint --fix

feat(dashboard): graphql migration
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
  packages/components/xpub-dashboard/src/index.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.md
  packages/components/xpub-review/src/components/assignEditors/AssignEditorContainer.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditorsReviewers.js
Due: prettier --write, eslint --fix

feat(login): formik error handling
  packages/components/Login/Login.jsx
  packages/components/Login/Login.md
  packages/components/Login/Login.test.jsx
  packages/components/Login/LoginContainer.js
  packages/components/Login/actions.js
  packages/components/Login/graphql/LoginContainer.js
Due: prettier --write, eslint --fix

fix(test): formik error
  packages/components/Login/Login.jsx
  packages/components/Login/actions.js
  packages/components/Login/actions.test.js
  packages/components/Login/graphql/LoginContainer.js
Due: prettier --write, eslint --fix

feat(dashboard): graphql with new data model
  packages/client/src/helpers/withAuthsomeGraphQL.js
  packages/components/xpub-dashboard/src/components/Dashboard.js
  packages/components/xpub-dashboard/src/components/JournalLink.js
  packages/components/xpub-dashboard/src/components/JournalLink.md
  packages/components/xpub-dashboard/src/components/metadata/MetadataAuthors.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataSections.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
  packages/components/xpub-dashboard/src/graphql/mutations/index.js
  packages/components/xpub-dashboard/src/graphql/queries/index.js
  packages/components/xpub-dashboard/src/lib/upload.js
  packages/components/xpub-selectors/src/index.js
  packages/components/xpub-with-context/CHANGELOG.md
  packages/components/xpub-with-context/README.md
  packages/components/xpub-with-context/package.json
  packages/components/xpub-with-context/src/createContext.js
  packages/components/xpub-with-context/src/index.js
Due: prettier --write, eslint --fix

fix(authosome): change authosome component
  packages/components/xpub-dashboard/src/components/Dashboard.js
  packages/components/xpub-dashboard/src/components/Reviews.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataAuthors.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
  packages/components/xpub-dashboard/src/graphql/mutations/index.js
  packages/components/xpub-dashboard/src/graphql/queries/index.js
  packages/components/xpub-dashboard/src/lib/upload.js
  packages/components/xpub-selectors/src/index.js
Due: prettier --write, eslint --fix

feat(graphql): add graphql and formik
  packages/components/Login/Login.jsx
  packages/components/Login/LoginContainer.js
  packages/components/Login/graphql/LoginContainer.js
  packages/components/Login/graphql/mutations/index.js
  packages/components/Login/package.json
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
Due: prettier --write, eslint --fix

feat(graphql): changes components to new data schema
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-dashboard/src/components/Dashboard.js
  packages/components/xpub-dashboard/src/components/metadata/Meta.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataAuthors.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataOwners.js
  packages/components/xpub-dashboard/src/components/metadata/MetadataSections.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.js
  packages/components/xpub-dashboard/src/components/sections/VersionTitle.js
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
  packages/components/xpub-dashboard/src/graphql/mutations/index.js
  packages/components/xpub-dashboard/src/graphql/queries/index.js
Due: prettier --write, eslint --fix

fix(styleguide): formik error
  packages/components/Login/Login.md
Due: prettier --write

fix(test): graphql testing
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-dashboard/src/components/Dashboard.test.js
  packages/components/xpub-dashboard/src/components/DashboardPage.integration.test.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.test.js
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
Due: prettier --write, eslint --fix

fix(dashboard): remove uneeded files
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
Due: prettier --write, eslint --fix

fix(styleguide): formik error
  packages/components/Login/Login.test.jsx
Due: prettier --write, eslint --fix

chore: upgrade graphql
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

fix(eslint): cleanup dashboard
  packages/client/src/helpers/withAuthsomeGraphQL.js
  packages/components/xpub-with-context/CHANGELOG.md
  packages/components/xpub-with-context/package.json
  packages/components/xpub-with-context/src/createContext.js
Due: prettier --write, eslint --fix

fix(prettier): linter errors
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
Due: prettier --write, eslint --fix

revert(redux): dashboard redux
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-dashboard/src/components/Dashboard.test.js
  packages/components/xpub-dashboard/src/components/DashboardPage.integration.test.js
  packages/components/xpub-dashboard/src/components/DashboardPage.js
  packages/components/xpub-dashboard/src/components/withVersion.js
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
  packages/components/xpub-dashboard/src/index.js
  packages/components/xpub-dashboard/src/redux/conversion.js
  packages/components/xpub-dashboard/src/redux/conversion.test.js
  packages/components/xpub-dashboard/src/redux/index.js
  packages/components/xpub-dashboard/src/redux/teams.js
Due: prettier --write, eslint --fix

fix(styleguide): add apollo Provider
  packages/components/xpub-dashboard/src/components/JournalLink.js
  packages/components/xpub-dashboard/src/components/JournalLink.md
  packages/components/xpub-dashboard/src/components/sections/EditorItem.md
  packages/components/xpub-dashboard/src/components/sections/OwnerItem.md
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.md
  packages/styleguide/src/components/Wrapper.js
Due: prettier --write, eslint --fix

fix(dashboard): graphql mutation history field
  packages/components/xpub-dashboard/src/graphql/mutations/index.js
Due: prettier --write, eslint --fix

feat(email-templating): remove "see more details" link from inv template
  packages/components/EmailTemplating-server/src/templates/partials/invLowerContent.hbs
Due: none

chore(email-templating): update yarn.lock
  yarn.lock
Due: none

fix(authenticate): remove passwordHash from login response
  packages/server/src/routes/api_users.js
Due: prettier --write, eslint --fix

feat: paged exporter
  packages/components/Epub/EpubBackend.js
  packages/components/Epub/EpubBackend.test.js
  packages/components/Epub/converters/index.js
  packages/components/Epub/converters/wax-paged-default.js
  packages/components/Epub/converters/wax-paged-ucp.js
  packages/components/Epub/converters/wax-vivliostyle-default.js
  packages/components/Epub/converters/wax-vivliostyle-ucp.js
  packages/components/Epub/output.js
  packages/components/Epub/pagednation.js
  packages/components/Epub/process.js
  packages/components/Epub/process.test.js
  packages/components/Epub/themes/paged_default.css
Due: prettier --write, eslint --fix, stylelint

feat: download html for pagedJS
  packages/components/Epub/EpubBackend.js
  packages/components/Epub/converters/wax-paged-default.js
  packages/components/Epub/converters/wax-paged-ucp.js
  packages/components/Epub/converters/wax-vivliostyle-default.js
  packages/components/Epub/converters/wax-vivliostyle-ucp.js
  packages/components/Epub/pagednation.js
Due: prettier --write, eslint --fix

chore: new pagedjs default css
  packages/components/Epub/themes/paged_default.css
Due: prettier --write, stylelint

fix(authentication): filter passwordHash via authsome
  packages/server/src/routes/api_users.js
  packages/server/test/helpers/authsome_mode.js
Due: prettier --write, eslint --fix

feat: conversion of inline notes
  packages/components/Epub/converters/wax-paged-default.js
  packages/components/Epub/converters/wax-paged-ucp.js
  packages/components/Epub/converters/wax-vivliostyle-default.js
  packages/components/Epub/converters/wax-vivliostyle-ucp.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/Epub/CHANGELOG.md
  packages/components/Epub/package.json
  packages/components/package.json
Due: prettier --write

test: filtering in authentication response
  packages/server/test/api_users_test.js
Due: prettier --write, eslint --fix

chore: remove unmaintained Draft-based components
  packages/components/Draft/CHANGELOG.md
  packages/components/Draft/Draft.jsx
  packages/components/Draft/Draft.md
  packages/components/Draft/DraftContainer.js
  packages/components/Draft/index.js
  packages/components/Draft/package.json
  packages/components/MediumDraft/CHANGELOG.md
  packages/components/MediumDraft/CustomImageSideButton.jsx
  packages/components/MediumDraft/MediumDraft.jsx
  packages/components/MediumDraft/MediumDraftContainer.js
  packages/components/MediumDraft/index.js
  packages/components/MediumDraft/package.json
  packages/components/MediumDraft/styles.scss
  yarn.lock
Due: prettier --write, eslint --fix, stylelint
