Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

chore: additional npm ignores
  components/client/component-people-picker/.npmignore
  components/client/component-signup/.npmignore
  components/client/xpub-edit/.npmignore
  components/server/component-aws-s3/.npmignore
  components/server/model-team/.npmignore
Due: none

docs: updated links in introduction section
  docs/content/introduction.md
Due: prettier --write

docs: updated getting started guide
  docs/content/getting_started.md
  docs/content/introduction.md
Due: prettier --write

docs: updated list of dependencies
  docs/content/getting_started.md
Due: prettier --write

docs: added notes how to configure PATH for yarn globally
  docs/content/getting_started.md
Due: prettier --write

docs: updated instructions how to edit yarn PATH
  docs/content/getting_started.md
Due: prettier --write

docs: update Coko's logo
  README.md
  assets/COKO_logo.jpg
  assets/COKO_logo.png
Due: prettier --write

feat(model-user): add identity table and basic model
  components/server/model-user/src/identity.js
  components/server/model-user/src/index.js
  components/server/model-user/src/migrations/1580908536-add-identities.sql
  components/server/model-user/src/user.js
Due: prettier --write, eslint --fix, stylelint

chore: removed unused component epub-frontend
  components/client/component-epub-frontend/CHANGELOG.md
  components/client/component-epub-frontend/actions.js
  components/client/component-epub-frontend/index.js
  components/client/component-epub-frontend/package.json
  components/client/component-epub-frontend/reducers.js
  components/client/component-epub-frontend/types.js
Due: prettier --write, eslint --fix, stylelint

chore: removed unused component epub
  components/server/component-epub/.npmignore
  components/server/component-epub/CHANGELOG.md
  components/server/component-epub/EpubBackend.js
  components/server/component-epub/EpubBackend.test.js
  components/server/component-epub/converters/index.js
  components/server/component-epub/converters/wax-paged-default.js
  components/server/component-epub/converters/wax-paged-ucp.js
  components/server/component-epub/converters/wax-vivliostyle-default.js
  components/server/component-epub/converters/wax-vivliostyle-ucp.js
  components/server/component-epub/index.js
  components/server/component-epub/output.js
  components/server/component-epub/package.json
  components/server/component-epub/pagednation.js
  components/server/component-epub/process.js
  components/server/component-epub/process.test.js
  components/server/component-epub/sorter.js
  components/server/component-epub/sorter.test.js
  components/server/component-epub/themes/default.css
  components/server/component-epub/themes/paged_default.css
Due: prettier --write, eslint --fix, stylelint

docs: update PubSweet logo in README
  README.md
  assets/logo-pubsweet.png
  assets/rgb-icon-small.jpg
  assets/rgb-medium.jpg
Due: prettier --write

docs: update components documentation
  docs/content/what_are_components.md
Due: prettier --write

fix: export/import for people-picker component
  components/client/component-people-picker/src/index.js
Due: prettier --write, eslint --fix, stylelint

docs: update client components documentation
  docs/content/what_are_components.md
Due: prettier --write

feat(model-user): change user model to account for identities
  components/server/model-team/src/graphql.js
  components/server/model-user/src/graphql.js
  components/server/model-user/src/identity.js
  components/server/model-user/src/migrations/1580908536-add-identities.sql
  components/server/model-user/src/user.js
  components/server/model-user/test/user_graphql_test.js
Due: prettier --write, eslint --fix, stylelint

feat(model-user): add user to default identity migration
  components/server/model-user/src/migrations/1580908536-add-identities.sql
  components/server/model-user/src/migrations/1581371297-migrate-users-to-identities.js
  components/server/model-user/test/1581371297-migrate-users-to-identities_test.js
  components/server/model-user/test/user_graphql_test.js
Due: prettier --write, eslint --fix, stylelint

feat(ui): add IconButton component
  packages/ui/src/atoms/IconButton.js
  packages/ui/src/atoms/IconButton.md
Due: prettier --write, eslint --fix, stylelint

docs: fix broken links for technical architecture
  docs/content/technical_architecture.md
Due: prettier --write

style: fix css for the component
  packages/ui/src/atoms/IconButton.js
  packages/ui/src/atoms/IconButton.md
Due: prettier --write, eslint --fix, stylelint

fix: restructured code for the component
  packages/ui/src/atoms/IconButton.js
Due: prettier --write, eslint --fix, stylelint

feat(server): add support for TypeScript
  package.json
  packages/server/package.json
  packages/server/src/routes/util.js
  packages/server/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat(server): add initial types for the Express app
  package.json
  packages/server/src/app.ts
  packages/server/src/start-server.ts
  packages/server/src/types.ts
  yarn.lock
Due: prettier --write

build(server): make server's tests understand TypeScript
  babel.config.js
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

fix: added more props to IconButton
  packages/ui/src/atoms/IconButton.js
  packages/ui/src/atoms/IconButton.md
Due: prettier --write, eslint --fix, stylelint

style: add eslint support for typescript
  .eslintrc
  .eslintrc.js
  components/server/model-user/test/user_test.js
  package.json
  packages/base-model/test/manuscript_test.js
  packages/cli/test/integration.test.js
  packages/client/test/helpers/Authorize.test.jsx
  packages/client/test/helpers/BaseAuthorize.test.jsx
  packages/logger/test/index.test.js
  packages/server/src/app.ts
  packages/server/src/routes/api_upload.js
  packages/server/src/start-server.ts
  packages/server/src/types.ts
  packages/server/test/jobs/jobs_different_process_test.js
  packages/server/test/jobs/jobs_integration_test.js
  packages/server/test/jobs/jobs_test.js
  packages/server/test/model_test.js
  packages/server/test/start_server_test.js
  packages/server/test/token_test.js
  packages/sse/src/SSE.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

fix: added styling to icon
  packages/ui/src/atoms/IconButton.js
  packages/ui/src/atoms/IconButton.md
Due: prettier --write, eslint --fix, stylelint

chore: bump jest-cli
  package.json
  yarn.lock
Due: prettier --write

test(server): fix coverage reporting
  jest.config.js
Due: prettier --write, eslint --fix, stylelint

style(server): use 'import from' due to babel-jest support
  packages/server/package.json
  packages/server/src/app.ts
  packages/server/src/start-server.ts
Due: prettier --write

fix: added tests
  packages/ui/src/atoms/IconButton.js
  packages/ui/src/atoms/index.js
Due: prettier --write, eslint --fix, stylelint

fix: updated tests
  packages/ui/src/atoms/IconButton.js
  packages/ui/test/IconButton.test.js
  packages/ui/test/__snapshots__/IconButton.test.js.snap
Due: prettier --write, eslint --fix, stylelint

docs: updated theme variables
  docs/content/using_themes.md
Due: prettier --write

feat(ui): add paragraph component
  packages/ui/src/atoms/Paragraph.js
  packages/ui/src/atoms/Paragraph.md
Due: prettier --write, eslint --fix, stylelint

fix: styled vertical alignment for icon and text
  packages/ui/src/atoms/IconButton.js
Due: prettier --write, eslint --fix, stylelint

test(ui): update snapshot
  packages/ui/test/__snapshots__/IconButton.test.js.snap
Due: none

fix(db-manager): update fs-extra to resolve migration copying bug
  packages/db-manager/package.json
Due: prettier --write

chore: bump fs-extra
  docs/package.json
  packages/cli/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

docs: fixed broken links for workflow case studies
  docs/content/workflow_case_studies.md
Due: prettier --write

chore: bump dependencies
  yarn.lock
Due: none

build: use prepare script for building
  packages/client/package.json
  packages/ui/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{js, jsx})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{js, jsx}
