Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

feat(blog): initial migration to graphql
  packages/components/Blog/Blog.jsx
  packages/components/Blog/BlogContainer.js
  packages/components/Blog/BlogContainer.test.js
  packages/components/Blog/Summary.jsx
  packages/components/Blog/Summary.test.jsx
  packages/components/Blog/package.json
Due: prettier --write, eslint --fix

chore(users-manager): remove unused component
  packages/components/UsersManager/src/UsersManager.jsx
  packages/components/UsersManager/src/UsersManagerContainer.js
Due: prettier --write, eslint --fix

chore(client): update module exports
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
  packages/client/src/helpers/endpoint.js
Due: prettier --write, eslint --fix

chore(login): update module exports
  packages/components/Login/LoginContainer.js
  packages/components/Login/graphql/mutations/index.js
Due: prettier --write, eslint --fix

chore(password-reset): update for new config
  packages/components/PasswordReset-server/PasswordResetBackend.js
Due: prettier --write, eslint --fix

test(model-user): fix issue with async db cleaner
  packages/components/model-user/test/user_test.js
Due: prettier --write, eslint --fix

chore: update yarn.lock
  yarn.lock
Due: none

feat(server): allow relation/unrelation options for update resolver
  packages/server/src/connectors/connector.js
Due: prettier --write, eslint --fix

feat(model-user): improve eager loading in graphql
  packages/components/model-user/src/graphql.js
Due: prettier --write, eslint --fix

fix(model-team): fix membership update query
  packages/components/model-team/src/graphql.js
  packages/components/model-team/test/team_graphql_test.js
Due: prettier --write, eslint --fix

feat: very basic backend/working users manager
  packages/components/UsersManager/src/User.jsx
  packages/components/model-team/src/graphql.js
  packages/components/model-team/test/team_graphql_test.js
  packages/server/src/connectors/connector.js
Due: prettier --write, eslint --fix

feat(db-manager): simplify db manager
  packages/db-manager/src/commands/add-user.js
  packages/db-manager/src/commands/create-tables.js
Due: prettier --write, eslint --fix

chore: update babel.config.js
  babel.config.js
Due: prettier --write, eslint --fix

chore(client): bump apollo dependencies
  packages/client/package.json
  yarn.lock
Due: prettier --write

fix(styleguide): temporarily disable styleguide
  packages/client/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/package.json
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-submit/package.json
  packages/components/xpub-teams-manager/package.json
  packages/styleguide/package.json
  packages/styleguide/src/webpack-config.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(styleguide): disable building of styleguide
  Dockerfile
Due: none

fix(menu): pass validation status to the Menu default opener
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

fix(ui-toolkit): provide a parameter to catch
  packages/ui-toolkit/src/darkenLighten.js
Due: prettier --write, eslint --fix

fix(ci): add babel.config.js to Docker container
  Dockerfile
  yarn.lock
Due: none

docs: update documentation
  README.md
  packages/cli/README.md
  packages/client/CONTRIBUTING.md
  packages/client/README.md
  packages/components/xpub-manuscript/README.md
  packages/components/xpub-selectors/README.md
  packages/components/xpub-upload/README.md
  packages/components/xpub-validators/README.md
  packages/db-manager/README.md
  packages/logger/README.md
  packages/server/CONTRIBUTING.md
Due: prettier --write

feat(db-manager): remove addCollection and addFragment functions
  packages/db-manager/src/commands/add-collection.js
  packages/db-manager/src/commands/add-fragment.js
  packages/db-manager/src/index.js
  packages/db-manager/test/commands/add-collection.test.js
  packages/db-manager/test/commands/add-fragment.test.js
Due: prettier --write, eslint --fix

fix(model-user): fix update user mutation's password hashing
  packages/components/model-user/src/graphql.js
  packages/components/model-user/test/user_graphql_test.js
Due: prettier --write, eslint --fix

test(login): add test for show hide logo
  packages/components/Login/Login.jsx
  packages/components/Login/Login.test.jsx
Due: prettier --write, eslint --fix

fix(depedencies): add styled components
  packages/components/Login/package.json
Due: prettier --write

fix(test): update login snapshot. ui updated
  packages/components/Login/__snapshots__/Login.test.jsx.snap
Due: none

style(theme): default logo css on login page
  packages/coko-theme/src/elements/Logo.js
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
  packages/components/Login/Login.jsx
Due: prettier --write, eslint --fix

fix(login): add placeholder to fields
  packages/components/Login/Login.jsx
Due: prettier --write, eslint --fix

feat(login): add optional logo at the login screen
  packages/components/Login/Login.jsx
  packages/components/Login/package.json
Due: prettier --write, eslint --fix

test(login): change how select elements in Login
  packages/components/Login/Login.jsx
  packages/components/Login/__snapshots__/Login.test.jsx.snap
  yarn.lock
Due: prettier --write, eslint --fix

fix(redirect): after login the user
  packages/components/Login/LoginContainer.js
Due: prettier --write, eslint --fix

fix(login): delete unneeded files
  packages/components/Login/package.json
  packages/components/Login/redirect.js
  packages/components/Login/types.js
Due: prettier --write, eslint --fix

fix(ui): add class name & remove redundant prop type
  packages/ui/src/molecules/ActionGroup.js
Due: prettier --write, eslint --fix

feat(db-manager): allow override of db options with DATABASE_URL
  packages/db-manager/src/db.js
Due: prettier --write, eslint --fix

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade dependencies due to advisories
  package.json
  packages/components/AWSS3-server/package.json
  packages/components/Epub/package.json
  yarn.lock
Due: prettier --write

feat(server): pass app errors to clients instead of GraphQLError
  packages/server/src/graphql/routes.js
Due: prettier --write, eslint --fix

feat: add job-xsweet component
  packages/components/job-xsweet/Dockerfile
  packages/components/job-xsweet/README.md
  packages/components/job-xsweet/package.json
  packages/components/job-xsweet/src/endpoint.js
  packages/components/job-xsweet/src/execute_chain.sh
  packages/components/job-xsweet/src/index.js
  packages/components/job-xsweet/src/test.docx
  packages/components/job-xsweet/src/xsweet.js
  yarn.lock
Due: prettier --write, eslint --fix
