Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

test(ui): update snapshots
  packages/ui/test/__snapshots__/StateItem.test.js.snap
  packages/ui/test/__snapshots__/StateList.test.js.snap
Due: none

feat(styleguide): persist theme choice in local storage
  packages/styleguide/src/components/StyleGuideRenderer.js
Due: prettier --write, eslint --fix

feat(styleguide): persist grid toggle in localstorage
  packages/styleguide/src/components/StyleGuideRenderer.js
Due: prettier --write, eslint --fix

fix(ui-toolkit): plug holes in override function
  packages/ui-toolkit/src/override.js
Due: prettier --write, eslint --fix

docs(ui-toolkit): remove deprecated comment
  packages/ui-toolkit/src/override.js
Due: prettier --write, eslint --fix

fix(components): import Manage styles in component
  packages/components/Manage/Manage.jsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/coko-theme/CHANGELOG.md
  packages/coko-theme/package.json
  packages/components/Blog/CHANGELOG.md
  packages/components/Blog/package.json
  packages/components/CHANGELOG.md
  packages/components/Login/CHANGELOG.md
  packages/components/Login/package.json
  packages/components/Manage/CHANGELOG.md
  packages/components/Manage/package.json
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-connect/CHANGELOG.md
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-edit/CHANGELOG.md
  packages/components/xpub-edit/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/default-theme/CHANGELOG.md
  packages/default-theme/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui-toolkit/CHANGELOG.md
  packages/ui-toolkit/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

chore(epub): updated dependencies and fragment info on epub-server
  packages/components/Epub/package.json
  packages/components/Epub/process.js
  packages/components/EpubFrontend/package.json
Due: prettier --write, eslint --fix

feat(team-management): create new team component
  packages/components/xpub-teams-manager/CHANGELOG.md
  packages/components/xpub-teams-manager/README.md
  packages/components/xpub-teams-manager/package.json
  packages/components/xpub-teams-manager/src/Team.jsx
  packages/components/xpub-teams-manager/src/TeamCreator.jsx
  packages/components/xpub-teams-manager/src/TeamsManager.jsx
  packages/components/xpub-teams-manager/src/TeamsManagerPage.js
  packages/components/xpub-teams-manager/src/index.js
Due: prettier --write, eslint --fix

fix(xpub-team-manager): move files to components
  packages/components/xpub-submit/package.json
  packages/components/xpub-teams-manager/package.json
  packages/components/xpub-teams-manager/src/components/Team.jsx
  packages/components/xpub-teams-manager/src/components/TeamCreator.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManager.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManagerPage.js
  packages/components/xpub-teams-manager/src/index.js
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

style(teammanager): general ui fixes
  packages/components/xpub-teams-manager/src/components/molecules/Table.js
Due: prettier --write, eslint --fix

style(teammanager): general ui fixes
  packages/components/xpub-teams-manager/package.json
  packages/components/xpub-teams-manager/src/components/Team.jsx
  packages/components/xpub-teams-manager/src/components/TeamCreator.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManager.jsx
  packages/components/xpub-teams-manager/src/components/molecules/Actions.js
  packages/components/xpub-teams-manager/src/components/molecules/Item.js
  packages/components/xpub-teams-manager/src/components/molecules/Links.js
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

fix(teamanager): remove name
  packages/components/xpub-teams-manager/src/components/TeamsManager.jsx
Due: prettier --write, eslint --fix

feat(team-management): fix page layout
  packages/components/xpub-teams-manager/src/components/TeamsManager.jsx
  packages/components/xpub-teams-manager/src/components/molecules/Actions.js
  packages/components/xpub-teams-manager/src/components/molecules/Item.js
  packages/components/xpub-teams-manager/src/components/molecules/Links.js
  packages/components/xpub-teams-manager/src/components/molecules/Page.js
Due: prettier --write, eslint --fix

fix(components): button to styledButton
  packages/components/xpub-teams-manager/package.json
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

fix(menu): menu component of layout
  packages/components/xpub-teams-manager/src/components/Team.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManager.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManagerPage.js
Due: prettier --write, eslint --fix

fix(teams): update ui
  packages/components/xpub-teams-manager/package.json
Due: prettier --write

fix(menu): reset function
  packages/components/xpub-teams-manager/src/components/TeamCreator.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManager.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManagerPage.js
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

fix(teams): update styleguide
  packages/components/xpub-teams-manager/package.json
Due: prettier --write

fix(test): update snapshot
  packages/components/xpub-teams-manager/src/components/TeamsManager.test.js
  packages/ui/test/__snapshots__/Menu.test.js.snap
Due: prettier --write, eslint --fix

test(teammanager): add test teammanager
  packages/components/xpub-teams-manager/src/components/Team.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManager.test.js
Due: prettier --write, eslint --fix

fix(test): mock authorize
  packages/components/xpub-teams-manager/src/components/TeamsManagerPage.integration.test.js
Due: prettier --write, eslint --fix

fix(whitespaces): remove whitespaces
  packages/components/xpub-submit/package.json
  packages/components/xpub-teams-manager/package.json
Due: prettier --write

fix(component): remove comment
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

test(teammanager): add test for component
  packages/components/xpub-teams-manager/src/components/TeamsManager.test.js
Due: prettier --write, eslint --fix

fix(test): update snapshot
  packages/ui/test/__snapshots__/Menu.test.js.snap
Due: none

fix(snapshot): test recreate
  packages/ui/src/molecules/Menu.js
  packages/ui/test/__snapshots__/Menu.test.js.snap
Due: prettier --write, eslint --fix

test(teammanager): integration test
  packages/components/xpub-teams-manager/src/components/TeamsManager.test.js
  packages/components/xpub-teams-manager/src/components/TeamsManagerPage.integration.test.js
Due: prettier --write, eslint --fix

fix(teammanager): test fix failing
  packages/components/xpub-teams-manager/package.json
  packages/ui/package.json
Due: prettier --write

fix(teammanager): update styles component
  packages/components/xpub-teams-manager/package.json
  packages/ui/src/molecules/Menu.js
Due: prettier --write, eslint --fix

build(teammanager): ui version
  packages/components/xpub-teams-manager/package.json
Due: prettier --write

feat: replace wax with noteEditor/add basic,list schema as dependencies
  packages/components/xpub-edit/package.json
  packages/components/xpub-edit/src/components/Editor.js
  packages/components/xpub-manuscript/src/components/Manuscript.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(ui): modify the progress indicator to help with theming
  packages/ui/src/molecules/Steps.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/Login/CHANGELOG.md
  packages/components/Login/package.json
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix(ui-toolkit): fix Root override not getting registered
  packages/ui-toolkit/src/override.js
Due: prettier --write, eslint --fix

feat(server): make morgan request log format configurable
  packages/server/src/index.js
Due: prettier --write, eslint --fix

feat: ordered lists in progress
  packages/components/xpub-edit/package.json
  packages/components/xpub-edit/src/components/Editor.js
  packages/components/xpub-edit/src/components/configurable/EditorOptions.js
  packages/components/xpub-edit/src/components/configurable/config/index.js
  packages/components/xpub-edit/src/components/configurable/config/keys.js
  packages/components/xpub-edit/src/components/configurable/config/menu.js
  packages/components/xpub-manuscript/src/components/Manuscript.js
Due: prettier --write, eslint --fix

fix: remove unused code
  packages/components/xpub-edit/package.json
  packages/components/xpub-edit/src/components/configurable/config/index.js
  packages/components/xpub-edit/src/components/configurable/config/keys.js
Due: prettier --write, eslint --fix

feat: join and lift lists
  packages/components/xpub-edit/src/components/configurable/EditorOptions.js
  packages/components/xpub-edit/src/components/configurable/config/menu.js
  packages/components/xpub-manuscript/src/components/Manuscript.js
Due: prettier --write, eslint --fix

feat: hide lift/join if not list
  packages/components/xpub-edit/src/components/MenuBar.js
  packages/components/xpub-edit/src/components/MenuButton.js
  packages/components/xpub-edit/src/components/configurable/config/keys.js
  packages/components/xpub-edit/src/components/configurable/config/menu.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
