Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

feat(component-send-email): send email returns info about the operation
  components/server/component-send-email/README.md
  components/server/component-send-email/src/SendEmail.js
Due: prettier --write, eslint --fix, stylelint

test(component-email-template): add test on cc and bcc recipients
  components/server/component-email-templating/test/EmailTemplate.test.js
  components/server/component-email-templating/test/__snapshots__/EmailTemplate.test.js.snap
Due: prettier --write, eslint --fix, stylelint

chore: upgrade SortableList's react-dnd dep
  components/client/component-sortable-list/package.json
  components/client/component-sortable-list/src/SortableList.js
  components/client/component-sortable-list/src/SortableList.md
  docs/package.json
  docs/src/components/Wrapper.js
Due: prettier --write, eslint --fix, stylelint

chore: update to latest styleguidist and useState syntax
  components/client/component-people-picker/src/PeoplePickerBody.md
  components/client/component-people-picker/src/PeoplePickerLayout.md
  components/client/component-people-picker/src/PersonInfoModal.md
  components/client/component-people-picker/src/PersonPodGrid.md
  packages/ui/src/atoms/Checkbox.md
  packages/ui/src/atoms/Radio.md
  packages/ui/src/atoms/StateItem.md
  packages/ui/src/atoms/TextArea.md
  packages/ui/src/atoms/TextField.md
  packages/ui/src/molecules/CheckboxGroup.md
  packages/ui/src/molecules/EditableValue.md
  packages/ui/src/molecules/Steps.md
  yarn.lock
Due: prettier --write

fix: change use of useState
  components/client/component-people-picker/src/PeoplePickerBody.md
Due: prettier --write

docs: fix some of the font issues in the styleguide
  docs/src/webpack-config.js
Due: prettier --write, eslint --fix, stylelint

feat(sortable-list): upgrade to latest react-dnd complete
  components/client/component-sortable-list/examples/Example-handle.jsx
  components/client/component-sortable-list/examples/Example.jsx
  components/client/component-sortable-list/src/SortableList.js
  components/client/component-sortable-list/src/SortableList.md
  components/client/component-sortable-list/test/SortableList.test.js
Due: prettier --write, eslint --fix, stylelint

docs(sortable-list): add undocumented props
  components/client/component-sortable-list/examples/Example.jsx
  components/client/component-sortable-list/src/SortableList.js
  components/client/component-sortable-list/src/SortableList.md
Due: prettier --write, eslint --fix, stylelint

style(sortable-list): fix style linting issue
  components/client/component-sortable-list/examples/Example-handle.jsx
  components/client/component-sortable-list/examples/Example.jsx
Due: prettier --write, eslint --fix

fix(ui): removed unnecessary content
  packages/ui/src/molecules/Select.js
  packages/ui/src/molecules/SelectDropdown.js
  packages/ui/src/molecules/SelectDropdown.md
Due: prettier --write, eslint --fix, stylelint

test(select): add snapshot
  packages/ui/test/Select.test.js
  packages/ui/test/__snapshots__/Select.test.js.snap
Due: prettier --write, eslint --fix, stylelint

test(select): update snapshots
  packages/ui/test/Select.test.js
  packages/ui/test/SelectDropdown.test.js
  packages/ui/test/__snapshots__/Select.test.js.snap
  packages/ui/test/__snapshots__/SelectDropdown.test.js.snap
Due: prettier --write, eslint --fix, stylelint

docs: added documentation for Select
  packages/ui/src/molecules/Select.md
  packages/ui/src/molecules/SelectDropdown.js
  packages/ui/src/molecules/SelectDropdown.md
Due: prettier --write, eslint --fix, stylelint

test(selectdrodown): update snapshot
  packages/ui/test/__snapshots__/SelectDropdown.test.js.snap
Due: none

feat(ui): add Toggle component
  packages/ui/src/atoms/Toggle.js
  packages/ui/src/atoms/Toggle.md
  packages/ui/src/atoms/index.js
Due: prettier --write, eslint --fix, stylelint

test(ui): added toggle snapshot
  packages/ui/test/Toggle.test.js
  packages/ui/test/__snapshots__/Toggle.test.js.snap
Due: prettier --write, eslint --fix, stylelint

fix(ui): added useEffect for Toggle component
  packages/ui/src/atoms/Toggle.js
Due: prettier --write, eslint --fix, stylelint

feat(ui-toolkit): add grid helper function
  packages/ui-toolkit/src/themeHelper.js
Due: prettier --write, eslint --fix, stylelint

fix(ui-toolkit): export grid helper from package
  packages/ui-toolkit/index.js
Due: prettier --write, eslint --fix, stylelint

fix(ui): updated size for toggle component
  packages/ui/src/atoms/Toggle.js
  packages/ui/src/atoms/Toggle.md
  packages/ui/test/__snapshots__/Toggle.test.js.snap
Due: prettier --write, eslint --fix, stylelint

refactor(ui): refactor Toggle
  packages/ui/src/atoms/Toggle.js
  packages/ui/src/atoms/Toggle.md
Due: prettier --write, eslint --fix, stylelint

fix(ui): clickable label and onChange func for Toggle
  packages/ui/src/atoms/Toggle.js
  packages/ui/src/atoms/Toggle.md
Due: prettier --write, eslint --fix, stylelint

test(toggle): update snapshot
  packages/ui/test/Toggle.test.js
Due: prettier --write, eslint --fix, stylelint

test(toggle): update snapshot
  packages/ui/test/Toggle.test.js
  packages/ui/test/__snapshots__/Toggle.test.js.snap
Due: prettier --write, eslint --fix, stylelint

feat(ui): added dropdown component
  packages/ui/src/molecules/Dropdown.js
  packages/ui/src/molecules/Dropdown.md
Due: prettier --write, eslint --fix, stylelint

test(ui): added dropdown snapshot
  packages/ui/src/molecules/index.js
  packages/ui/test/Dropdown.test.js
  packages/ui/test/__snapshots__/Dropdown.test.js.snap
Due: prettier --write, eslint --fix, stylelint

feat(ui): added more props to button component
  packages/coko-theme/src/elements/Button.js
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/Button.md
Due: prettier --write, eslint --fix, stylelint

feat: expose req and res when creating ApolloServer
  packages/server/src/graphql/api.js
Due: prettier --write, eslint --fix, stylelint

feat: added tests for http req and res in resolver
  packages/server/test/mocks/mock_component.js
  packages/server/test/register_components_test.js
Due: prettier --write, eslint --fix, stylelint

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

fix(ui): removed not used prop
  packages/ui/src/molecules/Dropdown.js
Due: prettier --write, eslint --fix, stylelint

fix(ui): added onClick function to the component
  packages/ui/src/molecules/Dropdown.md
Due: prettier --write

chore: bump dependencies
  yarn.lock
Due: none

test(ui): update Select snapshots
  packages/ui/test/__snapshots__/Select.test.js.snap
  packages/ui/test/__snapshots__/SelectDropdown.test.js.snap
Due: none

fix(ui): added outline and ghost prop to Button
  packages/coko-theme/src/elements/Button.js
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/Button.md
Due: prettier --write, eslint --fix, stylelint

fix(db-manager): same connection for pubsub and app db
  packages/db-manager/src/connectionConfig.js
  packages/db-manager/src/db.js
  packages/db-manager/src/index.js
  packages/server/src/graphql/pubsub.js
Due: prettier --write, eslint --fix, stylelint

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{js, jsx})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{js, jsx}
