Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

feat(users-manager): add way to add global teams
  packages/components/packages/UsersManager/src/User.jsx
  packages/components/packages/UsersManager/src/UsersManager.jsx
  packages/components/packages/UsersManager/src/UsersManagerContainer.js
Due: prettier --write, eslint --fix

chore(components): remove old class names
  packages/components/packages/TeamsManager/src/TeamsManager.jsx
  packages/components/packages/UsersManager/src/UsersManager.jsx
Due: prettier --write, eslint --fix

feat(users-manager): add support for removing members
  packages/components/packages/UsersManager/src/User.jsx
Due: prettier --write, eslint --fix

fix(components): submit change validation minSize
  packages/components/packages/xpub-submit/src/components/MetadataFields.js
Due: prettier --write, eslint --fix

chore(components): change workspaces configuration
  package.json
  yarn.lock
Due: prettier --write

feat(server): remove user.teams pre-filling
  packages/server/src/routes/api_users.js
Due: prettier --write, eslint --fix

feat(xpub-edit): add clone of abstract editor as episteme editor
  packages/components/xpub-edit/src/components/episteme/config/icons.js
  packages/components/xpub-edit/src/components/episteme/config/index.js
  packages/components/xpub-edit/src/components/episteme/config/keys.js
  packages/components/xpub-edit/src/components/episteme/config/marks.js
  packages/components/xpub-edit/src/components/episteme/config/menu.js
  packages/components/xpub-edit/src/components/episteme/config/nodes.js
  packages/components/xpub-edit/src/components/episteme/config/plugins.js
  packages/components/xpub-edit/src/components/episteme/config/schema.js
  packages/components/xpub-edit/src/components/episteme/index.js
  packages/components/xpub-edit/src/components/index.js
Due: prettier --write, eslint --fix

fix: cleanup after merging master into xpub-submit-graphql
  packages/components/packages/xpub-review-backend/CHANGELOG.md
  packages/components/packages/xpub-submit/src/components/Metadata.md
  packages/components/xpub-dashboard/src/lib/upload.js
Due: prettier --write, eslint --fix

feat(components): add Link to control panel
  packages/components/xpub-dashboard/src/components/ProjectLink.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
Due: prettier --write, eslint --fix

feat(components): fix import add link
  packages/components/xpub-dashboard/src/components/molecules/Item.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
  packages/components/xpub-dashboard/src/components/sections/VersionTitle.js
Due: prettier --write, eslint --fix

fix(components): change title styling
  packages/components/xpub-dashboard/src/components/sections/VersionTitle.js
Due: prettier --write, eslint --fix

feat: use atlaskit's basic editor
  packages/components/xpub-edit/package.json
  packages/components/xpub-edit/src/components/episteme/index.js
Due: prettier --write, eslint --fix

chore: bump styled-components
  packages/client/package.json
  packages/coko-theme/package.json
  packages/components/PasswordResetFrontend/package.json
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/package.json
  packages/default-theme/package.json
  packages/elife-theme/package.json
  packages/styleguide/package.json
  packages/ui/package.json
Due: prettier --write

feat: remove bootstrap from the Blog component
  packages/components/Blog/Blog.jsx
Due: prettier --write, eslint --fix

fix: bump standard dependency
  packages/components/package.json
  packages/sse/package.json
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

fix(components): change text input fields
  packages/components/xpub-review/src/components/review/ReviewForm.js
Due: prettier --write, eslint --fix

feat: replace basic editor with complex one
  packages/components/xpub-edit/package.json
  packages/components/xpub-edit/src/components/episteme/extension-handlers.js
  packages/components/xpub-edit/src/components/episteme/index.js
Due: prettier --write, eslint --fix

fix(cli): fail early when database exists and clobber not set
  packages/cli/cli/setupdb.js
Due: prettier --write, eslint --fix

fix(test): set the clobber option for setupdb test
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix

chore: also check JSON files while linting
  package.json
Due: prettier --write

fix(components): add metadata StreamLined
  packages/components/packages/xpub-dashboard/src/components/metadata/MetadataStreamLined.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
Due: prettier --write, eslint --fix

fix(components): add file streamlined data
  packages/components/xpub-dashboard/src/components/metadata/MetadataStreamLined.js
  packages/components/xpub-dashboard/src/components/sections/EditorItem.js
Due: prettier --write, eslint --fix

fix(components): change order
  packages/components/xpub-dashboard/src/components/metadata/MetadataStreamLined.js
Due: prettier --write, eslint --fix

fix(components): dashboard update
  packages/components/packages/xpub-dashboard/src/components/metadata/MetadataStreamLined.js
Due: prettier --write, eslint --fix

test: do lint/prettify jsons, but ignore package.json
  .gitlab-ci.yml
  .prettierignore
Due: none

test: copy .prettierignore to container
  .prettierignore
  Dockerfile
Due: none

fix: add back clobber undefined to false override
  packages/cli/cli/setupdb.js
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix

refactor(xpub-submit): convert to graphql
  packages/components/xpub-submit/package.json
  packages/components/xpub-submit/src/components/SubmitPage.js
Due: prettier --write, eslint --fix

refactor(xpub-upload): provide a no-redux version of uploadFile
  packages/components/xpub-upload/src/no-redux.js
  packages/components/xpub-upload/src/upload.js
Due: prettier --write, eslint --fix

fix(xpub-submit): use no-redux version of uploadFile
  packages/components/xpub-submit/src/components/SubmitPage.js
Due: prettier --write, eslint --fix

fix(graphql): make teamType a string
  packages/server/src/graphql/definitions/team.js
Due: prettier --write, eslint --fix

chore: upgrade styled-components to 3.2.5
  packages/client/package.json
  packages/coko-theme/package.json
  packages/components/PasswordResetFrontend/package.json
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/package.json
  packages/default-theme/package.json
  packages/elife-theme/package.json
  packages/styleguide/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write

feat: migrate dashboard and manuscript components to GraphQL
  packages/components/xpub-app/src/components/App.js
  packages/components/xpub-connect/src/components/ConnectPage.js
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-dashboard/src/components/AssignEditor.js
  packages/components/xpub-dashboard/src/components/AssignEditorContainer.js
  packages/components/xpub-dashboard/src/components/DashboardPage.integration.test.js
  packages/components/xpub-dashboard/src/components/DashboardPage.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-dashboard/src/components/withVersion.js
  packages/components/xpub-dashboard/src/index.js
  packages/components/xpub-dashboard/src/lib/upload.js
  packages/components/xpub-dashboard/src/redux/conversion.js
  packages/components/xpub-dashboard/src/redux/conversion.test.js
  packages/components/xpub-dashboard/src/redux/index.js
  packages/components/xpub-dashboard/src/redux/teams.js
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-manuscript/src/components/ManuscriptPage.js
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/ReviewPage.js
  packages/components/xpub-review/src/components/ReviewersPage.js
  packages/components/xpub-submit/src/components/SubmitPage.js
  yarn.lock
Due: prettier --write, eslint --fix

feat: enable the Apollo client to be customised
  packages/client/src/components/Root.js
Due: prettier --write, eslint --fix

fix(pubsweet-server): update teams api
  packages/server/src/routes/api_teams.js
Due: prettier --write, eslint --fix

fix(teams): add object.team to authsome query
  packages/server/src/routes/api_teams.js
  packages/server/test/helpers/authsome_mode.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
