Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

docs(ui): add simple docs for modal component
  packages/ui/src/molecules/Modals.md
Due: prettier --write

chore: update babel and lint deps
  docs/package.json
  yarn.lock
Due: prettier --write

chore: bump config
  yarn.lock
Due: none

chore(server): update server dependencies
  yarn.lock
Due: none

chore: update all other dependencies
  yarn.lock
Due: none

style: fix new issues due to linting updates
  packages/sse/test/pulsing_test.js
Due: prettier --write, eslint --fix

feat: worked on PersonPod styling
  components/client/component-people-picker/src/PersonPod.js
  components/client/component-people-picker/src/PodContainer.js
Due: prettier --write, eslint --fix

fix: fix tests for SearchBox component
  components/client/component-people-picker/src/SearchBox.js
  components/client/component-people-picker/src/SearchBox.test.js
Due: prettier --write, eslint --fix

feat: fix alignment of search box and person pod button
  components/client/component-people-picker/src/PodContainer.js
  packages/ui/src/molecules/InputWithAddons.js
Due: prettier --write, eslint --fix

fix: fixed removal of people via suggested item
  components/client/component-people-picker/src/PeoplePickerBody.js
  components/client/component-people-picker/src/SelectedItem.js
Due: prettier --write, eslint --fix

fix: changed selected item so that click event is triggered only by icon
  components/client/component-people-picker/src/SelectedItem.js
Due: prettier --write, eslint --fix

fix: fix PeoplePicker tests
  components/client/component-people-picker/src/PeoplePickerLayout.js
  components/client/component-people-picker/src/PeoplePickerLogic.md
  components/client/component-people-picker/src/PeoplePickerLogic.test.js
  components/client/component-people-picker/src/PersonPodGrid.js
  components/client/component-people-picker/src/SearchBox.js
  components/client/component-people-picker/src/SelectedItem.js
Due: prettier --write, eslint --fix

feat: merge commit, fix styling on icons and fonts
  components/client/component-people-picker/src/SearchBox.js
  components/client/component-people-picker/src/SelectedItem.js
  packages/ui/src/molecules/InputWithAddons.js
Due: prettier --write, eslint --fix

feat: removed ChooserPod
  components/client/component-people-picker/src/ChooserPod.js
  components/client/component-people-picker/src/ChooserPod.md
Due: prettier --write, eslint --fix

fix: put back the props spread of RemoveButton in SelectedItem
  components/client/component-people-picker/src/SelectedItem.js
Due: prettier --write, eslint --fix

feat: started decoupling from rebass
  components/client/component-people-picker/src/PeoplePickerBody.js
  components/client/component-people-picker/src/PeoplePickerButtons.js
Due: prettier --write, eslint --fix

feat(ui): add pagination component
  packages/ui/src/molecules/Pagination.js
  packages/ui/src/molecules/Pagination.md
  packages/ui/test/Pagination.test.js
Due: prettier --write, eslint --fix

test(ui): add tests and docs for the pagination component
  packages/ui/src/molecules/Pagination.js
  packages/ui/src/molecules/Pagination.md
  packages/ui/test/Pagination.test.js
Due: prettier --write, eslint --fix

docs(ui): modify pagination docs
  packages/ui/src/molecules/Pagination.md
Due: prettier --write

fix: removed rebass from MainColumn, added breakpoints to default theme
  components/client/component-people-picker/src/PeoplePickerLayout.js
  packages/default-theme/src/index.js
Due: prettier --write, eslint --fix

feat: fix merge commit
  yarn.lock
Due: none

fix: re-added custom Icon component so that we can use override
  components/client/component-people-picker/src/Icon.js
  components/client/component-people-picker/src/PodContainer.js
  components/client/component-people-picker/src/SearchBox.js
  components/client/component-people-picker/src/SelectedItem.js
Due: prettier --write, eslint --fix

chore: remove rebass components and dependency
  components/client/component-people-picker/package.json
  components/client/component-people-picker/src/PeoplePickerLayout.js
  components/client/component-people-picker/src/PodContainer.js
  components/client/component-people-picker/src/SearchBox.js
  packages/default-theme/src/index.js
  packages/ui/package.json
  packages/ui/src/molecules/TwoColumnLayout.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: tests for PeoplePickerLogic
  components/client/component-people-picker/src/PeoplePickerLogic.test.js
Due: prettier --write, eslint --fix

feat: re-add the modal using new pubsweet version
  components/client/component-people-picker/src/PersonInfoModal.js
  components/client/component-people-picker/src/PersonPod.js
  components/client/component-people-picker/src/PodContainer.js
  packages/ui/src/molecules/InputWithAddons.js
Due: prettier --write, eslint --fix

fix: tests for TwoColumnLayout
  packages/ui/src/molecules/TwoColumnLayout.js
  packages/ui/src/molecules/TwoColumnLayout.test.js
Due: prettier --write, eslint --fix

fix: remove use of space variable in peoplepicker styling
  components/client/component-people-picker/src/PeoplePickerLayout.js
  components/client/component-people-picker/src/PersonInfoModal.js
  components/client/component-people-picker/src/PersonPod.js
  components/client/component-people-picker/src/PodContainer.js
  components/client/component-people-picker/src/SelectedItem.js
  docs/vendor/elife-theme/src/elements/ui/Button.js
  docs/vendor/elife-theme/src/elements/ui/Checkbox.js
  docs/vendor/elife-theme/src/elements/ui/Menu.js
  docs/vendor/elife-theme/src/elements/ui/Steps.js
  docs/vendor/elife-theme/src/elements/ui/TextField.js
  docs/vendor/elife-theme/src/elements/xpub-edit/index.js
  packages/coko-theme/src/index.js
  packages/default-theme/src/index.js
  packages/ui/src/molecules/InputWithAddons.js
  packages/ui/src/molecules/TwoColumnLayout.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: validation positioning
  components/client/component-people-picker/src/PeoplePickerBody.js
  components/client/component-people-picker/src/SearchBox.js
Due: prettier --write, eslint --fix

feat: added ability to override icon via theme
  packages/ui/src/atoms/Colorize.js
  packages/ui/src/atoms/Icon.js
  packages/ui/test/Icon.test.js
  packages/ui/test/__snapshots__/Icon.test.js.snap
Due: prettier --write, eslint --fix

fix: bottom button alignment
  components/client/component-people-picker/src/PeoplePickerButtons.js
Due: prettier --write, eslint --fix

fix: fix styling for modal buttons
  components/client/component-people-picker/src/PersonInfoModal.js
Due: prettier --write, eslint --fix

fix: check for correct new two column layout prop value
  packages/ui/src/molecules/TwoColumnLayout.test.js
Due: prettier --write, eslint --fix

feat(wip): the box expands but doesn\'t collapse
  packages/ui/src/atoms/ExpandingTextField.js
  packages/ui/src/atoms/ExpandingTextField.md
Due: prettier --write, eslint --fix

feat: it now expands AND shrinks
  packages/ui/src/atoms/ExpandingTextField.js
Due: prettier --write, eslint --fix

docs: add examples to the styleguide
  packages/ui/src/atoms/ExpandingTextField.md
Due: prettier --write

feat: use a ref and add PropTypes
  packages/ui/src/atoms/ExpandingTextField.js
Due: prettier --write, eslint --fix

fix: expand when prefilled
  packages/ui/src/atoms/ExpandingTextField.js
Due: prettier --write, eslint --fix

chore: update people picker's package name
  components/client/component-people-picker/package.json
Due: prettier --write

feat(base-model): add support for graph save
  docs/styleguide.config.js
  packages/base-model/README.md
  packages/base-model/src/index.js
  packages/base-model/test/manuscript_test.js
Due: prettier --write, eslint --fix
