Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

fix: instrument with why-is-node-running.
  packages/server/package.json
  packages/server/src/start-server.js
  packages/server/test/jobs/jobs_integration_test.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: remove why is node running
  packages/server/test/jobs/jobs_integration_test.js
Due: prettier --write, eslint --fix

fix: add a custom async server.close function
  packages/server/src/jobs/index.js
  packages/server/src/start-server.js
  packages/server/test/jobs/jobs_integration_test.js
  packages/server/test/start_server_test.js
Due: prettier --write, eslint --fix

fix(teams): delete associated change schema
  packages/server/src/models/Team.js
  packages/server/test/api_collections_test.js
  packages/server/test/api_teams_test.js
Due: prettier --write, eslint --fix

feat(server): expand access to custom models in authsome
  packages/server/src/helpers/authsome.js
  packages/server/src/models/index.js
Due: prettier --write, eslint --fix

fix(teams): fixing tests for teams
  packages/server/src/routes/util.js
  packages/server/test/api_collections_test.js
  packages/server/test/api_fragments_test.js
  packages/server/test/api_teams_test.js
  packages/server/test/fixtures/fixtures.js
  packages/server/test/helpers/authsome_mode.js
  packages/server/test/helpers/set_team.js
  packages/server/test/teams_test.js
Due: prettier --write, eslint --fix

chore: remove comment
  packages/server/test/jobs/jobs_different_process_test.js
Due: prettier --write, eslint --fix

docs: update components README
  packages/components/README.md
Due: prettier --write

test: fetch Manuscript from context.models
  packages/base-model/test/helpers/authsome_mode.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/base-model/CHANGELOG.md
  packages/base-model/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/Epub/CHANGELOG.md
  packages/components/Epub/package.json
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/package.json
  packages/db-manager/CHANGELOG.md
  packages/db-manager/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write

fix: highlight js dependency update
  packages/components/Epub/package.json
Due: prettier --write

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/Epub/CHANGELOG.md
  packages/components/Epub/package.json
  packages/components/package.json
Due: prettier --write

feat: add standalone user model
  packages/components/model-user/.babelrc
  packages/components/model-user/README.md
  packages/components/model-user/package.json
  packages/components/model-user/src/api_users.js
  packages/components/model-user/src/authentication.js
  packages/components/model-user/src/graphql.js
  packages/components/model-user/src/index.js
  packages/components/model-user/src/migrations/1542276313-initial-user-migration.sql
  packages/components/model-user/src/user.js
Due: prettier --write, eslint --fix

feat: migrate team to BaseModel
  packages/components/model-team/.babelrc
  packages/components/model-team/README.md
  packages/components/model-team/package.json
  packages/components/model-team/src/api_teams.js
  packages/components/model-team/src/graphql.js
  packages/components/model-team/src/index.js
  packages/components/model-team/src/migrations/1542801241-initial-team-migration.sql
  packages/components/model-team/src/team.js
Due: prettier --write, eslint --fix

fix: improve BaseModel's handling of schema and updateProperties
  packages/base-model/src/index.js
  packages/base-model/test/data-model-component/src/manuscript.js
  packages/base-model/test/extended_manuscript_test.js
  packages/base-model/test/manuscript_test.js
Due: prettier --write, eslint --fix

feat(server): use BaseModel-based User and Team models
  packages/server/config/test.js
  packages/server/src/app.js
  packages/server/src/authentication.js
  packages/server/src/graphql/definitions/authentication.js
  packages/server/src/graphql/definitions/team.js
  packages/server/src/graphql/definitions/user.js
  packages/server/src/graphql/schema.js
  packages/server/src/helpers/authsome.js
  packages/server/src/index.js
  packages/server/src/models/Collection.js
  packages/server/src/models/Fragment.js
  packages/server/src/models/Team.js
  packages/server/src/models/User.js
  packages/server/src/models/index.js
  packages/server/src/models/validations.js
  packages/server/src/routes/api.js
  packages/server/src/routes/api_collections.js
  packages/server/src/routes/api_teams.js
  packages/server/src/routes/api_users.js
  packages/server/src/routes/util.js
  packages/server/src/setup-base.js
  packages/server/test/api_teams_test.js
  packages/server/test/api_users_test.js
  packages/server/test/helpers/authsome_mode.js
  packages/server/test/model_test.js
Due: prettier --write, eslint --fix

test: adjusts test for User and Team migrations
  packages/server/test/api_authenticated_test.js
  packages/server/test/api_collections_test.js
  packages/server/test/api_fragments_test.js
  packages/server/test/api_locals_test.js
  packages/server/test/api_sse_enabled_test.js
  packages/server/test/graphql/authentication_test.js
  packages/server/test/graphql/mutations_test.js
  packages/server/test/graphql/subscriptions_test.js
  packages/server/test/model_test.js
  packages/server/test/register_components_test.js
  packages/server/test/user_test.js
  packages/server/test/validations_test.js
Due: prettier --write, eslint --fix

fix: fix BaseModel's updateProperties and findByField
  packages/base-model/src/index.js
  packages/base-model/test/extended_manuscript_graphql_test.js
  packages/base-model/test/manuscript_graphql_test.js
Due: prettier --write, eslint --fix

fix: adjust xpub-review-server to use the new BaseModel models
  packages/components/xpub-review-server/src/reviewBackend.js
  packages/components/xpub-review-server/src/reviewBackend.test.js
Due: prettier --write, eslint --fix

feat: migrate db-manager to use new User and Team models
  packages/db-manager/config/test.js
  packages/db-manager/src/commands/add-collection.js
  packages/db-manager/src/commands/add-fragment.js
  packages/db-manager/src/commands/add-user.js
  packages/db-manager/test/commands/add-collection.test.js
  packages/db-manager/test/commands/add-fragment.test.js
  packages/db-manager/test/commands/setup-db.test.js
Due: prettier --write, eslint --fix

fix(server): migrate to use new User and Team models
  packages/server/src/graphql/subscriptions.js
  packages/server/src/routes/api_collections.js
Due: prettier --write, eslint --fix

feat(components): remove FormGroup component
  packages/components/FormGroup/CHANGELOG.md
  packages/components/FormGroup/FormGroup.jsx
  packages/components/FormGroup/FormGroup.test.jsx
  packages/components/FormGroup/README.md
  packages/components/FormGroup/index.js
  packages/components/FormGroup/package.json
  packages/styleguide/styleguide.config.js
Due: prettier --write, eslint --fix

fix(base-model): improve BaseModel's save()
  packages/base-model/package.json
  packages/base-model/src/index.js
  packages/base-model/test/manuscript_graphql_test.js
Due: prettier --write, eslint --fix

fix(model-user): omit passwordHash from JSON representation
  packages/components/model-user/package.json
  packages/components/model-user/src/user.js
Due: prettier --write, eslint --fix

test: fix requires for user and team model
  packages/server/package.json
  packages/server/test/api_admin_test.js
  packages/server/test/api_file_upload_test.js
  packages/server/test/api_sse_disabled_test.js
  packages/server/test/graphql/authentication_test.js
  packages/server/test/graphql/queries_test.js
  packages/server/test/graphql/upload_test.js
  packages/server/test/register_components_test.js
  packages/server/test/token_test.js
Due: prettier --write, eslint --fix

fix(model-team): use correct dependencies
  packages/components/model-team/package.json
Due: prettier --write

test(db-manager): fix requires for User model
  packages/db-manager/test/commands/add-user.test.js
Due: prettier --write, eslint --fix

chore: update objection.js dependency
  yarn.lock
Due: none

chore: update lerna
  package.json
  packages/components/package.json
  yarn.lock
Due: prettier --write

feat(pubsweet-client): upgrade styled-components
  packages/client/package.json
  packages/client/src/components/Root.js
  packages/client/src/helpers/StyleRoot.js
Due: prettier --write, eslint --fix

feat(ui): upgrade styled-components
  packages/ui/package.json
  packages/ui/src/atoms/GlobalStyle.js
  packages/ui/src/atoms/GlobalStyle.md
  packages/ui/src/atoms/index.js
Due: prettier --write, eslint --fix

feat(coko-theme): upgrade styled-components
  packages/coko-theme/package.json
  packages/coko-theme/src/elements/GlobalStyle.js
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
Due: prettier --write, eslint --fix

feat(styleguide): upgrade styled-components
  packages/styleguide/package.json
  packages/styleguide/src/components/StyleGuideRenderer.js
Due: prettier --write, eslint --fix

feat(various): upgrade styled-components
  packages/components/PasswordResetFrontend/package.json
  packages/components/xpub-connect/package.json
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-formbuilder/package.json
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/package.json
  packages/components/xpub-teams-manager/package.json
  packages/default-theme/package.json
  packages/ui-toolkit/package.json
Due: prettier --write

feat(various): update styled-components
  packages/components/xpub-dashboard/src/components/UploadManuscript.js
  packages/components/xpub-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-review/src/components/review/Review.js
  packages/components/xpub-submit/src/components/Declarations.js
  packages/components/xpub-submit/src/components/Suggestions.js
  packages/ui/src/atoms/UploadingFile.js
  packages/ui/src/atoms/ValidatedField.js
  packages/ui/src/atoms/ValidatedFieldFormik.js
  packages/ui/src/molecules/Action.js
  packages/ui/src/molecules/Menu.js
  packages/ui/src/molecules/Steps.js
Due: prettier --write, eslint --fix

fix(components): graphql data model changes
  packages/components/xpub-dashboard/src/components/DashboardPage.js
  packages/components/xpub-dashboard/src/graphql/DashboardPage.js
  packages/components/xpub-dashboard/src/graphql/mutations/index.js
  packages/components/xpub-dashboard/src/graphql/queries/index.js
  packages/components/xpub-dashboard/src/lib/upload.js
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/ReviewPage.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/decision/DecisionForm.js
  packages/components/xpub-review/src/components/decision/DecisionLayout.js
  packages/components/xpub-review/src/components/metadata/ReviewMetadata.js
  packages/components/xpub-submit/package.json
  packages/components/xpub-submit/src/components/AuthorsInput.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-submit/src/components/Submit.js
  packages/components/xpub-submit/src/components/SubmitPage.js
  packages/components/xpub-submit/src/components/Supplementary.js
  packages/components/xpub-submit/src/components/atoms/Icon.js
  packages/components/xpub-teams-manager/package.json
  packages/components/xpub-teams-manager/src/components/TeamsManagerPage.js
Due: prettier --write, eslint --fix

fix(xpub-review): changes tp reviews
  packages/components/xpub-dashboard/src/components/DashboardPage.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-dashboard/src/graphql/mutations/index.js
  packages/components/xpub-dashboard/src/graphql/queries/index.js
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/ReviewPage.js
  packages/components/xpub-review/src/components/ReviewersPage.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/review/ReviewForm.js
  packages/components/xpub-review/src/components/review/ReviewLayout.js
  packages/components/xpub-review/src/components/reviewers/Reviewer.js
  packages/components/xpub-review/src/components/reviewers/ReviewerForm.js
  packages/components/xpub-review/src/components/reviewers/ReviewerFormContainer.js
  packages/components/xpub-selectors/src/index.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-submit/src/components/SubmitPage.js
  packages/components/xpub-teams-manager/src/components/Team.jsx
  packages/components/xpub-teams-manager/src/components/TeamCreator.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManager.jsx
  packages/components/xpub-teams-manager/src/components/TeamsManagerPage.js
Due: prettier --write, eslint --fix

fix(graphql): review components fixes
  packages/components/Login/graphql/LoginContainer.js
  packages/components/xpub-dashboard/src/components/DashboardPage.js
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-dashboard/src/graphql/mutations/index.js
  packages/components/xpub-dashboard/src/graphql/queries/index.js
  packages/components/xpub-manuscript/src/components/ManuscriptPage.js
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/ReviewPage.js
  packages/components/xpub-review/src/components/ReviewersPage.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/decision/DecisionForm.js
  packages/components/xpub-review/src/components/decision/DecisionLayout.js
  packages/components/xpub-review/src/components/decision/DecisionReviews.js
  packages/components/xpub-review/src/components/metadata/ReviewMetadata.js
  packages/components/xpub-review/src/components/review/Review.js
  packages/components/xpub-review/src/components/review/ReviewLayout.js
  packages/components/xpub-review/src/components/reviewers/ReviewerForm.js
  packages/components/xpub-review/src/components/reviewers/ReviewerFormContainer.js
  packages/components/xpub-review/src/components/reviewers/Reviewers.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-submit/src/components/SubmitPage.js
  packages/components/xpub-submit/src/components/Supplementary.js
Due: prettier --write, eslint --fix

fix(components): fixing components after new manuscript version
  packages/components/xpub-dashboard/src/components/sections/ReviewerItem.js
  packages/components/xpub-dashboard/src/graphql/queries/index.js
  packages/components/xpub-review/src/components/DecisionPage.js
  packages/components/xpub-review/src/components/ReviewPage.js
  packages/components/xpub-review/src/components/assignEditors/AssignEditor.js
  packages/components/xpub-review/src/components/decision/Decision.js
  packages/components/xpub-review/src/components/decision/DecisionForm.js
  packages/components/xpub-review/src/components/decision/DecisionLayout.js
  packages/components/xpub-review/src/components/decision/DecisionReviews.js
  packages/components/xpub-review/src/components/metadata/ReviewMetadata.js
  packages/components/xpub-review/src/components/review/ReviewForm.js
  packages/components/xpub-submit/src/components/DecisionReviewColumn.js
  packages/components/xpub-submit/src/components/SubmitPage.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx}
  stylelint: any of: *.{css,scss}
