Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

docs: fix broken links for authsome
  docs/content/how_to_use_authsome.md
Due: prettier --write

chore: update dependencies
  yarn.lock
Due: none

feat(base-model): upserts should not delete records
  packages/base-model/src/index.js
Due: prettier --write, eslint --fix

feat(model-user): move unique constraints verification into db
  components/server/model-user/src/graphql.js
  components/server/model-user/src/migrations/1560771823-add-unique-constraints-to-users.sql
  components/server/model-user/src/user.js
  components/server/model-user/test/user_graphql_test.js
  components/server/model-user/test/user_test.js
Due: prettier --write, eslint --fix

feat(signup): improve error-handling in client component
  components/client/component-signup/src/Signup.jsx
  components/client/component-signup/src/SignupContainer.js
Due: prettier --write, eslint --fix

test(signup): errors come from the status
  components/client/component-signup/test/Signup.test.jsx
Due: prettier --write, eslint --fix

feat(base-model): allow passing options to saveGraph
  packages/base-model/src/index.js
  packages/base-model/test/manuscript_test.js
Due: prettier --write, eslint --fix

fix(db-manager): only require models/components when needed
  packages/db-manager/src/commands/add-user.js
  packages/db-manager/src/commands/migrate.js
Due: prettier --write, eslint --fix

fix(model-user): make user.teams nullable
  components/server/model-user/src/graphql.js
Due: prettier --write, eslint --fix

test: supply correct option type to noUpdate
  packages/base-model/test/manuscript_test.js
Due: prettier --write, eslint --fix

test(model-team): add more tests for no team members
  components/server/model-team/test/team_graphql_test.js
Due: prettier --write, eslint --fix

feat: use a config object with apollo's config
  packages/server/src/graphql/api.js
Due: prettier --write, eslint --fix

docs: updated getting_started
  docs/content/getting_started.md
Due: prettier --write

feat(email-templating): add footer text variable
  components/client/config/default.js
  components/server/component-email-templating/README.md
  components/server/component-email-templating/src/EmailTemplate.js
  components/server/component-email-templating/src/templates/partials/footer.hbs
Due: prettier --write, eslint --fix

fix(ui): remove attrs as objects deprecation warning
  components/client/component-people-picker/src/PersonPod.js
  components/client/component-people-picker/src/PodContainer.js
  components/client/component-xpub-dashboard/src/components/UploadManuscript.js
  components/client/component-xpub-dashboard/src/components/molecules/Item.js
  components/client/xpub-edit/src/components/DropDownTable.js
  components/client/xpub-edit/src/components/StyledEditor.js
  components/client/xpub-edit/src/components/withStyles.js
  packages/ui/src/atoms/AlignmentBox.js
  packages/ui/src/atoms/Avatar.js
  packages/ui/src/atoms/Button.js
  packages/ui/src/atoms/Heading.js
  packages/ui/src/atoms/UploadButton.js
  packages/ui/src/molecules/Accordion.js
  packages/ui/src/molecules/List.js
  packages/ui/src/molecules/Menu.js
  packages/ui/src/molecules/StateList.js
  packages/ui/src/molecules/Tabs.js
Due: prettier --write, eslint --fix

fix(model-user): make sure teams are returned with current user
  components/server/model-user/src/graphql.js
Due: prettier --write, eslint --fix

test: regression test for eager loading currentUser's teams
  packages/server/test/graphql/authentication_test.js
Due: prettier --write, eslint --fix

feat(job-xsweet): add graphql subscriptions support
  components/server/job-xsweet/config/default.js
  components/server/job-xsweet/src/graphql.js
  components/server/job-xsweet/src/index.js
  components/server/job-xsweet/src/xsweet.js
Due: prettier --write, eslint --fix

chore(server): print stack trace when there's an error
  packages/server/src/graphql/api.js
Due: prettier --write, eslint --fix

fix(ui): un-hardcode button attrs
  packages/ui/src/atoms/Button.js
Due: prettier --write, eslint --fix

docs(job-xsweet): correct docker run instructions
  components/server/job-xsweet/README.md
Due: prettier --write

fix(db-manager): rethrow an error during migrations
  packages/db-manager/package.json
  packages/db-manager/src/commands/migrate.js
  packages/db-manager/src/helpers/umzug.js
  packages/db-manager/test/commands/broken-migrations.test.js
  packages/db-manager/test/commands/create-tables.test.js
  packages/db-manager/test/mocks/componentWithBrokenMigration/index.js
  packages/db-manager/test/mocks/componentWithBrokenMigration/migrations/0001-component.sql
Due: prettier --write, eslint --fix

chore: bump tmp-promise dependency
  components/server/job-xsweet/package.json
  yarn.lock
Due: prettier --write

feat(cli): remove adding and removing components
  docs/content/how_do_you_use_components.md
  packages/cli/bin/pubsweet-add.js
  packages/cli/bin/pubsweet-remove.js
  packages/cli/cli/add.js
  packages/cli/cli/remove.js
Due: prettier --write, eslint --fix

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

test(cli): remove add/remove tests
  packages/cli/test/cli/add.test.js
  packages/cli/test/cli/remove.test.js
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix

docs(cli): adjust add/remove component docs
  packages/cli/README.md
Due: prettier --write

docs: add more docs about PubSweet core parts
  docs/content/job_runner.md
  docs/styleguide.config.js
  packages/base-model/README.md
  packages/cli/README.md
  packages/coko-theme/README.md
  packages/db-manager/README.md
  packages/logger/README.md
  packages/ui/README.md
Due: prettier --write, eslint --fix

feat(job-xsweet): use pgboss.job table to communicate result
  components/server/job-xsweet/package.json
  components/server/job-xsweet/src/graphql.js
  components/server/job-xsweet/src/xsweet.js
  yarn.lock
Due: prettier --write, eslint --fix

test(job-xsweet): initial test for job-xsweet
  .gitlab-ci.yml
  components/server/job-xsweet/config/test.js
  components/server/job-xsweet/src/graphql.js
  components/server/job-xsweet/test/jest-setup.js
  components/server/job-xsweet/test/xsweet_test.js
  package.json
Due: prettier --write, eslint --fix

docs: update README.md
  README.md
Due: prettier --write

test: attempt to test job-xsweet in pipeline
  .gitlab-ci.yml
  components/server/job-xsweet/test/standaloneXsweetTest.js
Due: prettier --write, eslint --fix
