Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{js, jsx}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

chore: objection.js update deprecated methods and fix failed tests
  components/server/component-aws-s3/package.json
  components/server/model-team/test/1548205275-move-members_test.js
  components/server/model-team/test/1548205276-simplify-object_test.js
  components/server/model-team/test/team_graphql_test.js
  components/server/model-team/test/team_test.js
  components/server/model-user/src/migrations/1581371297-migrate-users-to-identities.js
  packages/base-model/package.json
  packages/base-model/test/manuscript_test.js
  packages/db-manager/package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

chore: objection.js updated deprecated method lit to val
  packages/server/src/connectors/connector.js
Due: prettier --write, eslint --fix, stylelint

chore: objection.js updated deprecated methods
  components/server/model-team/src/graphql.js
  packages/server/src/connectors/connector.js
Due: prettier --write, eslint --fix, stylelint

fix(ui): removed not needed code
  packages/ui/src/atoms/Button.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

fix(db-manage): change namespace to fit other exports
  packages/db-manager/src/index.js
  packages/server/src/graphql/pubsub.js
Due: prettier --write, eslint --fix, stylelint

chore(base-model): upgrade objection.js to a new version
  packages/base-model/package.json
  yarn.lock
Due: prettier --write

test(component-aws-s3): config tests to run during CI
  components/server/component-aws-s3/config/test.js
  components/server/component-aws-s3/config/upload-validations.js
  components/server/component-aws-s3/test/FileBackend.test.js
  components/server/component-aws-s3/test/jest-setup.js
  package.json
Due: prettier --write, eslint --fix, stylelint

test(component-aws-s3): fix test config
  components/server/component-aws-s3/config/test.js
Due: prettier --write, eslint --fix, stylelint

feat(cli): remove setupdb and adduser components
  packages/cli/README.md
  packages/cli/bin/pubsweet-adduser.js
  packages/cli/bin/pubsweet-setupdb.js
  packages/cli/bin/pubsweet.js
  packages/cli/cli/adduser.js
  packages/cli/cli/setupdb.js
Due: prettier --write, eslint --fix, stylelint

Revert "feat(cli): remove setupdb and adduser components"
  packages/cli/README.md
  packages/cli/bin/pubsweet-adduser.js
  packages/cli/bin/pubsweet-setupdb.js
  packages/cli/bin/pubsweet.js
  packages/cli/cli/adduser.js
  packages/cli/cli/setupdb.js
Due: prettier --write, eslint --fix, stylelint

feat(cli): remove adduser and setupdb
  packages/cli/README.md
  packages/cli/bin/pubsweet-adduser.js
  packages/cli/bin/pubsweet-setupdb.js
  packages/cli/bin/pubsweet.js
  packages/cli/cli/adduser.js
  packages/cli/cli/setupdb.js
Due: prettier --write, eslint --fix, stylelint

test(cli): remove setupdb test
  packages/cli/test/integration.test.js
Due: prettier --write, eslint --fix, stylelint

docs(cli): updated docs for cli
  packages/cli/README.md
Due: prettier --write

chore: bump dependencies
  yarn.lock
Due: none

chore: update dependencies to a fixed version of jest-styled-components
  package.json
  yarn.lock
Due: prettier --write

chore: use a different git dependency format
  package.json
  yarn.lock
Due: prettier --write

chore(db-manager): configurability of acquireConnectionTimeout
  packages/db-manager/config/test.js
  packages/db-manager/src/db.js
Due: prettier --write, eslint --fix, stylelint

feat(server): allow creation of custom GQL schema
  packages/server/src/graphql/api.js
  packages/server/src/graphql/schema.js
Due: prettier --write, eslint --fix, stylelint

fix(server): fix default value for enableBaseTypesAndResolvers
  packages/server/src/graphql/schema.js
Due: prettier --write, eslint --fix, stylelint

fix(server): pass gql schema to subscription server
  packages/server/src/graphql/subscriptions.js
Due: prettier --write, eslint --fix, stylelint

chore: update dependencies
  yarn.lock
Due: none

docs: update list of maintainers
  MAINTAINERS.md
Due: prettier --write

fix(ui): add iconsize prop to iconbutton Icon and snapshot updates
  packages/ui/src/atoms/IconButton.js
  packages/ui/src/atoms/IconButton.md
  packages/ui/test/__snapshots__/Select.test.js.snap
  packages/ui/test/__snapshots__/SelectDropdown.test.js.snap
Due: prettier --write, eslint --fix, stylelint

feat(*): remove coko-theme package
  docs/package.json
  docs/src/components/SectionRenderer.js
  packages/coko-theme/CHANGELOG.md
  packages/coko-theme/README.md
  packages/coko-theme/package.json
  packages/coko-theme/src/elements/Action.js
  packages/coko-theme/src/elements/ActionGroup.js
  packages/coko-theme/src/elements/AppBar.js
  packages/coko-theme/src/elements/Button.js
  packages/coko-theme/src/elements/Checkbox.js
  packages/coko-theme/src/elements/GlobalStyle.js
  packages/coko-theme/src/elements/Logo.js
  packages/coko-theme/src/elements/Menu.js
  packages/coko-theme/src/elements/Radio.js
  packages/coko-theme/src/elements/TextField.js
  packages/coko-theme/src/elements/index.js
  packages/coko-theme/src/index.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat(client): add env variable to set server url
  packages/client/src/components/Root.js
  packages/client/src/components/index.js
Due: prettier --write, eslint --fix, stylelint

feat(client): upgrade client to apollo client 3 & add playground
  packages/client/.eslintrc
  packages/client/.eslintrc.js
  packages/client/dev/App.js
  packages/client/dev/index.ejs
  packages/client/dev/webpack.config.js
  packages/client/package.json
  packages/client/src/components/AuthenticatedComponent.jsx
  packages/client/src/components/Root.js
  packages/client/src/helpers/Authorize.jsx
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat(client): add scope to pubsweet client package name
  packages/client/package.json
Due: prettier --write

fix(client): add missing devDependencies
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/client/test/helpers/Authorize.test.jsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat(component-login): upgrade to latest apollo client
  components/client/component-login/package.json
  components/client/component-login/src/LoginContainer.js
  components/client/component-login/test/LoginContainer.test.jsx
  packages/client/package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat(component-signup): upgrade to latest apollo client
  components/client/component-login/package.json
  components/client/component-signup/package.json
  components/client/component-signup/src/SignupContainer.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat(component-password-reset-client): upgrade to latest apollo client
  components/client/component-password-reset-client/package.json
  components/client/component-password-reset-client/src/PasswordReset.jsx
  yarn.lock
Due: prettier --write, eslint --fix

feat(people-picker): change peer dependency to @pubsweet/client
  components/client/component-people-picker/package.json
  yarn.lock
Due: prettier --write

feat(users-manager): upgrade apollo client version
  components/client/component-users-manager/package.json
  components/client/component-users-manager/src/User.jsx
  components/client/component-users-manager/src/UsersManager.jsx
  yarn.lock
Due: prettier --write, eslint --fix

feat(styleguide): upgrade to latest apollo client
  docs/package.json
  docs/src/components/Wrapper.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

fix(server): fix apollo test dependencies
  packages/server/package.json
  packages/server/test/graphql/subscriptions_test.js
Due: prettier --write, eslint --fix, stylelint

chore(release): publish
  components/client/component-login/CHANGELOG.md
  components/client/component-login/package.json
  components/client/component-password-reset-client/CHANGELOG.md
  components/client/component-password-reset-client/package.json
  components/client/component-people-picker/CHANGELOG.md
  components/client/component-people-picker/package.json
  components/client/component-signup/CHANGELOG.md
  components/client/component-signup/package.json
  components/client/component-users-manager/CHANGELOG.md
  components/client/component-users-manager/package.json
  components/server/job-xsweet/CHANGELOG.md
  components/server/job-xsweet/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --write

chore(client): remove webpack-dev-server from dependencies
  packages/client/package.json
  yarn.lock
Due: prettier --write

fix(*): fix pubsweet client versions in all packages
  components/client/component-login/package.json
  components/client/component-password-reset-client/package.json
  components/client/component-people-picker/package.json
  components/client/component-signup/package.json
  components/client/component-users-manager/package.json
  docs/package.json
  yarn.lock
Due: prettier --write
