Repository Coko-Foundation/pubsweet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  linters: {"*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
  },
  ignore: ["**/CHANGELOG.md"]
}

fix(formbuilder): create folder from scratch
  packages/components/xpub-formbuilder/src/server/formRequestBackend.js
  packages/components/xpub-formbuilder/src/server/util.js
  packages/components/xpub-submit/src/styles/index.js
Due: prettier --write, eslint --fix

feat(submit): import dynamically the form template
  packages/components/xpub-submit/package.json
  packages/components/xpub-submit/src/components/Confirm.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-submit/src/components/Submit.js
  packages/components/xpub-submit/src/components/SubmitPage.js
  packages/components/xpub-submit/src/styles/index.js
  packages/ui/src/atoms/Tab.js
  packages/ui/src/atoms/ValidatedField.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(submit): fixing authors save field
  packages/components/xpub-submit/src/components/AuthorsInput.js
Due: prettier --write, eslint --fix

fix(foormbuilder): linter prettier
  packages/components/xpub-submit/src/components/SubmitPage.js
Due: prettier --write, eslint --fix

fix(readme): change readme files
  packages/components/xpub-formbuilder/README.md
Due: prettier --write

fix(test): fix intgration test
  packages/components/xpub-formbuilder/src/test/FormBuilderPage.integration.test.js
Due: prettier --write, eslint --fix

test(formbuilder): add new tests
  packages/components/xpub-formbuilder/src/components/FormBuilderLayout.jsx
  packages/components/xpub-formbuilder/src/components/FormProperties.jsx
  packages/components/xpub-formbuilder/src/components/molecules/Page.js
Due: prettier --write, eslint --fix

feat(formbuilder): add formbuilder component
  packages/components/xpub-formbuilder/src/components/ComponentProperties.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilder.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderLayout.md
  packages/components/xpub-formbuilder/src/components/config/Elements.js
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-submit/src/components/SubmitPage.js
Due: prettier --write, eslint --fix

test(formbuilder): add new tests
  packages/components/xpub-formbuilder/package.json
  packages/components/xpub-formbuilder/src/components/ComponentProperties.jsx
  packages/components/xpub-formbuilder/src/components/FormBuilderLayout.jsx
  packages/components/xpub-formbuilder/src/components/FormProperties.jsx
  packages/components/xpub-formbuilder/src/components/atoms/Columns.js
  packages/components/xpub-formbuilder/src/components/builderComponents/AbstractField.js
  packages/components/xpub-formbuilder/src/components/molecules/Page.js
  packages/components/xpub-formbuilder/src/test/FormBuilder.test.js
  packages/components/xpub-formbuilder/src/test/FormBuilderLayout.test.js
  packages/components/xpub-formbuilder/src/test/config/noforms.json
  packages/components/xpub-submit/src/components/FormTemplate.js
Due: prettier --write, eslint --fix

fix(test): add data-test-id to tabs
  packages/components/xpub-formbuilder/src/test/FormBuilderLayout.test.js
  packages/ui/src/molecules/Tabs.js
Due: prettier --write, eslint --fix

test(formbuilder): add test form builder layout
  packages/components/xpub-formbuilder/src/test/FormBuilderLayout.test.js
  packages/components/xpub-formbuilder/src/test/config/test.json
  packages/ui/src/molecules/Tabs.js
Due: prettier --write, eslint --fix

feat(client): add AuthorizeWithGraphQL
  .gitignore
  packages/client/package.json
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
  packages/client/src/helpers/AuthorizeWithGraphQL.jsx
  packages/client/src/index.js
  packages/client/test/helpers/AuthorizeWithGraphQL.test.jsx
  packages/server/test/graphql/queries_test.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(client): initialize an authsome mode from config if not supplied
  packages/client/src/helpers/AuthorizeWithGraphQL.jsx
  packages/client/src/index.js
  packages/client/test/helpers/AuthorizeWithGraphQL.test.jsx
Due: prettier --write, eslint --fix

fix: correct yarn.lock file with babel-plugin-istanbul resolution
  yarn.lock
Due: none

fix(client): create a new authsome instance if not supplied
  packages/client/src/helpers/AuthorizeWithGraphQL.jsx
  packages/client/test/helpers/AuthorizeWithGraphQL.test.jsx
Due: prettier --write, eslint --fix

fix(client): fix graphql queries
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
  packages/client/test/helpers/AuthorizeWithGraphQL.test.jsx
Due: prettier --write, eslint --fix

fix(editor): remove warnings
  packages/components/xpub-submit/src/components/FormTemplate.js
  packages/components/xpub-submit/src/components/SubmitPage.js
Due: prettier --write, eslint --fix

feat: add wax-prose-mirror to xpub
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-manuscript/src/components/Manuscript.js
Due: prettier --write, eslint --fix

fix(editor): replace wax with wax-prosemirror
  packages/components/xpub-review/package.json
  packages/components/xpub-review/src/components/decision/DecisionLayout.js
  packages/components/xpub-review/src/components/molecules/EditorWrapper.js
  packages/components/xpub-review/src/components/review/ReviewLayout.js
Due: prettier --write, eslint --fix

fix: use named graphql queries
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
Due: prettier --write, eslint --fix

fix(submit): form was updated correctly
  packages/components/xpub-submit/src/components/Declarations.js
  packages/components/xpub-submit/src/components/SubmitPage.js
Due: prettier --write, eslint --fix

fix(styleguide): remove console
  packages/components/xpub-formbuilder/src/components/FormBuilderLayout.md
Due: prettier --write

fix(subscriptions): get token from local storage on each reconnect
  packages/client/src/components/Root.js
Due: prettier --write, eslint --fix

fix(ui): add classname to appbar so that styles can be extended
  packages/ui/src/molecules/AppBar.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/components/CHANGELOG.md
  packages/components/Login/CHANGELOG.md
  packages/components/Login/package.json
  packages/components/PasswordResetFrontend/CHANGELOG.md
  packages/components/PasswordResetFrontend/package.json
  packages/components/PostsManager/CHANGELOG.md
  packages/components/PostsManager/package.json
  packages/components/Signup/CHANGELOG.md
  packages/components/Signup/package.json
  packages/components/TeamsManager/CHANGELOG.md
  packages/components/TeamsManager/package.json
  packages/components/package.json
  packages/components/xpub-dashboard/CHANGELOG.md
  packages/components/xpub-dashboard/package.json
  packages/components/xpub-formbuilder/CHANGELOG.md
  packages/components/xpub-formbuilder/package.json
  packages/components/xpub-manuscript/CHANGELOG.md
  packages/components/xpub-manuscript/package.json
  packages/components/xpub-review/CHANGELOG.md
  packages/components/xpub-review/package.json
  packages/components/xpub-submit/CHANGELOG.md
  packages/components/xpub-submit/package.json
  packages/styleguide/CHANGELOG.md
  packages/styleguide/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

test(graphql-subscriptions): add initial broken tests
  packages/server/src/graphql/definitions/upload.js
  packages/server/src/graphql/subscriptions.js
  packages/server/test/graphql/subscriptions_test.js
Due: prettier --write, eslint --fix

fix: get current user in authorize component
  packages/client/src/helpers/AuthorizeGraphQLQueries.js
  packages/client/src/helpers/AuthorizeWithGraphQL.jsx
Due: prettier --write, eslint --fix

test: make tests closer to reality
  packages/client/test/helpers/AuthorizeWithGraphQL.test.jsx
Due: prettier --write, eslint --fix

test: fix tests for uploading with graphql subscriptions
  packages/server/src/graphql/definitions/upload.js
  packages/server/test/graphql/subscriptions_test.js
Due: prettier --write, eslint --fix

fix: note are now exported as span to avoid non wanted paged-break
  packages/components/Epub/converters/wax.js
Due: prettier --write, eslint --fix

fix: deploying to new cluster
  .gitlab-ci.yml
Due: none

fix: keep line breaks for footnotes on multiple lines
  packages/components/Epub/converters/wax.js
  packages/components/Epub/themes/default.css
Due: prettier --write, eslint --fix, stylelint

fix: exported notes and fix notes on different lines
  packages/components/Epub/converters/wax.js
  packages/components/Epub/themes/default.css
Due: prettier --write, eslint --fix, stylelint

feat(server): remove require-relative
  package.json
  packages/cli/cli/start.js
  packages/cli/package.json
  packages/cli/src/startup/build.js
  packages/cli/src/startup/start.js
  packages/db-manager/src/helpers/migrationPaths.js
  packages/server/package.json
  packages/server/src/graphql/schema.js
  packages/server/src/register-components.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(component): add state to italics
  packages/components/xpub-edit/src/components/configurable/config/menu.js
Due: prettier --write, eslint --fix

fix(ui): make sure action group does not render empty elements
  packages/ui/src/molecules/ActionGroup.js
Due: prettier --write, eslint --fix

test(client): increase wait times for AuthorizeWithGraphQL
  packages/client/test/helpers/AuthorizeWithGraphQL.test.jsx
Due: prettier --write, eslint --fix

feat($epub): additional converter for ucp
  packages/components/Epub/EpubBackend.js
  packages/components/Epub/converters/index.js
  packages/components/Epub/converters/wax-ucp.js
  packages/components/Epub/process.js
Due: prettier --write, eslint --fix

chore(components): upgrade ui dependency
  packages/components/xpub-teams-manager/package.json
Due: prettier --write
